
<!-- hero unit -->
<!-- /.hero unit -->

<div class="upload-page">
  <div class="container">
    <div class="container">
      <div class="name-and-description">
        <!--title-->
        <div class="audiofy-heading">
          <div class="title">
            <h3 class="title-text">Name & Description</h3>
          </div>
        </div>
        <!--title-->
        <div class="clearfix"></div>
        <div class="form-group">
          <p class="title">name</p>
          <%= f.text_field :title, :class => "form-control form-style" %>
          <div>
            <%= f.check_box :hook %>
            <label>w/ hook</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="category">
              <p class="title">BPM</p>
              <%= f.number_field :bpm, :class => "selectpicker show-tick form-control", "data-live-search" =>"true"%> 
              <!-- #options_for_select(%w[ - 0-49   50-74   75-99   100-124   125-149   150-179  180-N]),{}, -->
            </div>
          </div>
          <div class="col-md-5">
            <div class="category">
              <p class="title">genre</p>
              <%= f.select :genere, Genre.all.collect {|s| [s.name]},{:prompt=>"Select Generes"}, :onchange =>"sub_genre()", :class => "selectpicker show-tick form-control", "data-live-search" =>"true", :id => "track_genere"%> 
            </div>
          </div>
          <div class="col-md-5">
            <div class="category">
              <p class="title">subgenre</p>
              <%=f.select :subgenere, options_for_select([]), {},:class=>"selectpicker show-tick form-control", :id => "track_subgenere", "data-live-search" => "true"%>
            </div>
          </div>
          <!--end of col- md 4 -->
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- file upload -->
            <div class="file-upload">
              <p class="title">image</p>
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                  <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                  <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Upload</span><span class="fileinput-exists">Change</span><%= f.file_field :track_image, id:"files", :class=>"btn-default" %></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
            <!-- file upload -->
          </div>
        </div>
      </div>
      <div class="category-attributes">
        <!--title-->
        <div class="audiofy-heading">
          <div class="title">
            <h3 class="title-text" id="moreInfoInvoker" style="cursor:pointer;">More info</h3>
          </div>
        </div>
        <!--title-->
        <div class="clearfix"></div>
        <div id="moreInfoRegion">
          <div class="row">
            <div class="col-md-12">
              <div class="audio-files-included">
                <p class="title">tags</p>
                <div class="form-group">
                  <div class="control-group">
                    <%= f.text_field :tags, :id => "input-tags-2", :class => "input-tags demo-default selectized", :value => "", :tabindex => "-1"%>
                    <!-- Lead Vocals,Background Vocals/Harmonies,Instrumental Version Included,Vocal Samples -->
                  </div>
                  <small class="help-text">Keywords should all be in lowercase and separated by commas. e.g. happy, merry, jolly, piano, electric guitar, rock, pop, radio</small>
                </div>
              </div>
            </div>
            <!--end of col- md 4 -->
          </div>
          <div class="row moreInfoRegion">
            <div class="col-md-6">
              <div class="bit-rate">
                <p class="title">mood 1</p>
                <%= f.select :mood1, options_for_select(%w[ Select_mood1 Angry Dramatic Energetic Epic Giddy Happy Party Relax Romantic Sad Sensual Somber Suspense Upifting ]), {},:id => "custom-select-one", :class => "selectpicker show-tick form-control", "data-live-search" => "true" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="bit-rate">
                <p class="title">mood 2</p>
                <%= f.select :mood2, options_for_select(%w[ Select_mood1 Angry Dramatic Energetic Epic Giddy Happy Party Relax Romantic Sad Sensual Somber Suspense Upifting ]), {},:id => "custom-select-one", :class => "selectpicker show-tick form-control", "data-live-search" => "true", "data-size" => false%>
              </div>
            </div>
            <!--end of col- md 4 -->
          </div>
          <div class="form-group moreInfoRegion">
            <p class="title">description</p>
            <%= f.text_area :comment, :class => "form-control textarea form-style", :rows => "5"%>
          </div>
          <div class="row moreInfoRegion">
            <div class="col-md-6">
              <div class="bit-rate">
                <p class="title">sample rate</p>
                <%= f.select :sample_rate, options_for_select(["Select_Key","24-Bit_Stereo, 192 kHz", "16-Bit Stereo, 44.1 kHz"]), {},:id => "custom-select-two", :class => "selectpicker show-tick form-control", "data-live-search" => "true"%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bit-rate">
              <p class="title">key</p>
              <%= f.select :key, options_for_select(%w[ Select_Key Ab  A Bb  B C Db  D Eb  E F Gb  G ]) , {},:id => "custom-select-two", :class => "selectpicker show-tick form-control", "data-live-search" => "true"%>
            </div>
          </div>

          
          <!--end of col- md 4 -->
        </div>
        <!--row-->
      </div>
      <div class="tags">
        <!--title-->
        <div class="audiofy-heading">
          <div class="title">
            <h3 class="title-text">Samples</h3>
          </div>
        </div>
        <!--title-->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-8">
            <p class="title">is there any copyright protected samples?</p>
            <%= f.select :unclearedsample, options_for_select(["No", "Yes"]), {}, :id => "unclearedsample",:class => "selectpicker show-tick form-control"%>
            <div class="pull-right uncleared-region" style="display:none">
              <%= link_to "Add", "#",:class=>"title", :id => "addUnclearedSong"%>
            </div>
          </div>
          <!--end of col- md 4 -->
        </div>
        <div class="row uncleared-region" style="display:none" >
          <%= render :partial => "uncleared_songs", :locals => {:f => f}%>
        </div>
      </div>
      <%= render :partial => "licenses_prices", :locals => {:f => f}%>
      <div class="row">
        <div class="col-md-6 disclaimer">
          <p>By publishing this beat, you declare that you shall respect the terms & conditions of the selected license(s).</p>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-default btn-lg btn-block btn-custom" id="publish_submit_button">update</button>
        </div>
      </div>
    </div>
  </div>
</div>

