<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
  <div class="container-fluid no-space">
    <%= render :partial => 'layouts/user_sidebar' %>
    <!-- Page Heading -->
      <div class="row no-space">
        <div class="col-lg-12 no-space">
          <h3 class="page-header prpage-header">
            <i class="fa fa-fw fa-plus"></i>Add New Track
          </h3>
          
          <hr class="hr-space">

          <div class="span9">
            <div class="upload">
              <div class="row-fluid add_track"><!--add track section!-->
                <div class="span3"></div>
                <div class="span3 upload">
                  <div id="file-uploader"></div>
                </div>
                <div class="col-md-6">
                  <div class="row arrowspace">
                      <div class="arrow-left" style="float:left"></div>
                        <div class="arrowlist">1. WAV format only</div>
                    </div>
                    
                    <div class="row arrowspace">
                      <div class="arrow-left" style="float:left"></div>
                        <div class="arrowlist">2. Disable all FX on master bus</div>
                    </div>
                    
                   <div class="row arrowspace">
                      <div class="arrow-left" style="float:left"></div>
                        <div class="arrowlist">3. Make sure beat is free of sound tag</div>
                    </div> 
                    
                    <div class="row arrowspace">
                      <div class="arrow-left2" style="float:left"></div>
                        <div class="arrowlist2">4. If you wanna upload your Track outs: <strong>Wait a bit</strong>!  There will be a spot for that in a couple seconds</div>
                    </div>  
                </div>              
              </div><!--add track section!-->
            </div>
          </div>

        </div>
      </div>
    
    <div id="trackstep2" style="display:none">
     <%= render 'trackstep2' %>
    </div>
</div>

  <script>
    $(function() {
      createUploader();
      $('.tpt_section').hide();
      $(".meter > span").each(function() {
        $(this)
          .data("origWidth", $(this).width())
          .width(0)
          .animate({
            width: $(this).data("origWidth")
          }, 1200);
      });
    });
    
    function createUploader(){            
      var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '<%= upload_trak_file_tracks_path %>.js',
        params: { "authenticity_token": "<%= form_authenticity_token %>" },
        customHeaders: { "X-File-Upload": "true" },
        allowedExtensions: ['wav'],
        onSubmit: function(){
          $("#trackstep2").show();
          $(".upload").hide();
        },
         onProgress: function(id, fileName, loaded, total){
            var percent = Math.round(loaded / total * 100);
            $("#progress_bar_meter").width(percent + '%');
            $("#progress_text").html(percent + '%');
            $("#publish_submit_button").hide();
            if(parseInt(percent) == 100)
            {
              $("#extra_text_msg").html("Track processing to save in system <img src='/assets/loading.gif'>");
            }
          },
        onComplete: function(id, fileName, responseJSON){
          $("#publish_submit_button").show();
          $(".new_track").attr("action","/tracks/"+responseJSON.id+"/publish");
          $(".new_track").attr("id","edit_track_"+responseJSON.id);
          $(".new_track").attr("class","edit_track");
          createtptUploader(responseJSON.id);
          $("#extra_text_msg").html("");
          //window.location.href = "/tracks/"+ responseJSON.id +"/new_track_step2"
        }
      });
    }
    
    function createtptUploader(track_id){            
      var uploader = new qq.FileUploader({
        element: document.getElementById('tpt-file-uploader'),
        action: "/tracks/"+track_id+"/upload_tpt_file.json",
        params: { "authenticity_token": "<%= form_authenticity_token %>" },
        customHeaders: { "X-File-Upload": "true" },
        allowedExtensions: ['zip'],
        onSubmit: function(id, fileName){
          $("#publish_submit_button").hide();
        },
        onComplete: function(id, fileName, responseJSON){
          $('.tpt_section').show();
          $("#publish_submit_button").show();
        }
      });
    }
    
    
  </script>
</body>
</html>