<div class="licenses">
  <!--title-->
  <div class="audiofy-heading">
    <div class="title">
      <h3 class="title-text">Licenses & Pricing</h3>
    </div>
  </div>
  <!--title-->
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="not-for-profit">
        <div class="license">
          <div class="item"> 
            <label for="promotion" class="topcoat-checkbox">
              <%= f.check_box :track_promotion, :id => "promotion", "aria-labelledby" => "checkbox-nfp-label", "aria-describedby" => "checkbox-nfp-description"%>
              <div class="topcoat-checkbox__checkmark"></div>
              <span id="checkbox-nfp-label">Not-for-profit</span>
              <p>Licensee does not make money with the beat</p>
            </label>
          </div>
          <div class="price">
            <%= f.text_field :promotion_licence_price, :class => "form-control", :placeholder => "$", :id => "promotion_price", :readonly => true %>
          </div>
        </div>
        <div class="wave-files">
          <div class="item">
            <%= f.check_box :is_non_profit_wave, :id => "wave_promotion"%>
            <label>Offer stereo Wave file</label>
          </div>
          <div class="price">
            <%= f.text_field :non_profit_wave_price, :class => "form-control", :placeholder => "$", :id => "wave_promotion_price", :readonly => true  %>
          </div>
        </div>
        <div class="wave-files tpt_row" style="display: none">
          <div class="item">
            <%= f.check_box :tpt_promotion, :id => "tpt_promotion"%>
            <label>Offer Track-outs</label>
          </div>
          <div class="price">
            <%= f.text_field :promotion_tpt_price , :class => "form-control", :placeholder => "$", :id => "promotion_tpt_price", :readonly => true %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="non-exclusive">
        <div class="license">
          <div class="item"> 
            <label for="track_exclusive" class="topcoat-checkbox">
              <%= f.check_box :track_profit, :id => "track_exclusive", "aria-labelledby" => "checkbox-nfp-label", "aria-describedby" => "checkbox-nfp-description"%>
              <div class="topcoat-checkbox__checkmark"></div>
              <span id="checkbox-label">Non-exclusive</span>
              <p>Licensee makes money with the beat.</p>
            </label>
          </div>
          <div class="price">
            <%= f.text_field :profit_licence_price , :class => "form-control", :placeholder => "$", :id => "exclusive_licence_price", :readonly => true %>
          </div>
        </div>
        <div class="wave-files">
          <div class="item">
            <%= f.check_box :is_non_exclusive_wave, :id => "wave_exclusive"%>
            <label>Offer stereo Wave file</label>
          </div>
          <div class="price">
            <%= f.text_field :non_exclusive_wave_price, :class => "form-control", :placeholder => "$", :readonly => true, :id => "exclusive_wave_price"%>
          </div>
        </div>
        <div class="wave-files tpt_row" style="display: none">
          <div class="item">
            <%= f.check_box :tpt_profit, :id => "tpt_exclusive"%>
            <label>Offer Track-outs</label>
          </div>
          <div class="price">
            <%= f.text_field :profit_tpt_price , :class => "form-control", :placeholder => "$", :id => "exclusive_tpt_price", :readonly => "exclusive_tpt_price"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="exclusive">
        <div class="license">
          <div class="item"> 
            <label for="track_profit" class="topcoat-checkbox">
              <%= f.check_box :track_exclusive, "aria-labelledby" => "checkbox-label", "aria-describedby" => "checkbox-description", :id => "track_profit"%>
              <div class="topcoat-checkbox__checkmark"></div>
              <span id="checkbox-label">Exclusive</span>
              <p>Licensee has exclusive right to make money from this beat. Beat has never been sold before, nor will after.</p>
            </label>
          </div>
          <div class="price">
            <%= f.text_field :exclusive_licence_price , :class => "form-control", :placeholder => "$", :readonly => true, :id => "profit_licence_price"%>
          </div>
        </div>
        <div class="wave-files">
          <div class="item">
            <%= f.check_box :is_exclusive_wave, :id => "wave_profit"%>
            <label>Offer stereo Wave file</label>
          </div>
          <div class="price">
            <%= f.text_field :exclusive_wave_price, :class => "form-control", :placeholder => "$", :readonly => true, :id => "wave_profit_licence_price" %>
          </div>
        </div>
        <div class="wave-files tpt_row" style="display: none">
          <div class="item">
            <%= f.check_box :tpt_exclusive, :id => "tpt_profit"%>
            <label>Offer Track-outs</label>
          </div>
          <div class="price">
            <%= f.text_field :exclusive_tpt_price, :class => "form-control", :placeholder => "$", :readonly => true, :id => "profit_tpt_price"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
