	
    <div class="span9"><!--right section!-->
         <div class="">
         
         <!-- left section-->
         
       <div class="left_part">
       <div class="heading-one"><h1>Agreement for a promotion use only.</h1></div>
       
       
       
       <div class="con_sec">
       <%= image_tag "u7_normal.png", :class => 'sign-img' %>  
       <p>This license allows you to incorporate/rearrange this beat into a NON-MONETIZING song, music video and/or live performance.   That means no selling, no leasing, no performance fees.  Only giveaways, free downloads & good-hearted shows.  For more explanation about the purpose of this license, you can read this article.</p>
       <br>
       <p>Licensor : < Name of producer > (hereinafter: the «Producer»)</p>
        <p>Licensee: < Your Name > (hereinafter: «You»)</p>
          <p> Beat: < Name of beat > < Serial # of beat > (hereinafter: the «Recording»)</p>
          <br>
          
           <p> <b>1.     Just so we speak the same language…</b></p>
            <p>(a)     The “Recording“ is the beat you buy on Beatbucks.</p>
                    <p>(b)     The “Derivative’’ is the state of the Recording once its incorporated in:</p>
                    <p>i.     a musical performance (e.g. recording vocals, a mash-up, a live performance);</p>
                    <p>or</p>
                    <p>ii.     a musical performance and its music video;</p>
                    <br>
       </div>
       
       
       
       <div class="tick_img-sec">
       <%= image_tag "u5_normal.png" %>
       <p>2.     You CAN:</p>
       </div>
       <div class="con_sec">
       
        <p>(a) modify the Recording.  In other words, you can remove some parts, add new ones, add some effects, play around with gain, EQ's, dynamics, etc;</p>
         <p>(b) make a maximum of one (1) Derivative of this Recording.  In order to make another Derivative of this Recording, you will have to purchase a license again.</p>
          <p>(c)  make as many copies as you want of the Derivative, but…</p>
       
       
       <p>(d)     …as long as it's distributed for free.</p>
       <p>     e.g.     You can GIVE out as many mixtapes/albums as you want, for free.  </p>
        <div class="con_sec">
       <p>You can let people download your song (the Derivative) on any                          website, for free.</p>
       <p>      If you make a music video and put it on YouTube, monetization is not enabled.</p>
       </div>
       </div>
       <%= image_tag "u1_normal.png", :class => 'img1' %>
       
       <!-- you can't-->
       
         <div class="con_sec">
         <h3>3. <span> You CAN’T:</span></h3>
         <h4>(a)  <span> resell or sublicense the Recording (that is, in its current version).</span></h4>
          <h4>(b)  <span>sell or license the Derivative;</span></h4>
                    <h4>(c)  <span> distribute the Derivative through a third party that pays you to use it;</span></h4>
                           <h4>(d)  <span>  make the Derivative generate income from publicity (e.g. YouTube's monetization program);</span></h4>
                                  <h4>(e)  <span> use the Recording or its Derivative in a radio or TV advertisement;</span></h4>
                                         <h4>(f)  <span> use the Recording as a theme song for a radio or TV show;</span></h4>
                                                <h4>(g)  <span> associate the Recording and/or its Derivative to a brand, cause or institution.</span></h4>
                                                
         </div>
       
        <!-- you can't-->
        <%= image_tag "cl.png", :class => 'img1' %>
        <!-- right-->
        <div class="con_sec">
         <h3>4. <span>RIGHTS</span></h3>
         <h4>(a)  <span> Producer withholds 100% of publishing rights on Recording.</span></h4>
          <h4>(b)  <span>  Producer withholds 50% (and grants you the other 50%) of publishing rights on Derivative.  Therefore, both parties shall each earn 50% of performance, synchronization, and mechanical royalties generated by this Derivative.</span></h4>
                   
                                                
         </div>
        <!-- right-->
        
         <!-- Your DUTIES-->
        <div class="con_sec">
         <h3>5. <span> Your DUTIES</span></h3>
         <%= image_tag "u3_normal.png", :class => 'du_icon' %>
         <h4>(a)  <span>You have to give credit to the Producer― in a way that is fairly visible ―along with whichever medium is being used to communicate the Derivative to the public.  For instance, if you're making physical copies, the Producer's name has to appear on the liner.</span></h4>
          <h4>(b)  <span> In the event that there’s an ISRC number assigned to the Derivative, you have to communicate the aforesaid number and the title of the Derivative to the Producer within thirty (30) days.</span></h4>
             <h4>(c)  <span> If you collect monies on Producer’s behalf, it is your responsibility to make follow his share ―stated above in par. 4― to his Paypal account (or through any other money transfer instances, as long as both parties agree on it).</span></h4> 
             <h4><b>Other license terms</b></h4>
             <h4>(6)  <span> The Producer has the right to revoke this license if you fail to comply with one of these terms.</span></h4> 
             
             <h4>(7)  <span> All of the above apply on the Recording’s "Track-Per-Track" files.</span></h4> 
             
             <h4>(8)  <span> You and the Producer shall not disclose the terms of this agreement to any other persons or entity.</span></h4> 
             
                     
                                                
         </div>
        <!-- Your DUTIES-->
        
        
       </div>
       
          <!-- left section-->
          
          
          <!-- right section-->
          
          <div class="right_side_DIV">
        
          <div class="col2-DIV">
          
          </div>
          
        
        <div class="prw_sec">
        <div class="pro">Promotion Only</div>
        <%= image_tag "toggle-img.png" %>
        </div>
          
          
          
           <div class="col2-DIV">
           <div class="lic-div">
           <%= image_tag "check.png" %>
           <p>License</p>
           <div class="amt">$<%= @unit_price %> </div>
           </div>
           
          <% if @unit_tpt_price.present? %>
          <div class="lic-div"><%= image_tag "check.png" %>
             <p>TPT</p>
           <div class="amt">$<%= @unit_tpt_price %> </div>
          </div>
          <% end%>
           
           
           </div>
          
          
          <div class="total_sec">
          <div class="total">TOTAL</div>
          <div class="total_amt_div">
          <div class="doll">$</div>
          <div class="fif" id="total_amount_div"><%= @unit_price %></div>
          </div>
          </div>
          
        </div>
         
          <!-- right section-->
       
       
   		 <!--right boder!-->
       </div><!--right section!-->
   