<!-- hero unit -->
<!-- /.hero unit -->
<div class="upload-page">
  <div class="container">
    <div class="container">
      <!-- left wing -->
      <div class="left-wing">
        <!--title-->
        <div class="audiofy-heading">
          <div class="title">
            <h3 class="title-text">Add a new beat</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--title-->
        <div class="files">
          <div class="row">
            <div class="col-md-8">
              <div class="fileinput fileinput-new input-group col-md-12" data-provides="fileinput" id="trackUploadNew">
              </div>
            </div>
            <div class="col-md-4">
              <div class="widget">
                <h4 class="heading">Before your Upload</h4>
                <ul class="list">
                  <li>
                    <h5 class="sub-heading">Disable all FX on master bus</h5>
                  </li>
                  <li>
                    <h5 class="sub-heading">Make sure beat is free of sound tag</h5>
                  </li>
                  <li>
                    <h5 class="sub-heading">Wave format only!</h5>
                  </li>
                  <li>
                    <h5 class="sub-heading">If you wanna upload your Track-outs: <span>Wait a bit!</span> There will be a section for that in a couple seconds</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- left wing -->
    </div>
  </div>
</div>
