<style type="text/css">
.meter { 
      height: 20px;  /* Can be anything */
      width:140%;
      display: inline-block;
      position: relative;
      background: #ff9999;
      
    
    
    }
    .meter > span {
      display: block;
      height: 100%;
      
      background-color: rgb(43,194,83);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(61,194,43)),
        color-stop(1, rgb(194,240,84))
       );
      background-image: -moz-linear-gradient(
        center bottom,
        rgb(61,194,43) 37%,
        rgb(194,240,84) 69%
       );
    
      position: relative;
      overflow: hidden;
    }
    .meter > span:after, .animate > span > span {
      content: "";
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-image: 
         -webkit-gradient(linear, 0 0, 100% 100%, 
            color-stop(.25, rgba(255, 255, 255, .2)), 
            color-stop(.25, transparent), color-stop(.5, transparent), 
            color-stop(.5, rgba(255, 255, 255, .2)), 
            color-stop(.75, rgba(255, 255, 255, .2)), 
            color-stop(.75, transparent), to(transparent)
         );
      background-image: 
        -moz-linear-gradient(
          -45deg, 
            rgba(255, 255, 255, .2) 25%, 
            transparent 25%, 
            transparent 50%, 
            rgba(255, 255, 255, .2) 50%, 
            rgba(255, 255, 255, .2) 75%, 
            transparent 75%, 
            transparent
         );
      z-index: 1;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      -webkit-animation: move 2s linear infinite;
         -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
             -moz-border-radius-topright: 8px;
          -moz-border-radius-bottomright: 8px;
                 border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
          -webkit-border-top-left-radius: 20px;
       -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius-topleft: 20px;
           -moz-border-radius-bottomleft: 20px;
                  border-top-left-radius: 20px;
               border-bottom-left-radius: 20px;
      overflow: hidden;
    }


</style>



<%= form_for @track, :method => "POST" do |f| %>
  
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"> </script> -->
  <script>
    $(function() {
      
      $(".meter > span").each(function() {
        $(this)
          .data("origWidth", $(this).width())
          .width(0)
          .animate({
            width: $(this).data("origWidth")
          }, 1200);
      });
    });

    $(function() {
      $(".meter > span").each(function() {
        $(this)
          .data("origWidth", $(this).width())
          .width(0)
          .animate({
            width: $(this).data("origWidth")
          }, 1200);
      });
    });

  function sub_genre()
  {
    $.ajax({
      type: 'GET',
      url: "/home/sub_genres",
      data: {
        'genres' : $("#track_genere").val()
      }
    }).done(function(text) {
      $('#track_subgenere').empty().append(text);
    });
  }
  


$(document).ready(function(){ 
   
   $("#moreinfo").hide();
   $('#promotion_price, #promotion_tpt_price, #promotion_tpt_price, #profit_licence_price, #profit_tpt_price, #exclusive_licence_price, #exclusive_tpt_price').attr('readonly', 'readonly');
    
   
$('.morinfo').click(function(){
           $("#moreinfo").toggle(1000);

 });

$('.upload').click(function(){

          $(".tracksection").show();
          
 });



$("#unclearedsample").change(function(){
   
   $( "select option:selected").each(function(){
                if($(this).attr("value")=="Yes"){
                  $("#sample").show(1000);
                  $('#removesample1').hide();
                  $('#addsample1').show();
     
                  }
                if($(this).attr("value")=="No"){
                    $("#sample").hide();
                    $("#sample1").hide();
                    $("#sample2").hide();
                     
                }

            });
        }).change();

$('#addsample1').click(function(){
          $('#addsample1').hide();
          $("#sample1").show();
          $('#removesample1').show();
          $('#addsample2').show();
          $('#removesample2').hide();
 });

$('#addsample2').click(function(){
          $("#sample2").show();
          $('#addsample2').hide();
          $('#removesample2').show();
 });

$('#removesample1').click(function(){
                    $("#sample1").hide();
                    $('#addsample1').show();
                    $('#removesample1').hide();
 });

$('#removesample2').click(function(){
                    $("#sample2").hide();
                    $('#addsample2').show();
                    $('#removesample2').hide();
 });


 $("#promotion").click(function () {

 if ($(this).is(":checked")) {
   
    $("#promotion_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#promotion_price").attr('readonly', 'readonly');
        }
       
    });

$("#tpt_promotion").click(function () {

 if ($(this).is(":checked")) {
   
    $("#promotion_tpt_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#promotion_tpt_price").attr('readonly', 'readonly');
        }
       
    });

$("#track_exclusive").click(function () {

 if ($(this).is(":checked")) {
   
    $("#exclusive_licence_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#exclusive_licence_price").attr('readonly', 'readonly');
        }
       
    });

$("#tpt_exclusive").click(function () {

 if ($(this).is(":checked")) {
   
    $("#exclusive_tpt_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#exclusive_tpt_price").attr('readonly', 'readonly');
        }
       
    });

$("#track_profit").click(function () {

 if ($(this).is(":checked")) {
   
    $("#profit_licence_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#profit_licence_price").attr('readonly', 'readonly');
        }
       
    });


$("#tpt_profit").click(function () {

 if ($(this).is(":checked")) {
   
    $("#profit_tpt_price").removeAttr('readonly', 'readonly');
        } else {
 
     $("#profit_tpt_price").attr('readonly', 'readonly');
        }
       
    });




 });





  </script>

 
</head>
<div id="page-wrapper">
  <div class="container-fluid no-space">
    <!-- Page Heading -->
    <div class="row no-space">
      <div class="col-lg-12 no-space">
        <div class="container-fluid no-space">  
          <div class="row">
            <div class="col-md-3 text-center settingmembership">
              Upload Status
            </div>
            <div class="col-md-8 text-left">
              <div class="p_bar"><!--progress bar section!-->
                <div class="meter orange nostripes" style="width:70%;">
                    <span id="progress_bar_meter" style="width: 33.3%"></span>
                </div>&nbsp;
                <span id="progress_text"> </span>     
              </div><!--progress bar section!-->
              <div id="extra_text_msg"></div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3 text-center settingmembership">Song Information</div>
            <div class="col-md-7 text-left">
              <p class="settingTitle">Title</p>
              <p><%= f.text_field :title,:class => "form-control settingsubTitle inputtextareaHeight" %></p>
            </div>
            <div class="col-md-2 checkmeoutspace">
              <form>
                <label class="checkbox settingsubTitle">
                  <%= f.check_box :hook %> w / hook
                </label>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-center settingmembership"></div>
          <div class="col-md-7 text-left">
            <div class="row">
              <div class="col-md-2">
                 <p class="settingsubTitle">BPM</p>
                <p><%= f.select :bpm, options_for_select(%w[ - 0-49   50-74   75-99   100-124   125-149   150-179  180≤∞]), :class => "settingsubTitle selectrecet" %> </p>
              </div>
              <div class="col-md-5">
               <p class="settingsubTitle">Genre</p>

               <%= f.select :genere, Genre.all.collect {|s| [s.name]},{:prompt=>"Select Generes"},:onchange =>"sub_genre()", :class => "settingsubTitle selectrecet"%> 
              </div>
              <div class="col-md-5">
               <p class="settingsubTitle">Subgenre</p>
               <%=f.select :subgenere, {},:prompt=>"Select Sub Generes", :class=>"settingsubTitle selectrecet"%>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 no-space"><!--box section!-->
              <div class = "morinfo"><%= image_tag ("moreinfo.jpg") %></div>
              <div class="col-md-12 col-lg-12 text-left no-space">
                <div id ="moreinfo" style="padding-top: 5px;">
                  <div class="row"  >
                    <div class="col-md-2">
                     <p class="settingsubTitle3">Key</p>
                       <%= f.select :key, options_for_select(%w[ Select_Key Ab  A Bb  B C Db  D Eb  E F Gb  G ]) %>
                      </div>
                      <div class="col-md-5">
                       <p class="settingsubTitle3">Mood 1</p>
                         <%= f.select :mood1, options_for_select(%w[ Select_mood1 Angry Dramatic Energetic Epic Giddy Happy Party Relax Romantic Sad Sensual Somber Suspense Upifting ]), :class=>"settingsubTitle selectrecet" %>
                      </div>
                     <div class="col-md-5">
                       <p class="settingsubTitle3">Mood 2</p>
                         <%= f.select :mood2, options_for_select(%w[ Select_mood1 Angry Dramatic Energetic Epic Giddy Happy Party Relax Romantic Sad Sensual Somber Suspense Upifting ]), :class=>"settingsubTitle selectrecet" %>
                      </div>
                    </div>
                    <div class="text-left no-space" style="margin-top:15px !important;">
                      <p class="settingsubTitle3">Tags</p>
                      <%= f.text_field :tags,  :class=>"form-control settingsubTitle inputtextareaHeight" %>
                    </div>
                    <div class="text-left no-space" style="margin-top:15px !important;">
                      <p class="settingsubTitle3">Comment</p>
                      <%= f.text_area :comment, :class=>"form-control settingsubTitle" %>
                    </div>
                    <div class="text-left no-space" style="margin-top:15px !important;">
                      <p class="settingsubTitle3">Image</p>
                      <p><%= f.file_field :track_image, id:"files", :class=>"btn-default" %></p>
                      <p><%= image_tag @track.track_image, id:"list", :class=>"thumb" %></p>        
             </div>
          </div>
         </div>

      </div>
     </div>
  </div>
                       <hr>
                        <div class="row">
                            <div class="col-md-3 text-center settingmembership">
                                Rights
                            </div>
                            <div class="col-md-3 settingsubTitle">
                               <p>Are there any uncleared samples?</p>
                               
                               <div class="col-md-5 no-space">
                            
                               <div id = "unclearedsample" > <%= f.select :unclearedsample, options_for_select(%w[ No Yes ]), :class=>"settingsubTitle selectrecet" %> </div>
                               
                            
                            </div>
                               
                            </div>


                             <div class="clear"></div>
                            <div class="col-md-3 col-lg-3"></div>
                             <div class="col-md-8 col-lg-8 red box">
                              
                                    
                                    <div class="text-left no-space">
                                     
                                      <div class="col-md-6 col-lg-6 no-space">
                                 <p class="settingsubTitle3">Original song</p>
                                 <p><%= f.text_field :unclearedsong, :class=>"form-control settingsubTitle inputtextareaHeight" %> </p>
                                      </div>

                  <div class="col-md-6 col-lg-6">
                     <p class="settingsubTitle3">Artist</p>
                     <p><%= f.text_field :unclearedartist, :class=>"form-control settingsubTitle inputtextareaHeight" %> </p>
                  </div>
                          
                               </div>
                                   
                                    <div class="text-left no-space" style="margin-top:15px !important;">
                                 <p class="settingsubTitle3">Description</p>
                                 <p><%= f.text_field :uncleredDescription,:class=>"form-control settingsubTitle"  %> </p>
                          
                               </div>
                                   
                                    
                                    
                             </div>
                            
                           </div>


                       <hr>
                       
                       <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                          Track-per-Track (optional)
                            <p class="settingsubTitle2 text-left col-xs-offset-2">Many customers will appreciate working with your track-outs; this gives them more mixing latitude.</p>
                        </div>
                        <div class="col-md-3 text-left browsebg">
                          <div id="tpt-file-uploader" submit-url="" align="center">
                          
                          
                         </div>
                          </div>
                        <div class="col-md-5 implistpad">
                          <p class="settingsubTitle">IMPORTANT</p>
                            <ul class="nav settingsubTitle listLine">
                              <li>1) File must be in a compressed (i.e.zip) folder</li>
                                <li>2) Make sure file are free of sound tags</li>
                                <li>3) Upload = patience;)</li>
                            </ul>
                        </div>
                        </div>
                        
                       <hr>
                       <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                          License(s) & Pricing
                          <span></span>
                            
                        </div>
                        <div class="col-md-4 text-left">
                          <div class="well mspace">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right">
                                  <%= f.check_box :track_promotion, :id => "promotion"  %>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h5 class="hmspace no-space settingmembership">Promotion only</h5>
                                    <span class="settingsubTitle4">Licensee does not make money with the beat*.</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">License price</span>
                                   
                                      <%= f.text_field :promotion_licence_price, :id => "promotion_price", :class => "settingsubTitle2 selectrecet"%>
                                   
                                </div>
                               
                            </div><br/><br/><br/><br/>
                            <div class="row-fluid tpt_section">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right no-space">

                                 <%= f.check_box :tpt_promotion,:id => "tpt_promotion", :class=>"hmspace no-space settingmembership2"%>
                                  
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h6>Offer TPT as an option</h6>
 
                                    <span class="settingsubTitle4">Amount will be charged <a href="#">in addition</a> to license price</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">TPT price</span>
                                   
                                      <%= f.text_field :promotion_tpt_price, :id =>"promotion_tpt_price", :class=>"selectrecet settingsubTitle2"  %>
                                   
                                </div>
                               
                            </div>
                            </div>
                           
                          </div>
                        </div>




                          
                        <div class="col-md-4 text-left">
                           <div class="well mspace">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right no-space">
                                  <%= f.check_box :track_exclusive, :id => "track_exclusive" %>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h5 class="hmspace no-space settingmembership">Exclusive</h5>
                                    <span class="settingsubTitle4">Customer has a lifetime exclusive right to make money from this beat.  Beat has never been sold before, nor will after**.</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">License price</span>
                                   
                                      <%= f.text_field :exclusive_licence_price, :id => "exclusive_licence_price", :class=>"selectrecet settingsubTitle2"  %>
                                   
                                </div>
                               
                            </div><br/>
                            <div class="row-fluid tpt_section">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right no-space">
                                  <%= f.check_box :tpt_exclusive, :id => "tpt_exclusive", :class=>"hmspace no-space settingmembership2" %> 
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h6>Offer TPT as an option</h6>
                                    <span class="settingsubTitle4">Amount will be charged <a href="#">in addition</a> to license price</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">TPT price </span>
                                   
                                    <%= f.text_field :exclusive_tpt_price, :id => "exclusive_tpt_price", :class=>"selectrecet settingsubTitle2"  %>
                                   
                                </div>
                               
                            </div>
                           
                          </div>  
                        </div>
                        </div>  
                          
                        </div>






                       
                       <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                        
                            
                        </div>
                        <div class="col-md-4 text-left">
                          <div class="well mspace">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right">
                                  <%= f.check_box :track_profit,:id => "track_profit" %> 
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h5 class="hmspace no-space settingmembership">For profit</h5>
                                    <span class="settingsubTitle4">Customer makes money with the beat.</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">License price</span>
                                   
                                      <%= f.text_field :profit_licence_price,:id =>"profit_licence_price",:class=>"selectrecet settingsubTitle2"   %>
                                   
                                </div>
                               
                            </div><br/><br/><br/><br/>
                            <div class="row-fluid tpt_section">
                            <div class="row">
                            
                              <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-right no-space">
                                  <%= f.check_box :tpt_profit,:id =>"tpt_profit", :class=>"hmspace no-space settingmembership2" %>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <h6 >Offer TPT as an option</h6>
                                    <span class="settingsubTitle4">Amount will be charged <a href="#">in addition</a> to license price</span>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                  <span class="settingsubTitle">TPT price</span>
                                   
                                      <%= f.text_field :profit_tpt_price, :id =>"profit_tpt_price", :class=>"selectrecet settingsubTitle2"  %>
                                   
                                </div>
                              </div>
                           </div>
                          </div>
                        </div>
                          
                        <div class="col-md-4 text-left">
                          <p class="settingsubTitle2">* except from performance royalties due to statutory usage, like when aired on the radio or on some non-interactive streaming services  </p>
                              <p class="settingsubTitle2">
                                <i>
                                  ** Therefore, if this license is bought, the beat will be removed.  In the event that any other license is sold, the Exclusive license selection will be removed and won't be available anymore for this beat (in order to respect the principle of exclusivity (it's not exclusive if 2 different entity have the right to use it).
                                </i>
                              </p>
                        </div>  
                      </div>
                       <hr>
                       
                       <div class="row">
                        <div class="col-md-3"></div>
                            <div class="col-md-7">
                              <p class="settingsubTitle">By publishing this beat, you declare that you shall respect the terms and conditions of the selected license(s).</p>
                            </div>
                            <div class="col-md-2">
                              <div class="span4" id="publish_submit_button">
                                <%= image_submit_tag("publish.png") %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
  
  <script type="text/javascript" language="javascript">// <![CDATA[
      function showHide() {
          var ele = document.getElementById("showHideDiv");
          if(ele.style.display == "block") {
                  ele.style.display = "none";
            }
          else {
              ele.style.display = "block";
          }
      }
// ]]></script>
<script type="text/javascript">

        $(document).ready(function(){

            $("select").change(function(){

                $( "select option:selected").each(function(){

                    if($(this).attr("value")=="Yes"){

                        $(".box").hide();

                        $(".red").show();

                    }

                    if($(this).attr("value")=="No"){

                        $(".box").hide();

                        $(".green").show();

                    }

                    
                });

            }).change();

        });

    </script>

<% end %>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; 
    for (var i = 0, f; f = files[i]; i++) {
      if (!f.type.match('image.*')) {
        continue;
        }

      var reader = new FileReader();
        reader.onload = (function(theFile) {
        return function(e) {
          var span = document.createElement('span');
          document.getElementById("list").src=e.target.result; 
        };
      })(f);
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>

<style>
  .thumb {
    height: 100px;
    border: 1px solid #FFFFFF;
    margin: 10px 5px 0 0;
  }
</style> 
