<div class="container-fluid no-space">
<%= render :partial => 'layouts/user_sidebar' %>
<!-- Page Heading -->
<div class="row no-space">
<div class="col-lg-12 no-space">
<h3 class="page-header prpage-header">
 <i class="fa fa-fw fa-stop"></i>Track
</h3>
<hr class="hr2">
  <div class="container-fluid no-space">  
      
       <div class="row">
        
        <div class="col-md-5">
             <div class="input-group tracksearchmspace">
                 <input type="text" class="form-control tracksinputheight">
                 <span class="input-group-addon searchbtnback">filter</span>
            </div>
        </div>
      
       </div>
       
      <div class="row trackTitle mspacetop">
          <div class="col-md-12">
            <div class="col-md-1 col-xs-1  text-center">Listen</div>
            <div class="col-md-2 col-xs-2 text-left">Beats</div>
            <div class="col-md-1 col-xs-1 text-center">Play</div>
            <div class="col-md-1 col-xs-1  text-center">Sells</div> 
            <div class="col-md-2 col-xs-2  text-center">Conversion (%)</div>
            <div class="col-md-1 col-xs-2  text-center">License(s)</div>
            <div class="col-md-1 col-xs-2 text-center">Sound Pack</div>
            <div class="col-md-1 col-xs-2  text-center">Status</div>
           </div> 
       </div>
       
      
       
       <hr class="hr2 hrcolor">
       <% @tracks.each_with_index do |track, a| %>

       
       
       <div class="row trackTitle mspacetop">
            <div class="col-md-12">
            <div class="col-md-1 col-xs-2 text-center">
                <div id="play-bg" style="background-image:url(<%= track.track_image.url(:thumb) %>); "  >
               <%= render 'tracks/track_player', :track => track, id: "player" %>
             </div>
            </div>
            <div class="col-md-2 col-xs-2 text-left trackTitledart">
              <div id="track_<%= track.id %>">
                <p><%= track.title %></p></div>
                <div class="dropdown clearfix">
                <button data-toggle="dropdown"  type="button" class="btn dropdown-toggle btnback">
                    Actions
                    <span class="caret downarrowcolor"></span>
                  </button>
                  
                  <ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem"><%= link_to "Edit", edit_track_path(track) %></a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem"><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %></a></li>
                     </ul>
                </div>
            </div>
            <div class="col-md-1 col-xs-2 text-center trackTitledart"><i>512</i></div>
            <div class="col-md-1 col-xs-2 text-center trackTitledart"><i>2</i></div>    
            <div class="col-md-2 col-xs-1 text-center trackTitledart"><i>0,39</i></div>
            <div class="col-md-1 col-xs-2 trackTitledart text-left">
              <i>

                <%= track.track_promotion == true ? "Promotion " : "" %>
                        <%= track.track_profit == true ? "Profit " : "" %>
                        <%= track.track_exclusive == true ? "Exclusive " : "" %>
              </i>
              </div>
            <div class="col-md-1 col-xs-1 text-center trackTitledart">
              <i>
                <%= track.tpt.present? ? "Available" : "Not Available" %>
              </i>
            </div>
            
            <div class="col-md-1 col-xs-1 text-center trackTitledart">
              <i>
                <%= track.active == true ? "Publised" : "Not Published" %>
              </i>
            </div>

             


           </div> 
       </div>

       <hr class="hmspace">
       <% end %>
       
    <hr class="hr2 hrcolor hrmarginbottom">
   
   <div class="row trackTitle">
            <div class="col-md-12">
            <div class="col-md-1 col-xs-2 text-center">
                
            </div>
            <div class="col-md-2 col-xs-2 text-left trackTitle">
                <i><%= @tracks.size %> beats</i>
            </div>
            <div class="col-md-1 col-xs-2 text-center trackTitle"><i>712</i></div>
            <div class="col-md-1 col-xs-2 text-center trackTitle"><i>5</i></div>    
            <div class="col-md-2 col-xs-1 text-center trackTitle"><i>0,96</i></div>
           
           </div> 
       </div>  
   </div>

</div>

</div>
</div>

<style type="text/css">
  
  #play-bg{
    margin: -6px;
  }
</style>