

<div class="play_btn" url="<%= increment_play_count_track_path(track,:format => :json) %>">
  <div class="ui360">
    <a href="<%= track.mp3_track_file.expiring_url(24.hours) %>">
    </a>
  </div>
</div>

<%= stylesheet_link_tag '360player.css' %>
<%= javascript_include_tag '360player.js' %>
<script type="text/javascript">
soundManager.setup({
  // path to directory containing SM2 SWF
  url: '/home/ajju/Documents/Aptana Studio 3 Workspace/inst/MyBackup-Beatbucks/Beatbucks_newdesigns/app/assets/swf/'
});
</script>