<div class="uncleared-song">
  <div class="row">
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">song</p>
        <%= f.text_field :unclearedsong, :class => "form-control form-style" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">Artist</p>
        <%= f.text_field :unclearedartist, :class => "form-control form-style" %>
      </div>
    </div>
  </div>
  <!--end of col- md 4 -->
  <div class="form-group">
    <p class="title">description</p>
    <%= f.text_area :uncleredDescription, :class => "form-control textarea form-style", :rows => "2"%>
  </div>        
</div>
<div id="uncleared-song1" style="display:none">
  <div class="row">
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">song</p>
        <%= f.text_field :unclearedsong1, :class => "form-control form-style" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">Artist</p>
        <%= f.text_field :unclearedartist1, :class => "form-control form-style" %>
      </div>
    </div>
  </div>
  <!--end of col- md 4 -->
  <div class="form-group">
    <p class="title">description</p>
    <%= f.text_area :uncleredDescription1, :class => "form-control textarea form-style", :rows => "2"%>
  </div>        
</div>
<div id="uncleared-song2" style="display:none">
  <div class="row">
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">song</p>
        <%= f.text_field :unclearedsong2, :class => "form-control form-style" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">Artist</p>
        <%= f.text_field :unclearedartist2, :class => "form-control form-style" %>
      </div>
    </div>
  </div>
  <!--end of col- md 4 -->
  <div class="form-group">
    <p class="title">description</p>
    <%= f.text_area :uncleredDescription2, :class => "form-control textarea form-style", :rows => "2"%>
  </div>        
</div>
<div id="uncleared-song3" style="display:none">
  <div class="row">
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">song</p>
        <%= f.text_field :unclearedsong3, :class => "form-control form-style" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">Artist</p>
        <%= f.text_field :unclearedartist3, :class => "form-control form-style" %>
      </div>
    </div>
  </div>
  <!--end of col- md 4 -->
  <div class="form-group">
    <p class="title">description</p>
    <%= f.text_area :uncleredDescription3, :class => "form-control textarea form-style", :rows => "2"%>
  </div>        
</div>
<div id="uncleared-song4" style="display:none">
  <div class="row">
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">song</p>
        <%= f.text_field :unclearedsong4, :class => "form-control form-style" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bit-rate">
        <p class="title">Artist</p>
        <%= f.text_field :unclearedartist4, :class => "form-control form-style" %>
      </div>
    </div>
  </div>
  <!--end of col- md 4 -->
  <div class="form-group">
    <p class="title">description</p>
    <%= f.text_area :uncleredDescription4, :class => "form-control textarea form-style", :rows => "2"%>
  </div>        
</div>
