$(".span9").html("<%= escape_javascript(render("/tracks/form")) %>");

  function sub_genre()
  {
    $.ajax({
      type: 'GET',
      url: "/home/sub_genres",
      data: {
        'genres' : $("#track_genere").val()
      }
    }).done(function(text) {
      $('#track_subgenere').empty().append(text);
    });
  }

$(document).ready(function(){
$("#moreinfo").hide();
   $(".tracksection").hide();
    });


$('.morinfo').click(function(){

           $("#moreinfo").toggle(1000);

 });

$('.upload').click(function(){


          $(".tracksection").show();
          $(".upload").hide();
 });