
<div class="container"><!--container part-->
  
  <div class="row-fluid main_con"><!--main con!-->
       
       <div class="span6 bdr"><!--middle section!-->
          <div class="mid_sec"><!--mid main!-->
            <div class="row-fluid top_h"><!--top heading!-->
              <div class="span12"> <h2><%= image_tag ("track_ico.png") %> Track</h2></div>
            </div>
              <div class="search_sec"><!--search section1-->
                  <input type="text"  placeholder='Best search'/>
                    <label><%= image_tag ("search_icon.png") %></label>
                </div><!--search section1-->
                
                <div class="unit_sec"><!--unit section!-->
                  <ul class="cat">
                      <li><a href="#">Units</a></li>
                        <li><a href="#">Packs</a></li>
                    </ul>
                    <div class="sort">Sort <%= image_tag ("down-arrow.png") %></div>
                </div><!--unit section!-->
                <div class="clr"></div>
                
                <% @tracks.each_with_index do |track, a| %>
                <div class="song_sec "><!--song section!-->
                  <div class="play_btn">
                    <div class="ui360">
                      <a href="<%= track.mp3_track_file.expiring_url(24.hours) %>">
                      </a>
                    </div>
                  </div>
                  <div class="rt_sec tracks_row" id="track_<%= track.id %>"><!--right section!-->
                    <h4><%= track.title %> <span>by <%= track.user ? track.user.Firstname : "" %></span></h4>
                    <p><!--button row!-->
                        <a href="#" class='g_funk'>East Coast</a>
                        <a href="#" class="show_more">Show More</a>
                        <span class="share_ico"><a href="#"><%= image_tag ("share.png") %></a></span>
                    </p><!--button row!-->
                  </div><!--right section!-->
                </div><!--song section!-->
                <% end %>
            </div><!--mid main!-->
       </div><!--middle section!-->
       
       
       <div class="span3"><!--right section!-->
          <div class="right_sec"><!--right section!-->
              <div class="cart_sec"><!--cart section!-->
                  <div class="item">1 <%= image_tag ("cart.png") %></div>
                    <a href="#" class="checkout">checkout &nbsp;<%= image_tag ("rt_arrow.png") %></a>
                </div><!--cart section!-->
                <% @tracks.each_with_index do |track, a| %>
                <div id="track_price_<%= track.id %>" class = "track_price">
                  <% if track.promotion_licence_price %>
                    <h3>Promotion only <%= image_tag ("info.png") %></h3>
                    <ul class="select"><!--select section!-->
                      <li><%= link_to "+Cart", line_items_path(:product_id => track, :track_type => "promotin"), :method => :post %></li>
                        <li>$<%= track.promotion_licence_price %></li>
                    </ul><!--select section!-->
                  <% end %>
                  <% if track.profit_licence_price %>
                  <h3>For Profit <%= image_tag ("info.png") %></h3>
                  <ul class="select"><!--select section!-->
                    <li><%= link_to "+Cart", line_items_path(:product_id => track, :track_type => "profit"), :method => :post %></li>
                      <li>$<%= track.profit_licence_price %></li>
                  </ul><!--select section!-->
                  <% end %>
                  <% if track.exclusive_licence_price %>
                  <h3>Exclusive <%= image_tag ("info.png") %></h3>
                  <ul class="select"><!--select section!-->
                    <li><%= link_to "+Cart", line_items_path(:product_id => track, :track_type => "exclusive"), :method => :post %></li>
                      <li>$<%= track.exclusive_licence_price %></li>
                  </ul><!--select section!-->
                  <% end %>
                </div>
                <% end %>
            </div><!--right section!-->
       </div><!--right section!--> 
    
    </div><!--main con!-->  
    
</div><!--container part-->




<body>
 <script type="text/javascript">
    $(document).ready(function() {

      $(".download_link").click(function() {
        $(".download_link").attr("src", "assets/pause.png")
        $('#sound_element').html("<embed src='http://www.w3schools.com/html/horse.mp3' hidden=true autostart=true loop=false>");
        // alert("Do you want to play")
        // var myurl = "/tracks/" + $(this).attr('data-id') + "/increment_download_ct";
        // $.post(myurl, function(data) {});
      });

      $(".track_price").hide();
      $(".tracks_row").click(function(){
        $(".track_price").hide();
        track_id = $(this).attr("id").split("_")[1];
        $("#track_price_"+track_id).show();
      });
 
})
  </script>
<script type="text/javascript">
soundManager.setup({
  // path to directory containing SM2 SWF
  url: '/home/chandra/Desktop/Beatbucks/app/assets/swf/'
});
</script>
<style type="text/css">

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

</style>

</body>

<!-- 
<div class="d_right"><!--right work area!-->
              <div class="row-fluid top_h"><!--top heading!-->
                    <div class="span12"> <h2><%= image_tag ("track_ico.png") %> Track</h2></div>
                  
              </div><!--top heading!-->

                  <div ><!--search section1-->
                      
<%= form_tag tracks_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>
</div><!--search section1-->

                
  <table width="100%" border="0" cellspacing="0" cellpadding="6" class="track_tab responsive">
                  <thead>
                    <tr>
                    <th colspan="1">PlayMusic</th>
                    <th colspan="1">Beats</th>
                    <th width="7%">Plays</th>
                    <th width="9%">Sells</th>
                    <th width="17%">Conversion (%)</th>
                    <th width="16%">License(s)</th>
                    <th width="14%">Sound Pack</th>
                    <th width="8%">Status</th>
                    
                   <th width="8%">Show</th>
                   <th width="8%">Delete</th>
                    <th width="14%" >Mp3 File</th>
              <th width="14%" >Track File(wav)</th>
              <th width="14%" >TPT File</th>
               

                  </tr>
                  </thead>
<tbody>
   <%#  @tracks.each do |track | %> <%# if current_user.id == track.user_id? %>
<% @tracks.each_with_index do |track, a| %>
<%#  if current_user.id == track.user_id %>
<tr>

<!-- this for onlcick play and add JS for onlcik play music-->
<td width="9%">
  <div class="ui360">
    <a href="<%= track.mp3_track_file.expiring_url(24.hours) %>">
    </a>
  </div>
</td>

<!-- this for onlcick show the edit and delete and add JS for -->
<div class = "actions" >
<td><%= track.title %> <span>Action <%= image_tag ("blk_d.png") %> </span> 
 

</td> 
</div>


<!-- this for download count but this now showing of plays (need to apply jplayer plugin)-->
<td><%= track.download_count %></td>


<!-- this for to show the number of purchases on a track -->
<td>Sales</td>

<!-- What should be conversion and have a discussion with Stephan -->
<td>Conversion</td>



<!-- This is for Licenses starts here -->
<% if !track.promotion_licence_price.blank? && !track.exclusive_licence_price .blank? && !track.profit_licence_price.blank? %>

  <td><%= "Promotion" %> </br> <%= "Profit" %> </br> <%= "Exclusive" %> </td>


 <% elsif  !track.promotion_licence_price.blank? && !track.exclusive_licence_price .blank? && track.profit_licence_price.blank? %>

<td><%= "Promotion" %> </br> <%= "Exclusive" %> </td>

 <% elsif  !track.promotion_licence_price.blank? && track.exclusive_licence_price .blank? && track.profit_licence_price.blank? %>
<td><%= "Promotion" %>  </td>

<% elsif  track.promotion_licence_price.blank? && !track.exclusive_licence_price .blank? && track.profit_licence_price.blank? %>
<td><%= "Exclusive" %>  </td>

<% elsif  track.promotion_licence_price.blank? && track.exclusive_licence_price .blank? && !track.profit_licence_price.blank? %>
<td><%= "Profit" %>  </td>

<% elsif  track.promotion_licence_price.blank? && !track.exclusive_licence_price .blank? && !track.profit_licence_price.blank? %>
<td><%= "Profit" %></br> <%= "Exclusive" %>   </td>

<% elsif  !track.promotion_licence_price.blank? && track.exclusive_licence_price .blank? && !track.profit_licence_price.blank? %>
<td><%= "Profit" %></br> <%= "Promotion" %>   </td>


<% else  track.promotion_licence_price.blank? && track.exclusive_licence_price .blank? && track.profit_licence_price.blank? %>
<td><%= "N---A" %>  </td>

  
<%end%>

<!-- This is for Licenses ends here -->

 <!-- This is for TPT files available or not -->
<% if track.tpt_file_name.blank? %>
  <td><%= "None" %></td>
 <% else %>
  <td><%= "Available" %></td>
  <%end%>


<!-- This is for Mp3 File Publish status -->
  <% if track.mp3_track_file_file_name.blank? %>
   <td><%= "Inprogress " %></td>
 <% else %>
  <td><%= "Published" %></td>
  <%end%>


  

  <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<td>
          <% if track.mp3_track_file? %>
            <%= link_to 'Download', mp3_download_track_path(track) %>
          <% end %>
        </td>
        <td>
          <% if track.wav_glacier_detail && track.wav_glacier_detail.status == 'Download' %>
            <%= link_to 'Download WAV', download_wav_track_url(track,:key => track.wav_glacier_key ) %>
          <% else %>  
             Inprogress
          <% end %>
        </td>
        <td>
          <% if track.tpt_glacier_detail && track.tpt_glacier_detail.status == 'Download' %>
            <%= link_to 'Download TPT', download_tpt_track_url(track,:key => track.tpt_glacier_key ) %>
          <% else %>  
            Inprogress
          <% end %>
          <%= link_to "Add to Cart", line_items_path(:product_id => track), :method => :post %>
          
        </td>



        
</tr>





  <% #end %>

<% end %>

<tr>                    <td>ALL</td>
              
<!--  for total tracks per page count starts here-->
                    <% s = 0 %>
                    
                    <% @tracks.each  do |at| %>
                    <% s += 1 %>
                     

                    
                     
                    <% end %>

                    <td> <%= s %>  Beats </td>
                    <!--  for total tracks per page count ends here-->
                  <!--  for total tracks play count starts here-->
                    <% c = 0 %>
                    
                    <% @tracks.each  do |a| %>
                    <% b = 0 %>
                    <% b = a.download_count ? a.download_count : 0 %>

                    
                    <% c += b %>
                    <% end %>

    <td align="center"> <%= c %>  </td>
    <!--  for total tracks play count ends here-->

                    <td align="center"> Total sum of Sales</td>
                    <td align="center"> Total conversion status </td>
                    <td></td>
                   
                    <td></td>
                    <td></td>
</tr>
 

  

                        
 </tbody>
</table>



 -->











<!-- <h1>Listing tracks</h1>
<table>
  <thead>
    <tr>
      <th>Mp3 File</th>
      <th>Track File(wav)</th>
      <th>TPT File</th>
      <th>Title</th>
      <th>Bpm</th>
      <th>Genere</th>
      <th>Subgenere</th>
      <th>Tags</th>
      <th>Key</th>
      <th>Mood1</th>
      <th>Mood2</th>
      <th>Comment</th>
      <th>Promotion licence price</th>
      <th>Promotion tpt price</th>
      <th>Exclusive licence price</th>
      <th>Exclusive tpt price</th>
      <th>Profit licence price</th>
      <th>Profit tpt price</th>
      <th>User</th>
      <th>Download count</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td>
          <% if track.mp3_track_file? %>
            <%= link_to 'Download', mp3_download_track_path(track) %>
          <% end %>
        </td>
        <td>
          <% if track.wav_glacier_detail && track.wav_glacier_detail.status == 'Download' %>
            <%= link_to 'Download WAV', download_wav_track_url(track,:key => track.wav_glacier_key ) %>
          <% else %>  
             Inprogress
          <% end %>
        </td>
        <td>
          <% if track.tpt_glacier_detail && track.tpt_glacier_detail.status == 'Download' %>
            <%= link_to 'Download TPT', download_tpt_track_url(track,:key => track.tpt_glacier_key ) %>
          <% else %>  
            Inprogress
          <% end %>
        </td>
        <td><%= track.title %></td>
        <td><%= track.bpm %></td>
        <td><%= track.genere %></td>
        <td><%= track.subgenere %></td>
        <td><%= track.tags %></td>
        <td><%= track.key %></td>
        <td><%= track.mood1 %></td>
        <td><%= track.mood2 %></td>
        <td><%= track.comment %></td>
        <td><%= track.promotion_licence_price %></td>
        <td><%= track.promotion_tpt_price %></td>
        <td><%= track.exclusive_licence_price %></td>
        <td><%= track.exclusive_tpt_price %></td>
        <td><%= track.profit_licence_price %></td>
        <td><%= track.profit_tpt_price %></td>
        <td><%= track.user_id %></td>
        <td><%= track.download_count %></td>
        <td><%= track.active %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= image_tag ("plus.png") %>
<%= link_to 'ADD NEW TRACK', new_track_path %>


 -->