<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<% if @track_type == 'profit' %>
  <%= render "profit" %>
<% end %>
<% if @track_type == 'exclusive' %>
  <%= render "exclusive" %>
<% end %>
<% if @track_type == 'promotion' %>
  <%= render "promotion" %>
<% end %>
