<%= stylesheet_link_tag "submission-page", media: "all", "data-turbolinks-track" => true %>
<%= render "shared/top_bar"%>
<%= hidden_field_tag :authenticity_token, form_authenticity_token, :id => "formAuthenticityToken"%>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>
    

<div id="submmissiont_page_container1">
  <%= render "submission_page1"%>
</div>
<div id="submmissiont_page_container2", style = "display:none">
  <%= form_for @track, :url => "#",:method => "POST", :html => {:id => "trackCreationForm"} do |f| %>
  <%= render :partial => "submission_page2", :locals => {:f => f}%>
  <% end %>
</div>
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>
