<%= render "shared/top_bar"%>
<div class="row">
  <br/>
  <div class="col-md-12">
    <div id="u106_rtf"><p style="text-align:left;"><span style="font-family:Arial;font-size:24px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp;Thank you.&nbsp; </span><span style="font-family:Arial;font-size:24px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Your track has been published </span></p></div>
    <div id="u107_rtf"><p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">&nbsp;It </span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">can take up to 20 minutes before it becomes available</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">.</span></p></div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Add New Track", new_track_path, :class => "btn btn-default btn-lg btn-block btn-custom left-wing"%>
  </div>
</div>
<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>
