<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @track.bpm %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @track.genere %>
</p>

<p>
  <strong>Subgenere:</strong>
  <%= @track.subgenere %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @track.tags %>
</p>

<p>
  <strong>Key:</strong>
  <%= @track.key %>
</p>

<p>
  <strong>Mood1:</strong>
  <%= @track.mood1 %>
</p>

<p>
  <strong>Mood2:</strong>
  <%= @track.mood2 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @track.comment %>
</p>

<p>
  <strong>Promotion licence price:</strong>
  <%= @track.promotion_licence_price %>
</p>

<p>
  <strong>Promotion tpt price:</strong>
  <%= @track.promotion_tpt_price %>
</p>

<p>
  <strong>Exclusive licence price:</strong>
  <%= @track.exclusive_licence_price %>
</p>

<p>
  <strong>Exclusive tpt price:</strong>
  <%= @track.exclusive_tpt_price %>
</p>

<p>
  <strong>Profit licence price:</strong>
  <%= @track.profit_licence_price %>
</p>

<p>
  <strong>Profit tpt price:</strong>
  <%= @track.profit_tpt_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.user_id %>
</p>

<p>
  <strong>Download count:</strong>
  <%= @track.download_count %>
</p>

<p>
  <strong>Active:</strong>
  <%= @track.active %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
