<%= render "shared/top_bar"%>
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <!-- music player -->
    <!-- /.music player -->
    <div class="container">
      <nav class="fes-vendor-menu-bsg">
        <ul class="list-inline">
          <li class="active">
            <a href="#"><i class="icon icon-home  icon-white"></i> <span class="hidden-phone hidden-tablet">Profile</span></a>
          </li>
          <li>
            <a href="/settings"><i class="icon icon-user  icon-white"></i> <span class="hidden-phone hidden-tablet">Social Networks</span></a>
          </li>
          <li>
            <a href="<%= new_track_path %>"><i class="icon icon-pencil  icon-white"></i> <span class="hidden-phone hidden-tablet">Credits</span></a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => :true}) do |f| %>
        <div class="row">
          <div class="col-md-9">
            <!-- left wing -->
            <div class="left-wing">
              <!-- profile-->
              <div class="profile">
                <!--title-->
                <!--title-->
                <div class="clearfix"></div>
                <!--row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <p class="title">Artist Name</p>
                      <%= f.text_field :ArtistName, :class=>"form-control form-style" %>
                    </div>
                  </div>
                  <!--col-md-6-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <p class="title">Hometown</p>
                      <%= f.text_field :HomeTown, :class=>"form-control form-style" %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="category">
                      <p class="title">Country</p>
                      %= f.select :Country, Country.all.collect {|s| [s.name,s.code]},{:prompt=>"Select Country"}, :id => "custom-select-two", :class => "selectpicker show-tick form-control", "data-live-search" => "true"%>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="category">
                      <p class="title">State / Prov.</p>
                      <%= f.select :state_code, State.all.collect {|s| [s.iso]}, :class=>"selectpicker show-tick form-control", "data-live-search" => "true"%>
                    </div>
                  </div>
                  <!--col-md-6-->
                  <!--col-md-6-->
                  <!--col-md-6-->
                  <div class="col-md-12">
                    <p class="title">header image</p>
                    <!-- file upload -->
                    <div class="file-upload">
                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                          <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                          <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Upload</span><span class="fileinput-exists">Change</span><%= f.file_field :profile_img, id:"upload_image" %></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <!-- file upload -->
                  </div>
                  <div class="col-md-12">
                    <p class="title">description</p>
                    <%= f.text_area_field :profile_img, :class => "form-control textarea form-style", :rows => "5"%>
                  </div>
                  <!--col-md-6-->
                </div>
                <!--row-->
              </div>
              <!-- profile-->
              <!-- billing information-->
              <!-- billing information-->
              <!-- password-->
              <!-- password-->
              <a href="#" class="btn btn-default btn-lg btn-block btn-custom">save update</a>
            </div>
            <!-- left wing -->
          </div>
          <aside class="col-md-3">
            <section class="author-info">
              <div class="image-holder">
                <%= image_tag @user.profile_img%>
              </div>
            </section>
          </aside>
          <!--end of col md 8 -->
          <!--end of col md 4 -->
          <!--end of col md 4 -->
        </div>
      </div>
    </div>
    <!--   footer-->
    <%= render "shared/footer"%>
    <!--    end of footer-->
    <!--    mini-footer-->
    <%= render "shared/mini_footer"%>

