<%= stylesheet_link_tag "register_page", media: "all", "data-turbolinks-track" => true %>
<div class="company-name">
  <div class="container company">
    <a href="<%= root_path%>">
      <%= image_tag "white_logo.png", :alt => "logo"%>
    </a>
  </div>
</div>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>
<div class = "row">
  <% flash.each do |key, value| %>
  <div class="<%= flash_alert_class(key) %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
  <% end %>
</div>


<!--    end of company-name-->
<!--    register-block-->
<div class="register-main">

  <div class="container">
    <p>register</p>
    <div class="col-md-offset-4 col-md-4 register-block">
      <!--                sign-up-->
      <div class="sign-up">
        <p>Already have an account? <span><a href="<%= new_user_session_path%>">Sign in Now</a></span></p>
        <%= form_for(@user, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= render :partial => "devise/shared/obj_errors", :locals => {:f => f}%>
        <div class="category">
          <label for="role">I'm a</label>
          <%= f.select :role, options_for_select(Role.select{|r| r != "Admin"}.map{|r| [r.name, r.id]}), {}, :class => "selectpicker show-tick form-control", "data-live-search" => "true"%>
        </div>

        <div class="form-group">
          <label for="username">artist name</label>
          <%= f.text_field :ArtistName , :placeholder => "", :class => "form-control"%>
        </div>
        <div class="form-group">
          <label for="email-addr">Email address</label>
          <%= f.email_field :email,:class => "form-control",:placeholder => "" %>
        </div>
        <div class="form-group">
          <label for="Password1">Password</label>
          <%= f.password_field :password,:class => "form-control",:placeholder => "" %>
        </div>
        <div class="form-group">
          <label for="Password2">Confirm Password</label>
          <%= f.password_field :password_confirmation,:class => "form-control",:placeholder => "" %>
        </div>
        <%= f.submit "Submit Now", :class => "btn btn-default submit-btn" %>
        <% end %>
      </div>
      <!--                end of sign-up-->
    </div>
  </div>
</div>
<!--   end of register-block-->
<!--    social-->
<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p>or</p>
        <button type="submit" class="btn btn-default submit-btn sc-btn">
          <i class="fa fa-soundcloud"></i>&nbsp;&nbsp;login with soundcloud
        </button>
      </div>
    </div>
  </div>
</div>
<!--    end of social-->
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>

