<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>::::</title>
<style>
 table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
</style>
</head>


<body>


<table width="96%" border="0" cellspacing="0" cellpadding="7" align="center">
  <tr style="border-bottom:solid 1px #d2d2d2;">
    <td width="48%"><img src="images/logo.png" /></td>
    <td width="52%" style="font:normal 18px Verdana, Helvetica, sans-serif; color:#444; text-align:right;">Purchase delivery</td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Dear <strong><%= @billing_detail.first_name %></strong></td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Thanks for purchasing your instrumental(s) on Boombond.  This email contains your download links and your payment receit.</td>
  </tr>
  
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Click ''DOWNLOAD ALL ITEMS'' to download all file(s) and license(s) associated with the instrumental(s) you purchased 
    <% if !@user_present%>
      (Download links are valid for a period of 48 hours).
    <% end %>
    </td>
  </tr>
  
   <tr>
    <td colspan="2" align="center" style="padding: 18px 0px;"><a href="#" style="background:#666666; color:#fff; font:normal 14px Verdana, Geneva, sans-serif; padding:7px 10px; text-transform:uppercase; text-decoration:none;">Download all items</a></td>
  </tr>
  
  <tr>
    <td colspan="2">
    	<table width="100%" border="0" cellspacing="0" cellpadding="10" align="center" style="text-align:left;">
          <tr style="background:#eaeaea;">
            <th width="30%">Item</th>
            <th width="24%">Producer</th>
            <th width="29%">Download</th>
            <th width="17%">Price</th>
          </tr>
          <% @cart.line_items.each_with_index do |li, a| %>
          <tr style="border-bottom:solid 1px #d2d2d2;">
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"><%= li.track.title %></td>
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"><%= li.track.user.Firstname %></td>
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">
              <a href="<%= download_wav_track_url(:id => li.track,:key => li.track.wav_glacier_key, :only_path => false) %>" style="display:block; font:normal 14px Verdana, Geneva, sans-serif; color:#2394c4; text-decoration:underline;">Stereo track</a> 
              <% if li.tpt_flag.present? %>
                <a href="<%= download_tpt_track_url(:id => li.track,:key => li.track.tpt_glacier_key, :only_path => false) %>" style="display:block; font:normal 14px Verdana, Geneva, sans-serif; color:#2394c4; text-decoration:underline;">TPT files </a>
              <% end %>
              <a href="<%= license_tracks_path(li_id: li.id, billing_detail_id: @billing_detail, format: 'pdf', :only_path => false ) %>" style="display:block; font:normal 14px Verdana, Geneva, sans-serif; color:#2394c4; text-decoration:underline;">License</a>
            </td>
            <td style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">$<%= li.unit_price %> USD</td>
          </tr>
          <% end %>
      
          <tr>
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"></td>
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"></td>
            <td valign="top" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444; text-align:right; border-top:solid 1px #d2d2d2;"><strong>Order Total:</strong></td>
            <td style="font:normal 14px Verdana, Geneva, sans-serif; color:#444; border-top:solid 1px #d2d2d2;">$<%= @cart.line_items.sum(:unit_price)%> USD</td>
          </tr>
        </table>

    </td>
  </tr>
  
   <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Remember that if you have an account, download links are being kept permanently for you to recall any of your purchases.</td>
  </tr>
  
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"><strong>Billed to :</strong></td>
  </tr>
  
  <tr>
    <td colspan="2">
    	<table width="70%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"><%= @billing_detail.email %><br /><%= @billing_detail.first_name %> <%= @billing_detail.last_name %><br /><%= @billing_detail.first_name %></td>
            <td style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"><strong>Order # :</strong> <%= @cart.order_id %><br /><strong>Order date :</strong> <%= @cart.created_at.strftime("%b %d %Y") %><br /><strong>Order total :</strong> $<%= @cart.line_items.sum(:unit_price)%><br /><strong>Paid with :</strong> Paypal
</td>
          </tr>
          
        </table>

    </td>
  </tr>
  
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Tell us what you think!</td>
  </tr>
  
   <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Your valued feedback will allow us to make improvements to our store for future visits.  Click here to take our 2-3 minute survey.</td>
  </tr>
   <tr>
    <td colspan="2" align="center" style="padding: 18px 0px;"><a href="#" style="background:#666666; color:#fff; font:normal 14px Verdana, Geneva, sans-serif; padding:7px 10px; text-transform:uppercase; text-decoration:none;">TAKE THE SURVEY</a></td>
  </tr>
  
  <tr>
    <td colspan="2">
    	<table width="100%" border="0" cellspacing="0" cellpadding="7" style="border-top:dashed 1px #d2d2d2;">
          <tr>
            <td width="31%"><a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; border-right:dolid 1px #c9c9c9; padding:0 10px 0 0;">Help</a> <a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; padding:0 0 0 10px;">Contact us</a></td>
            <td width="27%" style="font:normal 11px Verdana, Helvetica, sans-serif; text-align:center; color:#c9c9c9;">Please do not reply to this email.</td>
           <td width="42%" align="right"><%= image_tag('u25_normal.png')%> <%= image_tag('u27_normal.png') %> <%= image_tag('u29_normal.png') %></td>
          </tr>
        </table>

    </td>
  </tr>
</table>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" charset="utf-8" src="js/jquery.min.js"></script>
</body>

</html>