<% @tracks.each do |track|%>
<div class="element-item recent-blocks <%= track.genere%> col-md-3 col-xs-12 col-lg-3 col-sm-6" data-category="<%= track.genere%>">
  <div class="recent-image-holder">
    <a href="#">
      <%= image_tag  (track.track_image.present? ? track.track_image.url(:medium) : "product-1.jpg"), :alt => "" %> 
    </a>
  </div>
  <div class="recent-over">
    <div class="content">
      <a class="song" href="#" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%= track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): '' %>" data-poster="<%= track.track_image.present? ? track.track_image.url : ''%>" > <i class="fa fa-play bsg-play-button"></i></a>

      <div class="title">
        <a href="#"><%= track.title%></a>
      </div>
      <div class="beatmaker">
        <% if track.user.present? %>
        <% if track.user.profile_img.present? %>
        <%= image_tag  track.user.profile_img.url, :alt => "" %> 
        <% end %>
        <a href="/author_profile/<%= track.user.id%>"><%= track.user.name%></a>
        <%end %>
      </div>
      <div class="primary-info">
        <div class="attributes">
          <i class="fa fa-tasks"></i>
        </div>
        <ul class="genre list-unstyled list-inline">
          <li>
            <a href="#"><%= (track.subgenere.present? ? track.subgenere : track.genere)%></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="buy-buttons">
      <% if track.user.present? %>
        <a class="btn btn-primary btn-block btn-nfp licensePopUp" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%=track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): '' %>" data-poster="<%= track.track_image.present? ? track.track_image.url: '' %>" data-license="<%= track.promotion_licence_price.to_i %>" data-trackoutsprice="<%= track.promotion_tpt_price.to_i %>" data-author="<%= track.user.name%>" data-today="<%= Date.today%>" data-itemtype="promotion" rel="anchor-relation-<%= track.id%>" data-hastpt="<%= track.tpt_file_name.present? %>">
          <span class="price-details">
            not for profit
            <div class="price"><%= "#{track.track_promotion ? track.promotion_licence_price : 0}$"%></div>
          </span>
          <span class="added-to-cart" style="display:none">
            in cart 
            <i class="fa fa-check"></i>
          </span>
        </a>
        <a class="btn btn-non-exclusive btn-block btn-primary licensePopUp" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%=track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): ''  %>" data-poster="<%= track.track_image.present? ? track.track_image.url: ''%>" data-license="<%= track.profit_licence_price.to_i %>" data-trackoutsprice="<%= track.profit_tpt_price.to_i %>" data-author="<%= track.user.name%>" data-today="<%= Date.today%>" data-itemtype="profit" rel="anchor-relation-<%= track.id%>" data-hastpt="<%= track.tpt_file_name.present? %>">
          <span class="price-details">
            standard
            <div class="price"><%= "#{track.track_profit ? track.profit_licence_price : 0}$"%></div>
          </span>
          <span class="added-to-cart" style="display:none">
            in cart 
            <i class="fa fa-check"></i>
          </span>

        </a>
        <a class="btn btn-primary btn-block btn-exclusive licensePopUp" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%=track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): '' %>" data-poster="<%= track.track_image.present? ? track.track_image.url: ''%>" data-license="<%= track.exclusive_licence_price.to_i %>"  data-trackoutsprice="<%= track.exclusive_tpt_price.to_i %>" data-author="<%= track.user.name%>" data-today="<%= Date.today%>" data-itemtype="exclusive" rel="anchor-relation-<%= track.id%>" data-hastpt="<%= track.tpt_file_name.present? %>">
          <span class="price-details">
            exclusive
            <div class="price"><%= "#{track.track_exclusive ? track.exclusive_licence_price : 0}$"%></div>
          </span>
          <span class="added-to-cart" style="display:none">
            in cart 
            <i class="fa fa-check"></i>
          </span>

        </a>
      <%end %>
      <div class="license-details">
        <a href="#license-agreement">License<br>details</a>
      </div>
    </div>
  </div>
  <!-- beat block over -->
</div>
<%end%>
