<div class="modal fade" id="license-agreement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">License agreement</h4>
      </div>
      <div class="col-md-8 content-about col-lg-9">
        <h1>Master license for a non-commercial use</h1>
        <h2>*If you plan on selling, leasing or getting paid for the usage of this beat, you must purchase a For-profit license or an Exclusive lease.</h2>
        <p>This agreement is made and entered into as of <span id='todaysDate'></span> between:</p>
        <p align="center"><span class='beatMakerName'> </span>, and
            <br>
            <span id='nameOfBuyer'><%= current_user.present? ? current_user.name : "--"%></span>
        </p>
        Whereas You desire to purchase the Recording from Beatmaker pursuant to the terms and conditions of this Agreement.
        <br>
        <br>
        <h2>Just so we speak the same language…</h2>
        <p>A.	The “Recording’’ is the instrumental beat <span class='trackTitle'></span> (Serial # of beat) as well as the music incorporated therein.</p>
        <p>B.	The “Derivative’’ is what the Recording becomes once it’s incorporated in a complementary musical performance (e.g. recorded vocals).</p>
        <p>1. Grant of Rights – Subject to the terms and conditions hereinafter set forth, Beatmaker hereby grants You a worldwide non-exclusive and non-transferable master license to</p>
        <ul class="list-unstyled">
          <li>(a)	alter the Recording.  In other words, you can remove some parts, add new ones (e.g. vocals), add some effects, etc.;</li>
          <li>(b)	perform Derivative in public;</li>
          <li>(c)	make copies of the Derivative, as long as they are distributed for free.
            <ul>
              e.g.
              <li>You can GIVE out as many mixtapes/album as you want, for free.</li>
              <li>You can let people download the Derivative on any website, for free.</li>
              <li>You can make a music video and put it on YouTube, if monetization is not enabled.</li>
            </ul>
          <li>(d)	make a music video for the Derivative.</li>
        </ul>
        <br>
        <p>2. Restrictions – You CAN’T:<ul class="list-unstyled">
            <li style="text-indent: 1em;">(a)	resell, rent or sublicense the Recording in its current version or in a substantially similar version;</li>
            <li style="text-indent: 1em;">(b)	make more than one (1) Derivative.  In order to make a different song out of it, you will have to re-purchase a license;</li>
            <li style="text-indent: 1em;">(c)	sell copies of the Derivative;</li>
            <li style="text-indent: 1em;">(d)	license the Derivative;</li>
            <li style="text-indent: 1em;">(e)	distribute the Derivative through an on-demand music streaming service;</li>
            <li style="text-indent: 1em;">(f)	make the Derivative generate income from a video-sharing websites (e.g. YouTube, Vimeo, DailyMotion, etc.);</li>
            <li style="text-indent: 1em;">(g)	use the Recording or its Derivative as a jingle for a radio or TV show;</li>
            <li style="text-indent: 1em;">(h)	associate the Recording or its Derivative to a brand, cause or institution.</li>
        </ul></p>
        <p>3. Ownership – Beatmaker withholds 100% of copyrights on the Recording.</p>
        <p style="text-indent: 1em;">3.1 Beatmaker shall own 50% and you shall own the other 50% of the Derivative’s copyrights.</p>
        <p>4	Samples – It is Beatmaker’s responsibility to display any copyrighted audio samples used into the Recording at the moment of the sale.</p>
        <p style="text-indent: 1em;">4.1	You are responsible for obtaining appropriate authorization for each audio samples used in this Recording.  You understand the Beatmaker cannot be help liable for the misuse of any sampled material that he has declared.</p>
        <p>5	Royalties – In the event that You create an ISRC number for the Derivative, it is your responsibility to communicate the aforementioned number and the title of the Derivative to the Beatmaker within thirty (30) days after its creation.</p>
        <p style="text-indent: 1em;">5.1	In the event that You register the Derivative to a performance rights organisation (e.g. ASCAP, BMI) it is your responsibility to inscribe the Beatmaker as the composer of the song.</p>
        <p style="text-indent: 1em;">5.2	If you collect monies on the Beatmaker’s behalf, it is your responsibility to redirect him his share ― as provided in Paragraph 4.1 above― to his Paypal account (or through any other means of money transfer, as long as both parties agree on it).</p>
        <p>6	Credits – You must give credit to the Beatmaker, in a fairly visible way, through every medium that is being used to communicate the Derivative to the public.  For instance, if you're making physical copies, the Beatmaker's name has to appear on the CD`s booklet.</p>
        <p>7	Termination – BoomBond or the Beatmaker has the right to revoke this license if you fail to comply with one of these terms.</p>
      </div>
      <div class="col-md-4 right-wing col-lg-3">
        <div>
          <img src="file:///C:/Program%20Files%20(x86)/Pinegrow%20Web%20Designer/placeholders/img5.jpg", id="licenceAuthorImg"/>
          <p class="title trackTitle" >Teach me</p>
          <p class="beatmaker beatMakerName">Adam Beyer</p>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled list-options">
            <li>
              <input type="checkbox" checked="checked" disabled="disabled">
              <label>License</label>
              <span class="pull-right" >$<span id="licencePrice"></span></span>
            </li>
            <li id="trackOutPriceDisplay">
              <input type="checkbox" id="tptLicenceChecker">
              <label>Track-outs</label>
              <span class="pull-right">$<span id="tptLicencePrice"></span></span>
            </li>
          </ul>
          <div class="total pull-right">total :
            <a href="#">$<span id="totalPrice">100</span></a>
          </div>
        </div>
        <div>
        </div>
        <div>
          <div class="agree-button">
            <input type="checkbox" id="aggrementCheck">
            <input type="hidden" id="activeTrack">
            <p>I have read and agreed upon the terms and conditions of this agreement.</p>
          </div>
          <button type="button" class="btn btn-primary" id="checkoutButton" style="display:none" onclick="checkOutCart()">checkout
            <i class="fa fa-shopping-cart"></i>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">+ add more</button>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
