<div class="resp-tabs-container">
  <div>
    <div class="row">
      
      <div class="col-md-6">
        <span class="field-tip">
          <p class="tooltipTitle">Promotion only</p>
          <span class="tip-content">
            <div class="toolheadline">license for one (1) non-profit use only.</div>
            <div class="row">
              <div class="col-md-2 col-lg-2 toolheadsubtext">Do's:</div>
              <div class="col-md-10 col-lg-10">
                <ul class="toolheadsubtext">
                  <li>Alter</li>
                  <li>Record a song</li>
                  <li>Make a music video*</li>
                  <li>Perform at events</li>
                  <li>GIVE copies</li>
                </ul>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-2 col-lg-2 toolheadsubtext">Dont's</div>
              <div class="col-md-10 col-lg-10">
                <ul class="toolheadsubtext">
                  <li>SELL copies </li>
                  <li>USE in advertizing</li>
                  <li>Associate to brand</li>
                  
                </ul>
                
              </div>
            </div>
            
            <div class="toolheadline tracksearchmspace">*Video can't be monetizing on YouTube</div>

          </span>
        </span>    
      </div>
      
      <div class="col-md-6 no-space">
        
        <p class="removebtn text-right"><a href="#">Remove</a></p>
        
      </div>  
      
      
    </div>
    <div class="row licencemargin">
      <div class="col-md-6 col-lg-6 text-left">
        <div class="license"><img class="liscensespace" src="images/rightarrow.png">License</div>
      </div>
      <div class="col-md-6 col-lg-6 licencerate text-right">
        $14 <span class="licencedeg">00</span>
      </div>
    </div>
    
    <div class="row licencemargin">
      <div class="col-md-6 col-lg-6 text-left">
        <div class="license"><input type="checkbox">&nbsp; &nbsp;TPT files
          <span style="margin-bottom:20px;"><img src="images/u656_normal.png"></span></div>
      </div>
      <div class="col-md-6 col-lg-6 licencerate text-right">
        +&nbsp; &nbsp;$14 <span class="licencedeg">00</span>
      </div>
    </div>  
    
    <div class="hrspace2">   </div>
    
    <div class="row hr-space">
      
      <div class="col-md-6 col-lg-6 licenceTotal">
        TOTAL
      </div>
      
      <div class="col-md-6 col-lg-6 licenceTotaldollors text-right">
        <span style="font-size:14px !important; padding-bottom:-20px;">$</span>15<span style="font-size:14px !important; padding-bottom:-20px;">.40</span>
      </div>
      
    </div>
    
    
    <div class="row hr-space">
      
      <div class="col-md-12 col-lg-12 licenceagree">
        By clicking ''I AGREE'', you accept the terms and conditions of this license agreement.
      </div>
      
      <div class="col-md-8 col-lg-8 text-right">
        <div class="licenceagree2"><a href="#">I AGREE</a></div>
      </div>
      
    </div>
    
    
  </div>
  
  <!--music-->
</div>
