<div class="span2"><!--right section!-->
  <div class="right_sec"><!--right section!-->
      <div class="cart_sec"><!--cart section!-->
          <div class="item">1 <%= image_tag ("cart.png") %></div>
            <a href="<%= current_user.present? ? billing_payments2_carts_path : billing_payments_carts_path %>"><%= image_tag "checkout.png" %></a>

        </div><!--cart section!-->
        <% @tracks.each_with_index do |track, a| %>
        <div id="track_price_<%= track.id %>" class = "html_tooltip track_price">
          <% if track.promotion_licence_price %>
          <h3 title="<%= promotion_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">Promotion only <%= image_tag ("info.png") %></h3>
            <ul class="select"><!--select section!-->
              <li><%= link_to "Select", license_agrement_carts_path(:product_id => track, :track_type => "promotion") %></li>
                <li>$<%= track.promotion_licence_price %></li>
            </ul><!--select section!-->
          <% end %>
          <% if track.profit_licence_price %>
          <h3 title="<%= profit_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">For Profit <%= image_tag ("info.png") %></h3>
          <ul class="select"><!--select section!-->
            <li><%= link_to "Select", license_agrement_carts_path(:product_id => track, :track_type => "profit") %></li>
              <li>$<%= track.profit_licence_price %></li>
          </ul><!--select section!-->
          <% end %>
          <% if track.exclusive_licence_price %>
          <h3 title="<%= exclusive_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">Exclusive <%= image_tag ("info.png") %></h3>
          <ul class="select"><!--select section!-->
            <li><%= link_to "Select", license_agrement_carts_path(:product_id => track, :track_type => "exclusive") %></li>
              <li>$<%= track.exclusive_licence_price %></li>
          </ul><!--select section!-->
          <% end %>
        </div>
        <% end %>
    </div><!--right section!-->
</div><!--right section!-->  


<script type="text/javascript">
    $(document).ready(function() {
      $('.html_tooltip').tooltip({
       selector: "h3[rel=tooltip]",
       placement: 'left'
      });
      $('.play_btn').click(function(){
        $.ajax({
          type: 'GET',
          url: $(this).attr("url")
        });
      });

      $(".track_price").hide();
      $(".tracks_row").click(function(){
        $(".track_price").hide();
        track_id = $(this).attr("id").split("_")[1];
        $("#track_price_"+track_id).show();
      });
})
  </script>
<style type="text/css">
  table.fixed { table-layout:fixed; }
  table.fixed td { overflow: hidden; }

  #content {
      position: relative;
      width: 600px;
      height: 600px;
      border: 1px solid black;
      overflow-x: hidden;
      overflow-y: auto;
  }
  #scrollable {
     height: 600px;   
     width: 600px;
     overflow-y: scroll;
     overflow-x: hidden;
     float:left;
  }
  .indp{
    position: absolute;
  width: 100%;
    background:url("/assets/u1501_normal.png");
  float:left;
  }
 

</style>