<div class="modal fade" id="playlist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Beats added to cart</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled list-retrieved" id="plyalistContentUl">
          <li>
            <a href="#" class="pull-left">Teach Me</a>
            <a href="#" class="pull-right"><i class="fa fa-trash"></i></a>
            <div class="pull-right">$12</div>
          </li>
          <li>
            <a href="#" class="pull-left">Song n.2</a>
            <a href="#" class="pull-right"><i class="fa fa-trash"></i></a>
            <div class="pull-right">$12</div>
          </li>
          <li>
            <a href="#" class="pull-left">Song n.3</a>
            <a href="#" class="pull-right"><i class="fa fa-trash"></i></a>
            <div class="pull-right">$12</div>
          </li>
          <li>
            <a href="#" class="pull-left">Song n.4</a>
            <a href="#" class="pull-right"><i class="fa fa-trash"></i></a>
            <div class="pull-right">$12</div>
          </li>
        </ul>
        <div class="total pull-right">subtotal : 
          <a href="#">$<span id="plyalistSubTotal"></span></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="checkOutCart()">checkout 
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
