<div class="container-fluid">
 <div class="row boxspace">
  <div class="tab-content">
   <!--tab nav 1 -->
	<div class="tab-pane active" id="basic">
	 <div class="container-fluid">
	  <div class="row">
		<div class="col-lg-7 col-md-7">
		 <div class="row">
<div class="col-lg-12 col-md-12 no-space">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <ul class="nav nav-tabs tabProsider " role="tablist">
                <li class="active tablist-space">
                    <a href="#basic" role="tab" data-toggle="tab" class="genericclick">
                    <span class="genericclick2"><i class="fa fa-fw fa-stop"></i>&nbsp;Beats</a></span>
                </li>
                <li class=" tablist-space"><a href="#" role="tab" data-toggle="tab" class="genericclick">
                <i class="fa fa-fw fa-book"></i>Beat Packs</a></li>
                <li class=" tablist-space"><a href="#" role="tab" data-toggle="tab" class="genericclick">
                <i class="fa fa-fw fa-user"></i>Makers</a></li>
            </ul>
        </div>
        <div class="col-md-2 no-space">
            <ul class="nav navbar-left top-nav">
                <li class="dropdown">
                <p class="dropdown-toggle browse sortbydate" data-toggle="dropdown">Sort by<b class="caret1"></b></p>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Producer </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Genric </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-gear"></i> Subgenry </a></li>
                        
                         <!-- <li class="divider"></li>
                        <li><%#= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"fa fa-fw fa-power-off" )%></li> -->
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="row gencontentbody">

<% @tracks.each_with_index do |track, a| %>
<div class="row space step_wrapper">
<div class="col-lg-12 col-md-12 step_box no-space">
<div class="row no-space">
<div class="videoUpload">
	<div class="col-md-2 col-lg-2 no-space text-center" id="play-bg" style="background-image:url(<%= track.track_image.url(:thumb) %>); "  >
	    <%= render 'tracks/track_player', :track => track, id: "player" %>
	</div>

<a class="rt_sec tracks_row" id="track_<%= track.id %>">
<div class="col-md-9 col-lg-9 minespace">
    <h5 class="videoTyphography"><%= track.title %></h5>
     <div class="generictablesmall"><span class="generictablextrasmall">by MR.</span><%= track.user ? track.user.Firstname.upcase : "" %>  </div>
    <div><button class="btn btn-default btn-xs eastcost" type="button"><%= track.subgenere %></button></div>
</div>
 
</a> 
</div>
</div>

</div>
</div>
<% end %>



       <% @tracks.each_with_index do |track, a| %>
        <div id="track_price_<%= track.id %>" class="col-md-4 col-lg-4 navtopfix track-price">

          <div class="row navtopbg">
            <div class="genclose"><a id="close-box">X</a></div>
            <div class="col-lg-3"><%= image_tag track.track_image.url, :size => '90x90' %></div>
            <div class="col-lg-6 col-md-6">
                <div class="licencedeveltext"><%= track.title %></div>
                <div class="licencemrbig"><span class="licenceby">by</span> MR.<%= track.user ? track.user.Firstname.upcase : "" %>
                </div>
                <div class="licenceeastcost"><%= track.subgenere %></div>
                <div class="licencedate"><%= track.created_at.strftime "%Y/%m/%d" %></div>  
            </div>
            <div class="col-lg-3 licencelikesspacetop">
                <div class="licencelikes"><%= image_tag("u703_normal.png") %></div>
                <div class="licencelikes"><%= image_tag("u701_normal.png") %></div>
                <div style="color:#ffffff; font-size:15px;">!</div>
            </div>

<div class="row">
<div class="col-lg-11 col-md-11" style="margin-left:20px;">
<div class="demo">



<!--Horizontal Tab-->
<div id="horizontalTab">
<ul class="resp-tabs-list">
<li>Buy</li>
<li>Music</li>
<li>Files</li>
<li>descripition</li>
</ul>
<div class="resp-tabs-container">
<div>
<div class="row">
            
<div class="col-md-8 col-lg-8 no-space">
<span class="field-tip">
<p class="tooltipTitle">Promotion only</p>
<span class="tip-content2">
                            
<div class="producersabouttext minspace2">Max. 2000 copies, 200 000 streams</div>
                                
<div class="pull-left" style="border-right:1px solid #ffffff;">
                                
<div class="row">
                                      
<div class="col-md-2 col-lg-2 toolheadsubtext">Do's:</div>
<div class="col-md-10 col-lg-10">
<ul class="toolheadsubtext">
<li>Alter</li>
<li>Record a song</li>
<li>Make a music video*</li>
<li>Perform at events</li>
<li>GIVE copies</li>
</ul>
</div>
        
</div>
                                    
<div class="row">
<div class="col-md-2 col-lg-2 toolheadsubtext">Dont's</div>
<div class="col-md-10 col-lg-10">
<ul class="toolheadsubtext">
<li>SELL copies </li>
<li>USE in advertizing</li>
<li>Associate to brand</li>
                         
</ul>
                                            
</div>
</div>
</div>
                                    
<div class="pull-right"> 
<div class="row">
                                     
<div class="col-md-10 col-lg-10">
<div class="toolheadsubtext">Ex</div>
<ul class="toolheadsubtext">
<li>personal use</li>
<li>Mixtapes</li>
<li>Free gigs</li>
<li>Unmonetized YouTube video</li>
                                        
</ul>
                                            
</div>
</div>
</div>
<div class="clear"></div>
                                    
                                    
                       <div class="toolheadline tracksearchmspace text-center">*
                          Licence for one (1) non-profit use only.
                        </div>

                            </span>
                        </span> 
                        
                       <div> 
              <span class="plussim">+</span> <span class="producersabouttext">Details</span>
                       </div>   
                    </div>
                    
                    <div >
        <p class="text-right tablist-space3">
            <%= link_to(image_tag("eshop1.png"), license_agrement_carts_path(:product_id => track, :track_type => "promotion")) %>
            </p><p class="price-info"><span style="font-size:12px">$</span><%= track.promotion_licence_price %></p>
                        
                    </div>  
                    
                    
                </div>
                
                <div class="row">
                
                    <div class="col-md-8 col-lg-8 no-space">
                        <span class="field-tip">
                            <p class="tooltipTitle">For Profit</p>
                            <span class="tip-content2">
                            
            <div class="producersabouttext minspace2">Max. 2000 copies, 200 000 streams</div>
                                
                           <div class="pull-left" style="border-right:1px solid #ffffff;">
                                
                                    <div class="row">
                                      
                                  <div class="col-md-2 col-lg-2 toolheadsubtext">Do's:</div>
                                     <div class="col-md-10 col-lg-10">
                                            <ul class="toolheadsubtext">
                                                <li>Alter</li>
                                                <li>Record a song</li>
                                                <li>Make a music video*</li>
                                                <li>Perform at events</li>
                                                <li>GIVE copies</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="row">
                                  <div class="col-md-2 col-lg-2 toolheadsubtext">Dont's</div>
                                        <div class="col-md-10 col-lg-10">
                                            <ul class="toolheadsubtext">
                                                <li>SELL copies </li>
                                                <li>USE in advertizing</li>
                                                <li>Associate to brand</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                               </div>
                                    
                                    <div class="pull-right"> 
                                    <div class="row">
                                     
                                        <div class="col-md-10 col-lg-10">
                                            <div class="toolheadsubtext">Ex</div>
                                            <ul class="toolheadsubtext">
                                                <li>personal use</li>
                                                <li>Mixtapes</li>
                                                <li>Free gigs</li>
                                                <li>Music Videos</li>
                                                <li>Unmonetized YouTube video</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    </div>
                                    <div class="clear"></div>
                                    
                                    
                       <div class="toolheadline tracksearchmspace text-center">*
                          Licence for one (1) non-profit use only.
                        </div>

                            </span>
                        </span> 
                        
                       <div> 
               <span class="plussim">+</span> <span class="producersabouttext">Details</span>
                       </div>   
                    </div>
                    
                    <div >
         <p class="text-right tablist-space3">
            <%= link_to(image_tag("eshop1.png"), license_agrement_carts_path(:product_id => track, :track_type => "profit")) %>
        </p>
         <p class="price-info"><span style="font-size:12px">$</span><%= track.profit_licence_price %>
            </p>
                        
                    </div>  
                    
                    
                </div>
                
                <div class="row">
                
                    <div class="col-md-8 col-lg-8 no-space">
                        <span class="field-tip">
                            <p class="tooltipTitle">Exclusive</p>
                            <span class="tip-content2">
                            
            <div class="producersabouttext minspace2">Max. 2000 copies, 200 000 streams</div>
                                
                             <div class="pull-left" style="border-right:1px solid #ffffff;">
                                
                                    <div class="row">
                                      
                                 <div class="col-md-2 col-lg-2 toolheadsubtext">Do's:</div>
                                     <div class="col-md-10 col-lg-10">
                                            <ul class="toolheadsubtext">
                                                <li>Alter</li>
                                                <li>Record a song</li>
                                                <li>Make a music video*</li>
                                                <li>Perform at events</li>
                                                <li>GIVE copies</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="row">
                                 <div class="col-md-2 col-lg-2 toolheadsubtext">Dont's</div>
                                        <div class="col-md-10 col-lg-10">
                                            <ul class="toolheadsubtext">
                                                <li>SELL copies </li>
                                                <li>USE in advertizing</li>
                                                <li>Associate to brand</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                               </div>
                                    
                                    <div class="pull-right"> 
                                    <div class="row">
                                     
                                        <div class="col-md-10 col-lg-10">
                                            <div class="toolheadsubtext">Ex</div>
                                            <ul class="toolheadsubtext">
                                                <li>personal use</li>
                                                <li>Mixtapes</li>
                                                <li>Free gigs</li>
                                                <li>Unmonetized YouTube video</li>
                                               
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    </div>
                                    <div class="clear"></div>
                                    
                                    
                       <div class="toolheadline tracksearchmspace text-center">*
                          Licence for one (1) non-profit use only.
                        </div>

                            </span>
                        </span> 
                        
                       <div> 
                         <span class="plussim">+</span> <span class="producersabouttext">Details</span>
                       </div>   
                    </div>
                    
                    
                        <p class="text-right tablist-space3">
                            <%= link_to(image_tag("eshop1.png"), license_agrement_carts_path(:product_id => track, :track_type => "exclusive")) %>
                        </p>
                            <p class="price-info"><span style="font-size:12px">$</span><%= track.exclusive_licence_price %>
                        </p>
                        
                    
                    
                    
                </div>
              
            </div>
            
            
            
            
            
            <!--music-->
<!-- 
            <div>
            
               <div class="row licencemargin">
                    <div class="row spece hr-space">
                        <div class="col-md-4 spece">Specs</div>
                    </div> 
                    <div class="row mspaceround">
                        <div class="col-md-1 text-left"><%= image_tag("u591_normal.png")%></div>
                        <div class="col-md-5 key text-left no-space">Key:</div>
                        <div class="col-md-5 minar text-left no-space"><%= track.key %></div>
                    </div>
                    <div class="row mspaceround">
                        <div class="col-md-1 text-left"><%= image_tag("u591_normal.png")%></div>
                        <div class="col-md-5 key text-left no-space">Scale:</div>
                        <div class="col-md-5 minar text-left no-space"><%= track.track_file_content_type %></div>
                    </div>
                    <div class="row mspaceround">
                        <div class="col-md-1 text-left"><%= image_tag("u589_normal.png")%></div>
                        <div class="col-md-5 key text-left no-space">Tempo:</div>
                        <div class="col-md-5 minar text-left no-space"><%= track.bpm %></div>
                    </div>
                    <div class="row mspaceround">
                        <div class="col-md-1 text-left"><%= image_tag("u593_normal.png")%></div>
                        <div class="col-md-5 key text-left no-space">&nbsp;Sample rate:</div>
                        <div class="col-md-5 minar text-left no-space">44,1 kHz </div>
                    </div>
                    
                    <div class="row mspaceround">
                        <div class="col-md-1 text-left"><%= image_tag("u603_normal.png")%></div>
                        <div class="col-md-5 key text-left no-space">&nbsp;Length:</div>
                        <div class="col-md-5 minar text-left no-space">3 min. 34sec. </div>
                    </div>  
                            
                     <div class="row spece hr-space">
                        <div class="col-md-6 spece">Uncleared samples</div>
                    </div>  
                    
                   <div class="row mspaceround">
                        
                        <div class="col-md-12 key text-left mspaceround2">Title</div>
                        <div class="col-md-12 key text-left mspaceround2">Artist</div>
                        <div class="col-md-12 key text-left mspaceround2">Decription</div>
                       
                    </div>     
                            
               </div>
               
               
            </div>
 
 -->
           
             <!--music end --> 
             
             
             <!--files-->
           <!--  
            <div>
                <div class="row licencemargin">
                    <div class="row spece hr-space">
                        <div class="col-md-4 spece">Stereo Mix</div>
                         
                    </div>
                        <div class="row streriomix-xs2 tablist-space2">Comprised in license purchase</div>
                     <div class="row steriomixborder steriomixboxspace">
                            <div class="row mspaceround">
                               
                                <div class="col-md-5 key2 text-left no-space">Size:</div>
                                <div class="col-md-5 minar text-left no-space">70 Mb</div>
                            </div>
                            <div class="row mspaceround">
                               
                                <div class="col-md-5 key2 text-left no-space">Format:</div>
                                <div class="col-md-5 minar text-left no-space">Minor</div>
                            </div>
                            <div class="row mspaceround">
                               
                                <div class="col-md-5 key2 text-left no-space">Other available:</div>
                                <div class="col-md-5 minar text-left no-space steriomixsmall">MP3  <span class="streriomix-xs">(+ $0.50)</span></div>
                            </div>
                            <div class="row mspaceround">
                                <div class="col-md-5 key2 text-left no-space">formats*</div>
                                <div class="col-md-5 minar text-left no-space steriomixsmall">FLAC  <span class="streriomix-xs">(+ $0.50)</span></div>
                            </div>
                    
                     </div>
                        <div class="row streriomix-xs2 mspaceround2">* You'll be prompt to select format at checkout</div>
                            
                       
                    
                        
                            
               </div>
               
              
               
                <div class="row licencemargin">
                    <div class="row spece hr-space">
                        <div class="col-md-8 spece">Track-per-Track export*</div>
                         
                    </div>
                        <div class="mspacel">
                        <div class="row streriomix-xs2 tablist-space2">For promotion:  + $<%= track.promotion_licence_price %></div>
                        <div class="row streriomix-xs2 tablist-space2 ">For profit:  + $<%= track.profit_licence_price %></div>
                        <div class="row streriomix-xs2 tablist-space2 ">Exlusive:  + $<%= track.exclusive_licence_price %></div>
                       </div> 

                        <div class="row streriomix-xs2 mspaceround2">* You'll be prompt to select format at checkout</div>
               </div>
 -->               
     
            <!--files end-->
            





            <!--Decription-->
                <!-- <div class="row licencemargin">
                <div class="row spece hr-space">
                        <div class="col-md-8 spece no-space">Tags</div>
                    </div>
                  <div class="col-md-10 licencemargin">
                    
                    <div class="row">
                      <div class="tags">
                           <div class="tags">
                             <a href="#"><%= track.tags %></a>
                           </div>
                      </div> 
                      
                       <div class="tags">
                           <div class="tags">
                             <a href="#">OLD SCHOOL</a>
                           </div>
                      </div> 
                      
                       <div class="tags">
                           <div class="tags">
                             <a href="#">BENNY BENASSI</a>
                           </div>
                      </div>  
                        
                    </div>
                    
                    <div class="row topSearch arrowspace">
                      <div class="spa3">
                           <div class="tags">
                             <a href="#">EPIC</a>
                           </div>
                      </div> 
                      
                       <div class="spa3">
                           <div class="tags">
                             <a href="#">DR DRE</a>
                           </div>
                      </div> 
                      
                       <div class="tags">
                           <div class="tags">
                             <a href="#">SAD</a>
                           </div>
                      </div>  
                      
                       <div class="tags">
                           <div class="tags">
                             <a href="#">YOUR MOTHER</a>
                           </div>
                      </div>
                        
                    </div>
                    
                    
                    <div class="row topSearch">
                      <div class="spa3">
                           <div class="tags">
                             <a href="#">BOOM</a>
                           </div>
                      </div> 
                      
                       
                    </div>
                    
                          
                    </div> 
                    
                  <div class="row spece hr-space">
                        <div class="col-md-12 spece no-space">Author's comment</div>
                    </div> 
                   
                   <div class="decriptiontext">

Hey wut up er'body!  This my last joint... I composed it high on cough syrup.  Stay tuned for more as I feel real inspired this week, peace!

                   </div> 
                     
               </div> -->
            </div>
        </div>
     </div>
        </div>
     </div>

     </div>

   </div>
               
 </div>
<% end %>
		</div>
	  </div>
	</div>
   </div>
  </div>
 </div>
</div>

       <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<%#= javascript_include_tag "jquery-1.11.0.js" %>
 <%#= javascript_include_tag "easyResponsiveTabs.js" %>
 <!-- 
<script src="assets/jquery-1.11.0.js"></script>
<script src="assets/easyResponsiveTabs.js" type="text/javascript"></script>
 -->
<script>
    $(document).ready(function() {

      $('.play_btn').click(function(){
        $.ajax({
          type: 'GET',
          url: $(this).attr("url")
        });
      });

      $(".track-price").hide();
      $(".tracks_row").mouseover(function(){
        $(".track-price").hide();
        track_id = $(this).attr("id").split("_")[1];
        $("#track_price_"+track_id).show();
      });

     

       $("a#close-box").click(function(){
        $(".track-price").hide();
  });
})

    $(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);

$name.text($tab.text());

$info.show();
}
});

$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});

  </script>







<style type="text/css">


.price-info{ background-color: #9a6a9b;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 33px;
    margin: -33px 10px;
    text-align: center;
    width: 65px;}
.tablist-space3 {
    margin-right: 75px;
}

.selected {
background:#fafafa !important;
border-radius:0px;
border-left: 5px solid #ffce1b;
cursor:pointer;
}
  
</style>
















