<style>
  body{
  background-image: -moz-radial-gradient(circle, #1c1c1c, #272727 80%); 
  background-image: -webkit-radial-gradient(circle, #1c1c1c, #272727 80%); 
  background-image: radial-gradient(circle, #1c1c1c, #272727 80%);
  }
</style>

<%= render "shared/top_bar"%>

<%= hidden_field_tag :background_img, (@user.present? ? @user.header_img.url : ""), :id => "author_profile_background"%>
<!-- hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div class="hero-unit hero-breadcrump" style="background-image:url('music.jpg')50% 0 no-repeat fixed" id="autherHeader"></div>
<!-- /.hero unit -->
<div class="container">
  <!--popular files-->
  <div class="row author-profile-audiozy">
    <div class="col-md-9">
      <nav>
        <ul>
          <li class="beats">
            <a href="#" class="active">
              Beats
              <div class="count"><%= @user.tracks.count%></div>
            </a>
          </li>
          <!--
            -->
          <li class="beat-packs">
            <a href="#">
              Beat Packs
              <div class="count">5</div>
            </a>
          </li>
          <!--
	    -->
          <li class="credits">
            <a href="#">
              Credits
              <div class="count">5</div>
            </a>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="clearfix"></div>
        <div class="top-products wow fadeInRight">
          <% @user.tracks.has_atleast_one_price.each do |track|%>
          <!-- product-block -->
          <div class="product-block col-md-12">
            <div class="product-image">
              <%= image_tag track.track_image.url, :alt => "" %> 
            </div>
            <div class="content">
              <div class="beat">
                <a href="#" class="song" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%=track.mp3_track_file.expiring_url(24.hours) %>" data-poster="<%= track.track_image.url %>"><i class="fa fa-play bsg-play-button"></i></a>
                <div class="beat-details">
                  <a href="#" class="title"><%= track.title%></a>
                  <div class="attributes">
                    <i class="fa fa-tasks"></i>
                    &nbsp;
                    <% if current_user.present? and track.user_id == current_user.id%>
                    <a href="<%= edit_track_path(track)%>" title="Edit" style="color: #FFF"><i class="fa fa-edit"></i></a>
                    &nbsp;
                    <%= link_to raw("<i class='fa fa-trash'></i>"), track, :method => "DELETE", :confirm => "Are you sure?", :style => "color: #FFF", :title => "Delete"%>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="genre">
                <%= link_to track.genere, "#"%>
              </div>
              <div class="buy-buttons">
                <a data-toggle="modal" href="#license-agreement" data-id="2" class="btn btn-primary btn-block btn-nfp">not for profit
                  <div class="price"><%= "#{track.track_promotion ? track.promotion_licence_price : 0}$"%></div>
                </a>
                <a data-toggle="modal" href="#license-agreement" data-id="2" class="btn btn-non-exclusive btn-block btn-primary">Standard
                  <div class="price"><%= "#{track.track_profit ? track.profit_licence_price : 0}$"%></div>
                </a>
                <a data-toggle="modal" href="#license-agreement" data-id="2" class="btn btn-primary btn-block btn-exclusive">exclusive
                  <div class="price"><%= "#{track.track_exclusive ? track.exclusive_licence_price : 0}$"%></div>
                </a>
              </div>
            </div>
          </div>
          <% end %>
          <!-- /.product-block -->
        </div>
        <!-- top products -->
        <!-- /.top products -->
      </div>
      <div class="right-wing">
        <div class="about-me">
          <!--title-->
          <!--end of title-->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="right-wing">
        <div class="beatmaker">
          <div class="image-holder">
            <%= image_tag @user.profile_img.url, :alt=>"author-1" %>
          </div>
          <div class="author-place">
            <a href="#"><%= @user.name%></a>
            <p><i class="fa fa-map-marker"></i><%= @user.address%></p>
          </div>
          <!--author-->
          <ul class="list-unstyled list-inline social" data-pg-collapsed>
            <li>
              <a href="<%= @user.Facebook%>" target="_blank"><i class="fa fa-facebook fb-icon"></i></a>
            </li>
            <li>
              <a href="<%= @user.Twitter%>" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
            </li>
            <li>
              <a href="<%= @user.GooglePlus%>" target="_blank"><i class="fa fa-google-plus google-icon"></i></a>
            </li>
            <li>
              <a href="<%= @user.YouTube%>" target="_blank"><i class="fa fa-youtube-play youtube-icon"></i></a>
            </li>
            <li>
              <a href="<%= @user.Soundcloud%>" target="_blank"><i class="fa fa-soundcloud soundcloud-icon"></i></a>
            </li>
          </ul>
          <p data-pg-collapsed><span>0</span> sales</p>
          <div class="bio"><%= @user.About%></div>
          <!--end of author-->
        </div>
      </div>
    </div>
    <!--end of right wing-->
  </div>
</div>
<%= render "shared/footer"%>
<!--    mini-footer-->
<%= render "shared/mini_footer"%>
<script type='text/javascript'>
  var imgField= $("#author_profile_background").val()
  if(typeof imgField != 'undefined' && imgField.length >4 && imgField != '/header_imgs/original/missing.png'){
  var backStr = "url('"+$("#author_profile_background").val()+"') no-repeat fixed 50% 0px / cover transparent";
  $("#autherHeader").css("background", backStr)
  }
</script>
