<div class="hero-unit" style="background-image:url('background1.jpg')50% 0 no-repeat fixed">
  <div class="header-bg"></div>
  <div class="header-content">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
            <%= link_to image_tag("white_logo.png", :alt => "BoomBond"), root_path%>
          
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <% unless current_user.present?%>
              <%= link_to "Register", new_user_registration_path%>
              <%end%>
            </li>
            <li>
              <% if !current_user.present?%>
              <%= link_to "Login", new_user_session_path%>
              <%end%>
            </li>
            <% if current_user.present? and current_user.can_upload_track?%>
            <li>
              <a class="upload" href="<%= new_track_path%>" style="line-height:50px;">
                <i class="fa fa-upload"></i>Upload
              </a>
            </li>
            <%end%>
            <li>
              <a href="#" class="cart" id="shoppingCartAmountPopup"><i class="fa fa-shopping-cart"></i><span class="amount">$<span id="shoppingCartAmount">0.00</span></span></a>
            </li>
            <% if current_user.present? %>
            <li>
              <ul class="nav navbar-right top-nav">
                <li id="indexAuthorDropdownLi">
                  <%= link_to (image_tag ((current_user.present? and current_user.profile_img.present?) ?  current_user.profile_img.url : "avatar.png" ), :alt => "author", :style=> "border-radius: 50%;height: 46px;"), "#", :class => "dropdown-toggle browse", "data-toggle" => "dropdown", :id => "indexAuthorDropdown"%> 
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
                    </li>
                    <li>
                      <a href="/profile"><i class="fa fa-user"></i>Profile</a>
                    </li>
                    <% if current_user.present? and current_user.can_upload_track?%>
                    <li>
                      <a href="/author_profile/<%= current_user.id%>"><i class="fa fa-play-circle"></i>Beats</a>
                    </li>
                    <li>
                      <a href="/earnings"><i class="fa fa-dollar"></i>Earnings</a>
                    </li>
                    <% end %>
                    <li>
                      <a href="/orders"><i class="fa fa-list"></i>Orders</a>
                    </li>
                    <li>
                      <a href="/settings"><i class="fa fa-cog"></i>Settings</a>
                    </li>
                    <li>
                      <a href="<%= destroy_user_session_path%>"><i class="fa fa-sign-out"></i>Logout</a>
                    </li>
                  </ul>
                </li>

                </ul>
            </li>
            <%end%>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
      <div class = "row">
        <% flash.each do |key, value| %>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
        <% end %>
      </div>

      <div class="banner-search">
        <div class="main-text">
          Urban Instrumental Hub
        </div>
        <!-- main-text -->
        <div class="small-info">
          All original beats for mixtapes, singles & albums.
        </div>
        <div class="search-box">
          <form action="/global_search" method="get">
            <div class="input-group">
              <input type="text" class="form-control " placeholder="search by title, beatmaker, tag..." name="search_term" value="<%= params[:search_term].present? ? params[:search_term] : ''%>">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default search">search</button>
              </div>
          </form>
          </div>
          <!-- search-box-->
          <div class="two-btns">
            <%= link_to "flow with the .wav", new_user_registration_path, :class => "btn btn-primary"%>
            <%= link_to "Get the stems", new_user_registration_path, :class => "btn btn-primary"%>
            <%= link_to "Official licenses", new_user_registration_path, :class => "btn btn-primary"%>
          </div>
          <!-- two-btns (there's just 1 button actually) -->
        </div>
        <!-- small-nfo -->
        <!-- banner-search -->
      </div>
    </div>
  </div>
</div>
<!-- topbar -->
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
    <%= render "playlist_model"%>
    <%= render "licence_model"%>
  </div>
</div>
<div class="audiozy-recent-products">
  <div class="container">
    <div class="audiozy-heading">
      <div class="description">
        latest instrumentals
      </div>
      <!-- audiozy-heading -->
      <div class="audiozy-line">
      </div>
      <!-- audiozy-line -->
    </div>
    <div id="filters" class="button-group filter-links">
      <button class="btn-info is-checked" data-filter="*">all items</button>
      <% Genre.all.each do |gen|%>
      <button class="btn-info" data-filter=".<%=gen.name%>"><%= gen.name.titleize%></button>
      <% end %>
    </div>
    <!--  <div id="filters" class="filter-links">
          <ul class="list-inline list-unstyled">
            <li><a href="#" class="is-checked" data-filter="*">all items</a></li>
            <li><a href="#" data-filter=".dubstep">dubstep</a></li>
            <li><a href="#" data-filter=".deep">deep house</a></li>
            <li><a href="#" data-filter=".sounds">sound effect</a></li>
            <li><a href="#" data-filter=".electronic">electronic</a></li>
            <li><a href="#" data-filter=".pop">pop</a></li>
          </ul>
    </div> -->
    <!-- filter-links -->
    <div class="row wow zoomIn">
      <div class="isotope">
        <%= render "beat_block" %>
      </div>
      <!-- col-md-12 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- clients -->
<div class="audiozy-question">
  <div class="overlay"></div>
  <div class="container">
    <!-- small-info -->
    <div class="heading text-center">
      <span>want to earn money from</span>
      <br>
      <span>your beats?</span>
    </div>
    <div class="audiozy-btn text-center">
      <%= link_to "get started", new_user_registration_path, :class => "btn btn-info"%>
    </div>
    <!-- btn-->
  </div>
  <!-- container -->
</div>
<!--audiozy-question-->
<!-- audiozy-recent -->
<!-- audiozy-pricing-tables -->
<!-- testimonials -->
<!--audiozy-question-->
<div class="audiozy-blog">
  <div class="container">
    <div class="audiozy-heading">
      <div class="description">blog</div>
      <!-- audiozy-heading -->
      <div class="audiozy-line"></div>
      <!-- audiozy-line -->
    </div>
    <div class="row blog">
      <div class="col-md-3 wow bounceInLeft">
        <div class="blog-parent-main">
          <div class="image-holder">
            <%= image_tag  "blog/blog-19.jpg", :alt => "" %> 
          </div>
          <div class="icon-plus">
            <a href="#"><i class="fa fa-plus"></i></a>
          </div>
          <div class="info">
            <div class="date">
              <a href="#">march 11 / by <span>admin</span></a>
            </div>
            <!-- date -->
            <div class="heading">
              <a href="#">Raw denim typewriter carles irony.</a>
            </div>
            <!-- heading -->
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
            <a href="blog-detail.html" class="blog-more">read more..</a>
          </div>
        </div>
        <!-- blog-parent-main -->
      </div>
      <!-- blog-box -->
      <div class="col-md-3 wow bounceInLeft">
        <div class="blog-parent-main">
          <div class="image-holder">
            <%= image_tag  "blog/blog-14.jpg", :alt => "" %> 
          </div>
          <div class="icon-plus">
            <a href="#"><i class="fa fa-plus"></i></a>
          </div>
          <div class="info">
            <div class="date">
              <a href="#">march 11 / by <span>admin</span></a>
            </div>
            <!-- date -->
            <div class="heading">
              <a href="#">Raw denim typewriter carles irony.</a>
            </div>
            <!-- heading -->
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
            <a href="blog-detail.html" class="blog-more">read more..</a>
          </div>
        </div>
        <!-- blog-parent-main -->
      </div>
      <!-- blog-box -->
      <div class="col-md-3 wow bounceInRight">
        <div class="blog-parent-main">
          <div class="image-holder">
            <%= image_tag  "blog/blog-15.jpg", :alt => "" %> 
          </div>
          <div class="icon-plus">
            <a href="#"><i class="fa fa-plus"></i></a>
          </div>
          <div class="info">
            <div class="date">
              <a href="#">march 11 / by <span>admin</span></a>
            </div>
            <!-- date -->
            <div class="heading">
              <a href="#">Raw denim typewriter carles irony.</a>
            </div>
            <!-- heading -->
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
            <a href="blog-detail.html" class="blog-more">read more..</a>
          </div>
        </div>
        <!-- blog-parent-main -->
      </div>
      <!-- blog-box -->
      <div class="col-md-3 wow bounceInRight">
        <div class="blog-parent-main">
          <div class="image-holder">
            <%= image_tag  "blog/blog-18.jpg", :alt => "" %> 
          </div>
          <div class="icon-plus">
            <a href="#"><i class="fa fa-plus"></i></a>
          </div>
          <div class="info">
            <div class="date">
              <a href="#">march 11 / by <span>admin</span></a>
            </div>
            <!-- date -->
            <div class="heading">
              <a href="#">Raw denim typewriter carles irony.</a>
            </div>
            <!-- heading -->
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
            <a href="blog-detail.html" class="blog-more">read more..</a>
          </div>
        </div>
        <!-- blog-parent-main -->
      </div>
      <!-- blog-box -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- audiozy-blog -->
<!--   footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <!--about-us-->
      <div class="text-center col-md-5 col-xs-12 col-sm-5">
        <div class="about-us">
          <div class="logo">
            <a href="<%= root_path%>">
              <%= image_tag("white_logo.png", :alt =>"#") %>
            </a>
          </div>
          <p>The licensing hub for urban music<br>instrumentals.</p>
        </div>
      </div>
      <!--               end of about-us-->
      <!--              resources-links-->
      <div class="col-md-3 col-xs-12 col-sm-3">
        <div class="resources-links">
          <h6>resource links</h6>
          <ul class="list-unstyled">
            <li>
              <a href="<%=about_us_path%>">about us</a>
            </li>
            <li>
              <a href="#">contact us</a>
            </li>
            <li>
              <a href="#">give us feedback</a>
            </li>
            <li>
              <a href="#">privacy policy</a>
            </li>
            <li>
              <a href="#">sell your beats</a>
            </li>
            <li>
              <a href="#">terms & conditions</a>
            </li>
          </ul>
        </div>
      </div>
      <!--               end of resources-links-->
      <!--         tags-->
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div class="tags">
          <h6 class="social-media">follow us</h6>
          <ul class="list-unstyled list-inline social-icons">
            <li>
              <a href="https://www.facebook.com/pages/BoomBond/316221825225488" target="_blank"><i class="fa fa-facebook fb-icon"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/boom_bond" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/+Boombondbeats" target="_blank"><i class="fa fa-google-plus google-icon"></i></a>
            </li>
            <li>
              <a href="http://www.youtube.com/user/theboombond" target="_blank"><i class="fa fa-youtube-play youtube-icon"></i></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <!--          end of tags-->
      <!--                contact-info-->
      <!--           end of contact-info-->
    </div>
  </div>
</div>
<!--    end of footer-->
<!--    mini-footer-->
<div class="mini-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 seperator">
        <p class="copyright">Copyright 2015 BoomBond</p>
      </div>
    </div>
  </div>
</div>
