<!-- topbar -->
<%= render "shared/top_bar"%>
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div class="container">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- left wing -->
      <div class="left-wing">
        <!-- live products-->
        <!--title-->
        <div class="audiofy-heading">
          <div class="title">
            <h3 class="title-text">past orders</h3>
          </div>
        </div>
        <!--title-->
        <div class="clearfix"></div>
        <!--table-responsive-->
        <div class="table-responsive table-orders">
          <table class="table">
            <thead>
              <tr>
                <td class="text-center" style="width:40%;">title</td>
                <td class="text-center">License</td>
                <td class="text-center">Date</td>
                <td class="text-center">Price</td>
                <td style="width:10%;"></td>
              </tr>
            </thead>
            <tbody>
              <% current_user.tracks_ordered.each do |li|%>
              <% track = li.track%>
              <tr>
                <td>
                  <div class="products">
                    <div class="product-image">
                      <%= image_tag  (track.track_image.present? ? track.track_image.url : "product-1.jpg"), :alt => "" %> 
                      <a class="song" href="#" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%= track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): '' %>" data-poster="<%= track.track_image.present? ? track.track_image.url : ''%>" > <i class="fa fa-play bsg-play-button"></i></a>
                    </div>
                    <div class="type-price">
                      <a href="#"><%= track.title%></a>
                    </div>
                  </div>
                </td>
                <td class="text-center genre"><%= li.item_type%></td>
                <td class="text-center date">
                  <span class="number"><%=li.created_at.strftime("%Y-%m-%d")%></span>
                </td>
                <td class="text-center price">$ 
                  <span class="number"><%= li.unit_price%></span>
                </td>
                <td>
                  <a href="<%= mp3_download_track_path(track)  %>" class="btn btn-custom">download</a>
                </td>
              </tr>
              <!--emd of row-->
              <%end%>
            </tbody>
          </table>
        </div>
        <!--table-responsive-->
        <!-- live products-->
      </div>
      <!-- left wing -->
    </div>
    <!--end of col md 8 -->
    <!--end of col md 4 -->
    <!--end of col md 4 -->
  </div>
</div>
