<%= render "shared/top_bar"%>
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <!-- music player -->
    <!-- /.music player -->
    <div class="container">
      <nav class="fes-vendor-menu-bsg">
        <ul class="list-inline">
          <li class="active">
            <a href="#"><i class="icon icon-home  icon-white"></i> <span class="hidden-phone hidden-tablet">Profile</span></a>
          </li>
          <li>
            <a href="/settings"><i class="icon icon-user  icon-white"></i> <span class="hidden-phone hidden-tablet">Social Networks</span></a>
          </li>
          <li>
            <a href="<%= new_track_path %>"><i class="icon icon-pencil  icon-white"></i> <span class="hidden-phone hidden-tablet">Credits</span></a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <!-- left wing -->
            <div class="left-wing">
              <!-- profile-->
              <div class="profile">
                <!--title-->
                <!--title-->
                <div class="clearfix"></div>
                <!--row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <p class="title">Artist Name</p>
                      <input type="text" class="form-control form-style">
                    </div>
                  </div>
                  <!--col-md-6-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <p class="title">Hometown</p>
                      <input type="email" class="form-control form-style">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="category">
                      <p class="title">Country</p>
                      <select id="custom-select-two" class="selectpicker show-tick form-control" data-live-search="true">
                        <option>United States</option>
                        <option>India</option>
                        <option>England</option>
                        <option selected>Australia</option>
                        <option>Europe</option>
                        <option>Brazil</option>
                        <option>China</option>
                        <option>Japan</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="category">
                      <p class="title">State / Prov.</p>
                      <select id="custom-select-two" class="selectpicker show-tick form-control" data-live-search="true">
                        <option>AB</option>
                        <option>AL</option>
                        <option>AZ</option>
                        <option selected>--</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DW</option>
                      </select>
                    </div>
                  </div>
                  <!--col-md-6-->
                  <!--col-md-6-->
                  <!--col-md-6-->
                  <div class="col-md-12">
                    <p class="title">header image</p>
                    <!-- file upload -->
                    <div class="file-upload">
                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                          <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                          <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Upload</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <!-- file upload -->
                  </div>
                  <div class="col-md-12">
                    <p class="title">description</p>
                    <textarea class="form-control textarea form-style" rows="5"></textarea>
                  </div>
                  <!--col-md-6-->
                </div>
                <!--row-->
              </div>
              <!-- profile-->
              <!-- billing information-->
              <!-- billing information-->
              <!-- password-->
              <!-- password-->
              <a href="#" class="btn btn-default btn-lg btn-block btn-custom">save update</a>
            </div>
            <!-- left wing -->
          </div>
          <aside class="col-md-3">
            <section class="author-info">
              <div class="image-holder">
                <img src="images/avatar.png" alt="">
              </div>
              <a class="pull-right" href="#">edit</a>
            </section>
          </aside>
          <!--end of col md 8 -->
          <!--end of col md 4 -->
          <!--end of col md 4 -->
        </div>
      </div>
    </div>
    <!--   footer-->
    <%= render "shared/footer"%>
    <!--    end of footer-->
    <!--    mini-footer-->
<%= render "shared/mini_footer"%>
