<%= render "shared/top_bar"%>
<!-- topbar -->
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <!-- music player -->

    <!-- /.music player -->
    <div class="container">
      <div class="container">
        <div class="left-wing">
          <!-- profile-->
          <!-- profile-->
          <!-- billing information-->
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => :true}) do |f| %>
          <%= f.hidden_field :update_call_from, :value => "settings" %>
          <div class="billing-information">
            <!--title-->
            <div class="audiofy-heading">
              <div class="title">
                <h3 class="title-text">Information</h3>
              </div>
            </div>
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">first name</p>
                  <%= f.text_field :Firstname, :class => "form-control form-style"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">last name</p>
                  <%= f.text_field :Lastname, :class => "form-control form-style"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">Address <span class="number">1</span></p>
                  <%= f.text_field :Street, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-6-->
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">Address <span class="number">2</span></p>
                  <%= f.text_field :HomeTown, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-6-->
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">city</p>
                  <%= f.text_field :HomeTown, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-6-->
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">Zip / Postal Code</p>
                  <%= f.text_field :Zipcode, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-6-->
              <div class="col-md-6">
                <div class="category">
                  <p class="title">Country</p>
                  <%= f.select :Country, Country.all.collect {|s| [s.name, s.code]},{:prompt=>"Select Country"}, :id => "selectedCountry", :class => "selectpicker show-tick form-control", "data-live-search" => "true", :onchange => "fetchSatePrv()" %>
                </div>
              </div>
              <!--col-md-6-->
              <div class="col-md-6">
                <div class="category">
                  <p class="title">State / Province</p>
                  <%= f.select :StateProvince, get_country_state_options(f.object.Country), {:prompt=>"Select State"},:class=>"selectpicker show-tick form-control", "data-live-search" => "true", :id=>"stateOptions"%>
                </div>
              </div>
              <!--col-md-6-->
            </div>
            <!--row-->
          </div>
          <!-- billing information-->
          <!-- password-->
          <div class="password">
            <!--title-->
            <div class="audiofy-heading">
              <div class="title">
                <h3 class="title-text">paypal</h3>
              </div>
            </div>
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">Paypal email ID</p>
                  <%= f.text_field :paypalemail, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-12-->
              <!--col-md-12-->
              <!--col-md-12-->
            </div>
            <!--row-->
          </div>
          <div class="password">
            <!--title-->
            <div class="audiofy-heading">
              <div class="title">
                <h3 class="title-text">login</h3>
              </div>
            </div>
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <p class="title">Email address</p>
                  <%= f.text_field :email, :class => "form-control form-style"%>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <p class="title">Old Password</p>
                  <%= f.password_field :current_password, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-12-->
              <div class="col-md-12">
                <div class="form-group">
                  <p class="title">New Password</p>
                  <%= f.password_field :password, :class => "form-control form-style"%>
                </div>
              </div>
              <!--col-md-12-->
              <div class="col-md-12">
                <div class="form-group">
                  <p class="title">Confirm New Password</p>
                  <%= f.password_field :password_confirmation,:class => "form-control form-style",:placeholder => "" %>
                </div>
              </div>
              <!--col-md-12-->
            </div>
            <!--row-->
          </div>
          <%= f.submit "save update", :class => "btn btn-default btn-lg btn-block btn-custom" %>
          <% end %>
          <div class="shutdown">
            <!--title-->
            <div class="audiofy-heading">
              <div class="title">
                <h3 class="title-text">Shut down account</h3>
              </div>
            </div>
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="col-md-6">
                <p class="title">By clicking "Cancel my account", you understand that all your files & information will be deleted.</p>
              </div>
              <div class="col-md-4">
                <a href="#" class="btn btn-info btn-block btn-cancel">cancel my account</a>
              </div>
              <!--col-md-12-->
              <!--col-md-12-->
              <!--col-md-12-->
            </div>
            <!--row-->
          </div>
          <!-- password-->
        </div>
      </div>
    </div>
    <!--   footer-->
    <%= render "shared/footer"%>
    <!--    end of footer-->
    <!--    mini-footer-->
    <%= render "shared/mini_footer"%>
