<%= render "shared/top_bar"%>
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<%= render "shared/jq_player"%>
<div class="container">
  <nav class="fes-vendor-menu-bsg">
    <ul class="list-inline">
      <li data-pg-collapsed>
        <a href="/profile"><i class="icon icon-home  icon-white"></i> <span class="hidden-phone hidden-tablet">Profile</span></a>
      </li>
      <li class="active" data-pg-collapsed>
        <a href="#"><i class="icon icon-user  icon-white"></i> <span class="hidden-phone hidden-tablet">Social Networks</span></a>
      </li>
      <li data-pg-collapsed>
        <a href="<%= new_track_path %>"><i class="icon icon-pencil  icon-white"></i> <span class="hidden-phone hidden-tablet">Credits</span></a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="row">
      <div class="col-md-9">
        <!-- left wing -->
        <div class="left-wing">
          <!-- profile-->
          <div class="profile">
            <!--title-->
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="form-group">
                <p class="title">Website</p>
                <%= f.text_field :Artist_blog, :class =>"form-control form-style", :placeholder =>"http://mywebsite.com"%>
              </div>
              <div class="form-group">
                <p class="title">Facebook</p>
                <%= f.text_field :Facebook, :class =>"form-control form-style", :placeholder =>"https://facebook.com/myproducerpage"%>
              </div>
              <div class="form-group">
                <p class="title">Twitter</p>
                <%= f.text_field :Twitter, :class =>"form-control form-style", :placeholder =>"https://twitter.com/myproducerpage"%>
              </div>
              <div class="form-group">
                <p class="title">Soundcloud</p>
                <%= f.text_field :Soundcloud, :class =>"form-control form-style", :placeholder =>"https://soundcloud.com/myproducerpage"%>
              </div>
              <div class="form-group">
                <p class="title">YouTube</p>
                <%= f.text_field :YouTube, :class =>"form-control form-style", :placeholder =>"https://youtube.com/user/myproducerchannel"%>

              </div>
              <div class="form-group">
                <p class="title">Google+</p>
                <%= f.text_field :GooglePlus, :class =>"form-control form-style", :placeholder =>"https://plus.google.com/myproducerpage"%>
              </div>
              <div class="form-group">
                <p class="title">Instagram</p>
                <%= f.text_field :Instagram, :class =>"form-control form-style", :placeholder =>"https://instagram.com/myproducerpage"%>
              </div>
              <div class="form-group">
                <p class="title">Myspace</p>
                <%= f.text_field :MySpace, :class =>"form-control form-style", :placeholder =>"https://myspace.com/myproducerpage"%>
              </div>
            </div>
            <!--row-->
          </div>
          <%= f.submit "save update", :class => "btn btn-default btn-lg btn-block btn-custom" %>
        </div>
        <% end %>
        <!-- left wing -->
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<!--   footer-->
<%= render "shared/footer"%>
<!--    end of footer-->
<!--    mini-footer-->
<%= render "shared/mini_footer"%>

