<!--   footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <!--              about-us-->
      <div class="col-md-3">
        <div class="about-us">
          <h6>about us</h6>
          <div class="logo">
            <a href="index.html">
              <%= image_tag "logo_footer.png", :alt => "#" %>
            </a>
          </div>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
          <ul class="list-unstyled list-inline">
            <li>
              <a href="#">
                <%= image_tag "amex.jpg", :alt=>"amex"%>
              </a>
            </li>
            <li>
              <a href="#">
                <%= image_tag "discover.jpg" , :alt => "discover" %>
              </a>
            </li>
            <li>
              <a href="#">
                <%= image_tag "visa.jpg" , :alt => "visa"%>
              </a>
            </li>
            <li>
              <a href="#">
                <%= image_tag "mc.jpg" , :alt => "mc"%>
              </a>
            </li>
            <li>
              <a href="#">
                <%= image_tag "flat.jpg" , :alt => "flat"%>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--               end of about-us-->
      <!--              resources-links-->
      <div class="col-md-3">
        <div class="resources-links">
          <h6>resource links</h6>
          <ul class="list-unstyled">
            <li>
              <a href="/about_us">about us</a>
            </li>
            <li>
              <a href="#">customer support</a>
            </li>
            <li>
              <a href="#">contact us</a>
            </li>
            <li>
              <a href="#">redeem invite code</a>
            </li>
            <li>
              <a href="#">careers</a>
            </li>
            <li>
              <a href="#">logos & images</a>
            </li>
            <li>
              <a href="#">terms & conditions</a>
            </li>
            <li>
              <a href="#">privacy and cookie policy</a>
            </li>
            <li>
              <a href="#">copyright information</a>
            </li>
            <li>
              <a href="#">give us feedback</a>
            </li>
          </ul>
        </div>
      </div>
      <!--               end of resources-links-->
      <!--         tags-->
      <div class="col-md-3">
        <div class="tags">
          <h6>tags</h6>
          <ul class="list-unstyled list-inline tag">
            <li>
              <a href="#">Featured images</a>
            </li>
            <li>
              <a href="#">design</a>
            </li>
            <li>
              <a href="#">shop</a>
            </li>
            <li>
              <a href="#">woocommerce page</a>
            </li>
          </ul>
          <h6 class="social-media">social media</h6>
          <ul class="list-unstyled list-inline social-icons">
            <li>
              <a href="https://www.facebook.com/pages/BoomBond/316221825225488" target="_blank"><i class="fa fa-facebook fb-icon"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/boom_bond" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/+Boombondbeats" target="_blank"><i class="fa fa-google-plus google-icon"></i></a>
            </li>
            <li>
              <a href="http://www.youtube.com/user/theboombond" target="_blank"><i class="fa fa-youtube-play youtube-icon"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-flickr flickr-icon"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--          end of tags-->
      <!--                contact-info-->
      <div class="col-md-3">
        <div class="contact-info">
          <h6>contact info</h6>
          <h5>address:</h5>
          <p>Envato Sutdio no 34, Victry Melbourne, Australia</p>
          <h5>phone:</h5>
          <p>+01548133213</p>
          <h5>email:</h5>
          <p>contact@yourwebsite.com</p>
        </div>
      </div>
      <!--           end of contact-info-->
    </div>
  </div>
</div>
<!--    end of footer-->
