<!--    mini-footer-->
<div class="mini-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 seperator">
        <p class="owner">Created with <i class="fa fa-heart"></i> by <span><a href="#">Bootstrap Guru</a></span></p>
        <p class="copyright">Copyright 2014 Audiozy.</p>
      </div>
    </div>
  </div>
</div>
