<% id,title, artist, poster, album_year,  mp3= ""%>
<%  if session[:current_playing_song].present? %>
 <% id = session[:current_playing_song]["id"]%> 
 <% title = session[:current_playing_song]["title"]%> 
 <% artist = session[:current_playing_song]["artist_name"]%> 
 <% mp3 = session[:current_playing_song]["mp3"]%>
 <% poster = session[:current_playing_song]["poster"]%>
 <%= hidden_field_tag :current_playing_mp3, mp3, :id => "current_playing_song"%>
 <%= hidden_field_tag :current_playing_title, title, :id => "current_playing_title"%>
 <% end %>
<div class="bsg-player fix-bottom" id="jp_container_1">
  <div class="container-fluid" style="background-color:ed;">
    <ul class="player-buttons jp-controls list-inline pull-left ">
      <li class="previous hidden-xs hidden-sm">
        <a href="javascript:;" class="jp-previous"><i class="fa fa-fast-backward"></i></a>
      </li>
      <li class="play">
        <a href="javascript:;" class="jp-play"><i class="fa fa-play"></i></a>
        <a href="javascript:;" class="jp-pause"><i class="fa fa-pause"></i></a>
      </li>
      <li class="next hidden-xs hidden-sm">
        <a href="javascript:;" class="jp-next"><i class="fa fa-fast-forward"></i></a>
      </li>
    </ul>
    <div class="album-details pull-left">
      <div class="album-art   visible-lg">
        <%= image_tag  poster, :alt => "" %> 
      </div>
      <div class="album-info">
        <h4 class="title"> <%= title%></h4>
        <div class="author"><%= artist%></div>
      </div>
    </div>
    <div class="player-seek visible-lg visible-md visible-sm pull-left col-sm-7 col-md-6">
      <div class="jp-progress">
        <div class="jp-proress">
          <div class="jp-seek-bar progress" style="width: 100%;">
            <div class="jp-play-bar bg-info">
            </div>
            <div class="jp-title text-lt" style="display: none;">Bubble</div>
          </div>
        </div>
      </div>
      <div class="jp-time-holder">
      </div>
    </div>
    <div class="time visible-md visible-lg pull-left">
      <div class="jp-current-time"></div>
    </div>
    <div class="options  pull-right visible-lg">
      <i class="fa fa-bars"></i>
    </div>
    <div class="player-options pull-right">
      <ul class="jp-contrls list-unstyled hidden-xs hidden-sm">
        <li class="mute-toggle visible-lg">
          <a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><i class="fa fa-volume-up"></i></a>
        </li>
        <li class="mute-toggle">
          <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><i class="fa fa-volume-off"></i></a>
        </li>
      </ul>
      <div class="playlist">
        <a href="#" id="playlistPopup"><i class="fa fa-shopping-cart"></i><span class="cart-number">0</span></a>
      </div>
    </div>
  </div>
</div>
