<div class="topbar" data-pg-collapsed>
  <div class="container">
    <div class="logo">
      <%= link_to (image_tag "logo.png", :alt => ""), root_path %> 
    </div>
    <div class="search-box  pull-left hidden-xs">
      <form id="expandable-search-box">
        <input type="search" placeholder="&#xF002;" onfocus="this.placeholder='Search'" onblur="this.placeholder='&#xF002;'">
      </form>
    </div>
    <div class="register-links">
      <nav>
        <ul>
          <% if current_user.present? and current_user.can_upload_track?%>
          <li>
            <a class="upload" href="<%= new_track_path%>" style="line-height:50px;">
              <i class="fa fa-upload"></i>Upload
            </a>
          </li>
          <%end%>
          <% if current_user.present? %>
          <li>
            <%= image_tag (current_user.profile_img.present? ?  current_user.profile_img.url : "avatar.png" ), :alt => "author" %> 
            <%= render "shared/user_nav_list"%>
          </li>
          <% else %>
          <li>
            <%= link_to "Register", new_user_registration_path%>
          </li>          

          <li>
            <%= link_to "Login", new_user_session_path%>
          </li>          
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- /.topbar -->
