<ul>
  <li>
    <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
  </li>
  <li>
    <a href="/profile"><i class="fa fa-user"></i>Profile</a>
  </li>
  <% if current_user.present? and current_user.can_upload_track?%>
  <li>
    <a href="/author_profile/<%= current_user.id%>"><i class="fa fa-play-circle"></i>Beats</a>
  </li>
  <li>
    <a href="/earnings"><i class="fa fa-dollar"></i>Earnings</a>
  </li>
  <% end %>
  <li>
    <a href="/orders"><i class="fa fa-list"></i>Orders</a>
  </li>
  <li>
    <a href="/settings"><i class="fa fa-cog"></i>Settings</a>
  </li>
  <li>
    <a href="<%= destroy_user_session_path%>"><i class="fa fa-sign-out"></i>Logout</a>
  </li>
</ul>
