
<div id="page-wrapper">
<%= render :partial => 'layouts/user_sidebar' %>
  <div class="container-fluid no-space">

    <!-- Page Heading -->
    <div class="row no-space">
      <div class="col-lg-12 no-space">
        <h3 class="page-header prpage-header">
          <i class="fa fa-fw fa-asterisk"></i>Dashboard
         </h3>

         <hr>
         <div class="container-fluid">
                       
           <div class=" col-md-4 text-left">
             <p class="dashboardTitle1">Your account is still inactive.</p>
               <p class="dashboardTitle2">Click here to see how to activate it.</p>
           </div>
                       
             <div class="col-md-4 text-left">
                <p class="dashboardTitle1">Notifications</p>
                <p class="dashboardTitle2">You sold 2 beats since your last visit.</p>
             </div>
            </div>
       </div>
     </div>
   </div>

            
    </div>