<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<%= render :partial => 'layouts/user_sidebar' %>
     <div id="page-wrapper">
     
      <div class="container-fluid no-space">
        
        <div class="row no-space">
          <div class="col-lg-12 no-space">


            <h3 class="page-header prpage-header">
              <i class="fa fa-fw fa-certificate"></i>Settings
            </h3>
            <hr class="hr-space">
              <div class="container-fluid">  
                
               <div class="row">
                <div class="col-md-3 text-center settingmembership">
                  Membership
                </div>
                <div class="col-md-2 text-left">
                  <p class="settingTitle">Current plan</p>
                  <p class="settingsubTitle">Free</p>
                  <p><button class="btn-default settingchangebutton" type="button">Change plan type</button></p>
                </div>
                <div class="col-md-2 text-left">
                  <p class="settingTitle">Account status</p>
                    <p class="settingsubTitle">Active</p>
                </div>
                <div class="col-md-2 text-left">
                  <p class="settingTitle">Beats used:</p>
                    <p class="settingsubTitle">10/12</p>
                </div>
                <div class="col-md-2 text-left">
                  <p class="settingTitle">TPT Storage</p>
                    <p class="progress-bar-info">10/12</p>
                </div>
               </div>
               <hr>


                 <%= devise_error_messages! %>

              <div class="row">
                <div class="col-md-3 text-center settingmembership">
                  Login
                </div>
                <div class="col-md-7 text-left">
                  <p class="settingTitle">Email</p>
                  <p><%= f.text_field :email, :readonly => true, :class =>"form-control settingsubTitle" %></p>
                  <p class="settingsubTitle">New password</p>
                  <p><%= f.password_field :password, autocomplete: "off", :class =>"form-control settingsubTitle" %></p>
                  <div class="col-md-3 no-space">
                   <!-- <button class="btn-default settingchangebutton" type="button">Change password</button> -->
                   <%= f.submit "Change password", :class => "btn-default settingchangebutton"%>
                  </div>
                </div>
                
               </div>     
                <hr>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


                     <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                          Business information
                            <p class="settingsubTitle2 text-left col-xs-offset-2">
                              Your name will only appear on the written agreement that's being generated when you make a sell.
                            </p>
                        </div> 
                        <div class="col-md-7 text-left">
                          <p class="settingTitle">First Name</p>
                          <p><%= f.text_field :Firstname, :class => "form-control settingsubTitle" %></p>
                          <p class="settingsubTitle">Last Name</p>
                          <p><%=f.text_field :Lastname, :class => "form-control settingsubTitle" %></p>
                          <p class="settingsubTitle">Street</p>
                          <p><%= f.text_field :Street,:class => "form-control settingsubTitle"  %></p>
                           <p class="settingsubTitle">City</p>
                          <p><%= f.text_field :City_B,:class => "form-control settingsubTitle"  %> </p>


                          <div class="row">
                            <div class="col-md-10">
                               <p class="settingsubTitle">Contry</p>

                               <%= f.select :Country_B, Country.all.collect {|s| [s.name,s.code]},{:prompt=>"Select Country"},:onchange=>"state_cod()", :class => "form-control settingsubTitle"%>
                             </div>

                             
                          <div class="col-md-2">
                            <p class="settingsubTitle">Sstate/Province</p>
                             <%= f.select :StateProvince_B, State.all.collect {|s| [s.iso]}, :class => "form-control settingsubTitle" %>
                             </div>
                        </div>


                          <div class="col-md-3 no-space">
                            <p class="settingsubTitle" style="padding-top:20px;">Postal/Zip Codd</p>
                          <p><%= f.text_field :Zipcode, :class=>"form-control settingsubTitle" %></p>
                          </div>
                        </div>
                       </div>
                       <hr>




                       <div class="row">
                            <div class="col-md-3 text-center settingmembership">
                                Billing
                                <p class="settingsubTitle2 text-left col-xs-offset-2">This is the card that's being charged for your monthly plan fee.</p>
                            </div>
                            <div class="col-md-4">
                               <p class="settingTitle">Credit card information</p>
                               <div>
                                   <p class="settingsubTitle pull-left ccInformation">MasterCard</p> 
                                   <p class="text-left" ><strong>xxxx-xxxx-xxxx-2889</strong></p>
                               </div>
                               
                              <span class="settingsubTitle text-left">Expires on: 08/14</span>
                             
                            </div>
                            <div class="col-md-1 text-left editbutton">
                                <p><button class="btn-default settingchangebutton" type="button">Edit</button></p>
                              
                            </div>
                             <div class="col-md-1 text-left editbutton">
                                <p><button class="btn-default settingchangebutton" type="button">Delete</button></p>
                               
                            </div>
                            
                           </div>
                           <hr>

                           <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                          Paypal
                            <p class="settingsubTitle2 text-left col-xs-offset-2">The money is being sent to this email when you get paid.</p>
                        </div>
                        <div class="col-md-7 text-left">
                          <p class="settingTitle">Email</p>
                          <p><%= f.text_field :paypalemail, :class => "form-control settingsubTitle" %> </p>
                          
                          </div>
                        </div>
                        
                       <hr>


                       <div class="row">
                        <div class="col-md-3 text-center settingmembership">
                          Shut down account
                            <p class="settingsubTitle2 text-left col-xs-offset-2">By clicking ''Cancel my account'', you understand that all your files & information will be deleted.</p>
                        </div>
                        <div class="col-md-2 text-left">
                           <!-- <button class="btn-default settingchangebutton" type="button">Cancel my account</button> -->
                           <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn-default settingchangebutton" %>
                          </div>
                        </div>
                        </div>
                        <hr> 
                    </div>
                  </div>
                </div>
              </div>
            
               <% end %>