<%= render "shared/topbar"%>
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<%= render "shared/jq_player"%>
<div class="container">
  <nav class="fes-vendor-menu-bsg">
    <ul class="list-inline">
      <li data-pg-collapsed>
        <a href="earningspage.html"><i class="icon icon-home  icon-white"></i> <span class="hidden-phone hidden-tablet">Profile</span></a>
      </li>
      <li class="active" data-pg-collapsed>
        <a href="settingspage.html"><i class="icon icon-user  icon-white"></i> <span class="hidden-phone hidden-tablet">Social Networks</span></a>
      </li>
      <li data-pg-collapsed>
        <a href="submissionpage.html"><i class="icon icon-pencil  icon-white"></i> <span class="hidden-phone hidden-tablet">Credits</span></a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="row">
      <div class="col-md-9">
        <!-- left wing -->
        <div class="left-wing">
          <!-- profile-->
          <div class="profile">
            <!--title-->
            <!--title-->
            <div class="clearfix"></div>
            <!--row-->
            <div class="row">
              <div class="form-group">
                <p class="title">Website</p>
                <div class="span5"><%= f.text_field :Artist_blog %></div>
                <input type="url" class="form-control form-style" placeholder="http://mywebsite.com" name="homepage">
              </div>
              <div class="form-group">
                <p class="title">Facebook</p>
                <input type="url" class="form-control form-style" placeholder="https://facebook.com/myproducerpage" name="facebook">
              </div>
              <div class="form-group">
                <p class="title">Twitter</p>
                <input type="url" class="form-control form-style" placeholder="https://twitter.com/myproducerpage" name="twitter">
              </div>
              <div class="form-group">
                <p class="title">Soundcloud</p>
                <input type="url" class="form-control form-style" placeholder="https://soundcloud.com/myproducerpage" name="soundcloud">
              </div>
              <div class="form-group">
                <p class="title">YouTube</p>
                <input type="url" class="form-control form-style" placeholder="https://youtube.com/user/myproducerchannel" name="youtube">
              </div>
              <div class="form-group">
                <p class="title">Google+</p>
                <input type="url" class="form-control form-style" placeholder="https://plus.google.com/myproducerpage" name="google+">
              </div>
              <div class="form-group">
                <p class="title">Instagram</p>
                <input type="url" class="form-control form-style" placeholder="https://instagram.com/myproducerpage" name="instagram">
              </div>
              <div class="form-group">
                <p class="title">Myspace</p>
                <input type="url" class="form-control form-style" placeholder="https://myspace.com/myproducerpage" name="myspace">
              </div>
            </div>
            <!--row-->
          </div>
          <a href="#" class="btn btn-default btn-lg btn-block btn-custom">save update</a>
        </div>
        <!-- left wing -->
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<!--   footer-->
<%= render "shared/footer"%>
<!--    end of footer-->
<!--    mini-footer-->
<%= render "shared/mini_footer"%>


<% if current_user and current_user.has_role?(:producer_or_beat_maker_or_composer) %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>



Enter your social networks URL :


<div id= "Basicinfo">


</br>


<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"> <%= f.label :"Website" %></div>
  <div class="span5"><%= f.text_field :Artist_blog %></div>
  
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"><%= f.label :"Facebook" %></div>
  <div class="span5"><%= f.text_field :Facebook %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"><%= f.label :"Twitter" %> </div>
  <div class="span5"><%= f.text_field :Twitter %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"><%= f.label :"MySpace" %> </div>
  <div class="span5"><%= f.text_field :MySpace %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"><%= f.label :"Soundcloud" %> </div>
  <div class="span5"><%= f.text_field :Soundcloud %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"><%= f.label :"Google+" %> </div>
  <div class="span5"> <%= f.text_field :GooglePlus %> </div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"> <%= f.label :"YouTube" %>  </div>
  <div class="span5"> <%= f.text_field :YouTube %> </div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"> <%= f.label :"Soundclick" %> </div>
  <div class="span5"> <%= f.text_field :Soundclick %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->

<div class="row-fluid form_sec"><!--form raw !-->
  <div class="span2"> <%= f.label :"Instagram" %> </div>
  <div class="span5"> <%= f.text_field :Instagram %></div>
  <div class="span5"></div>
  
</div><!--form raw !-->






</div>

<% end %>

<% else %>   

<%= render :partial => 'layouts/basicinfo' %>


<% end %>
