<%= render "shared/top_bar"%>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <!-- music player -->
    <div class="bsg-player fix-botto" id="jp_container_1">
      <div class="container">
        <ul class="player-buttons jp-controls list-inline">
          <li class="previous">
            <a href="javascript:;" class="jp-previous"><i class="fa fa-fast-backward"></i></a>
          </li>
          <li class="play">
            <a href="javascript:;" class="jp-play"><i class="fa fa-play"></i></a>
            <a href="javascript:;" class="jp-pause"><i class="fa fa-pause"></i></a>
          </li>
          <li class="next">
            <a href="javascript:;" class="jp-next"><i class="fa fa-fast-forward"></i></a>
          </li>
        </ul>
        <div class="album-details">
          <div class="album-art  ">
            <%= image_tag "albumart.jpg", :alt =>"" %>
          </div>
          <div class="album-info">
            <h4 class="title">  Hangover - DownloadMing.SE.mp3</h4>
            <div class="price">$5</div>
            <div class="author">Adam Beyer</div>
            <div class="album-year">
              <span>Dubstep</span> / 2014-08-05
            </div>
          </div>
        </div>
        <div class="player-seek">
          <div class="jp-progress">
            <div class="jp-proress">
              <div class="jp-seek-bar progress" style="width: 100%;">
                <div class="jp-play-bar bg-info"></div>
                <div class="jp-title text-lt" style="display: none;">Bubble</div>
              </div>
            </div>
          </div>
          <div class="jp-time-holder">
            <div class="time">
              <div class="jp-current-time"></div>                                                                                                                                                 /  
              <div class="jp-duration"></div>
            </div>
          </div>
        </div>
        <div class="player-options">
          <div class="playlist">
            <a data-toggle="modal" href='#playlist'><i class="fa fa-shopping-cart"></i><span class="cart-number">3</span></a>
          </div>
          <ul class="jp-contrls list-unstyled">
            <li class="mute-toggle">
              <a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><i class="fa fa-volume-up"></i></a>
            </li>
            <li class="mute-toggle">
              <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><i class="fa fa-volume-off"></i></a>
            </li>
          </ul>
        </div>
        <div class="buy-buttons  hidden-xs hidden-sm">
          <a href="#" data-id="1" class="btn btn-primary btn-block btn-buy">Buy now</a>
          <a href="#" class="btn btn-primary btn-block btn-details">details</a>
        </div>
      </div>
    </div>
    <!-- /.music player -->
    <div class="container">
      <!--  users-->
      <!--   end of users-->
      <div class="row">
        <!--           left-side-text-->
        <!--            end of left-side-text-->
        <!--           right-side-text-->
        <div class="content-about col-md-8">
          <h1>About BoomBond</h1>
          <h2>BoomBond is the collaboration network for music creators.</h2>
          <p>BoomBond makes the process of producing music interactive. The social platform helps music producers share music projects in source format, perfect for remixing, collaborating, learning from, and gathering feedback from others in the global community.
            Music fans can discover original new music and participate in the creative process.</p>
          <p>Need help? Have questions, comments or ideas? Let us know what's on your mind by emailing team@boombond.com.</p>
          <a href="#" class="btn btn-primary">contact us</a>
        </div>
        <!--            end of right-side-text-->
      </div>
      <div class="row about-us-parent">
        <div class="col-md-3 col-sm-3 user">
          <%= image_tag "user-1.jpg" , :alt => "user-1" %>
          <h1><a href="#">John Doe</a></h1>
          <p>ceo</p>
        </div>
        <div class="col-md-3 col-sm-3 user">
          <%= image_tag "user-2.jpg" , :alt => "user-1" %>
          <h1><a href="#">John Doe</a></h1>
          <p>Web Designer</p>
        </div>
        <div class="col-md-3 col-sm-3 user">
          <%= image_tag "user-3.jpg" , :alt => "user-1" %>
          <h1><a href="#">John Doe</a></h1>
          <p>Web Designer</p>
        </div>
        <div class="col-md-3 col-sm-3 user">
          <%= image_tag "user-4.jpg" , :alt => "user-1" %>
          <h1><a href="#">John Doe</a></h1>
          <p>Customer service</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>
