<%= render :partial => 'layouts/logged' %>

<%= render :partial => 'layouts/user_sidebar' %>

<div id="page-wrapper">



 <%= render 'dashbord' %>
  
</div>


<style>
#page-wrapper {
padding: 9px 120px;
}
</style>