$("#page-wrapper").html("<%= escape_javascript(render("/home/settings")) %>");

  $(document).ready(function(){
$(".submitbutton").hide();
    $(".changepassword").hide();

});

$('.button1').click(function(){

          $(".submitbutton").show();
          $(".changepassword").show();
          $(".button1").hide();

 });



   function state_cod(){
       $.ajax({
      type: 'GET',
      url: "/home/state_codes",
      data: {
        'country' : $("#user_Country_B").val()
      }
    }).done(function(text) {
      $('#user_StateProvince_B').empty().append(text);
    });
  }