<h1>Listing payment_notifications</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_notifications.each do |payment_notification| %>
      <tr>
        <td><%= link_to 'Show', payment_notification %></td>
        <td><%= link_to 'Edit', edit_payment_notification_path(payment_notification) %></td>
        <td><%= link_to 'Destroy', payment_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment notification', new_payment_notification_path %>
