<div id="page-wrapper">

    <div class="container-fluid no-space">

    <!-- Page Heading -->
    <div class="row no-space">
        <div class="col-lg-12 no-space vert-text">
            <div class="container-fluid">
                <div class="col-md-1">	
                </div>
                <div class="col-md-10">
                	<div class="row selectboxtspace">
                    	<%= image_tag('payment3.png', :class=>"img-responsive") %>
                    </div>
                    <div class="row selectboxtspace">
                    	<div class="row no-space">
                            <div class="container-fluid">
                               <div class="col-md-8 col-lg-8">
                                <p class="selectpaymethod">Select payment method</p>
                                <div class="row billinginfo">
                                	<p>Credit card (with Paypal Pro)</p>
                                    <p><%= image_tag('u26_normal.png') %> <%= image_tag('u28_normal.png') %></p>
                                </div>
                                
                                <div class="row billinginfo">
                                	<p>Paypal</p>
                                    <p><%= link_to image_tag('u30_normal1.png') %></p>
                                </div>
                                
                                </div>
                                
                            <div class="col-md-3 boxborder billingmleft">
                            <h5 class="ordardetails mspace2 mtop text-left col-xs-offset-1">Order Details</h5>
                            <div class="row mspace2">
                            	<div class="col-md-6 settingsubTitle text-left">She's the Devil</div>
                                <div class="col-md-6 settingsubTitle text-right">$15.40</div>
                            </div>
                            
                            <hr/>
                            <div class="row mspace2">
                            	<div class="col-md-6 settingsubTitle"><strong>TOTAL</strong></div>
                                <div class="col-md-6"><strong>$59.10</strong></div>
                            </div>
                            
                          </div> 
                            </div>
   						 </div> 
                        
                    </div>
                </div>
               
           </div>
        </div>
    </div>
    <!-- /.row -->
	
   
<!-- /.container-fluid -->

</div>
