<div id="page-wrapper">
  <div class="container-fluid no-space">

    <!-- Page Heading -->
    <div class="row no-space">
      <div class="col-lg-12 no-space vert-text">
        <div class="container-fluid">
          <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="row selectboxtspace">
                <%= image_tag('billinginfo2.png', :class=>"img-responsive") %>
              </div>
              <div class="row selectboxtspace">
                  
                 <div class="row no-space">
                    <div class="container-fluid">
                       <div class="col-md-8 col-lg-8 billinginfoborder">
                        <div class="col-md-6 billinfoborderleft">
                          <div class="row">
                            <p class="loginTextyouraccount text-left">
                              Log in to your account
                            </p>
                          </div>
                          <%= form_for(User.new, :url => session_path(User.new)) do |f| %>
                            <div class="form-group">
                              <div class="settingsubTitle text-left">  
                                <%= f.label :Email %>
                              </div>
                              <div class="col-sm-12 no-space">
                                <%= f.email_field :email, :class=>"form-control", :autofocus => true  %>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="settingsubTitle text-left"><%= f.label :Password %></div>
                              <div class="col-sm-12 no-space">
                                <%= f.password_field :password, :class=>"form-control" %>
                              </div>
                              <div class="col-sm-8 forgotpass text-left no-space"><a href="#">Forgot your password?</a></div>
                            </div>
                            <div class="form-group">
                              <div class="col-sm-7 pull-left text-left no-space">
                                <button type="submit" class="btn btn-default signin">Log in</button>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="row billinginfoborder2">
                            <p class="continewwithoutlogin">Continue without logging in</p>
                            <p class="billintext">You'll have the option to register for an account after your purchase</p>
                          </div>
                          <p>
                            <button class="btn btn-info btnbg billintextbtn"><%= link_to 'Continue as a guest', billing_payments2_carts_path ,  :style=>"color: #FFFFFF" %><i class=" fa fa-play"></i> 
                            </button>
                          </p>
                         </div>
                        </div>
                        <div class="col-md-3 boxborder billingmleft">
                          <h5 class="ordardetails mspace2 mtop text-left col-xs-offset-1">Order Details</h5>
                          <% @cart.line_items.each_with_index do |li, a| %>
                          <div class="row mspace3">
                            <div class="col-md-6 settingsubTitle text-left"><%= li.track.title %></div>
                              <div class="col-md-6 settingsubTitle text-right">$<%= li.unit_price %></strong></div>
                          </div>
                          <% end %>
                          <hr/>
                          <div class="row mspace3">
                            <div class="col-md-6 settingsubTitle"><strong>TOTAL</strong></div>
                            <div class="col-md-6"><strong>$<%= @cart.total_price%></strong></div>
                          </div>
                        </div> 
                      </div>
                    </div> 
                  </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->
    