<div id="page-wrapper">
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
      <div class="selectboxtspace col-xs-offset-1">
          <%= image_tag('billinginfo2.png', :class=>"img-responsive") %>
      </div>
      <div class="col-md-1"></div>
        <%= form_for @billing_detail,:url => complete_payment_carts_path do |f| %>  
        <div class="col-md-5 col-lg-5 col-sm-5 selectboxtspace">
          <div class="billingTitle text-left">
            Billing Information
          </div>
          <div class="text-left billinginputTitle selectboxtspace">First Name</div>
            <%= f.text_field :first_name , :class=>"form-control settingsubTitle", :placeholder => "Enter First Name"%> 
          <div class="text-left billinginputTitle selectboxtspace">Last Name</div>
            <%= f.text_field :last_name , :class=>"form-control settingsubTitle", :placeholder => "Enter Last Name"%> 
          <div class="text-left billinginputTitle selectboxtspace">Artist Name</div>
            <%= f.text_field :artist_name , :class=>"form-control settingsubTitle", :placeholder => "Enter Artist Name"%>        
          
          <div class="col-md-12 col-lg-12 no-space">
          </div>
          <div class="billingTitle text-left billingdeleveryinfo">
            Delivery information
          </div>
          <div class="text-left billinginputTitle selectboxtspace">Email Address</div>
          <div class="col-md-12 col-lg-12 no-space">
            <%= f.text_field :email , :placeholder => "Enter email", :class=>"form-control settingsubTitle" %>
          </div>
            <div class="billingdelevery text-left">Your order will be sent to this email</div>
            <div class="checkbox billingrememberme text-left">
              <% if not current_user %>
                <%= f.check_box :create_user,:style => "width:30px; line-height:23px;" %> Create Beatbucks account with this email
              <% end %>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 boxborder col-xs-offset-1">
          <h5 class="ordardetails mspace2 mtop text-left col-xs-offset-1">Order Details</h5>
          <% @cart.line_items.each_with_index do |li, a| %>
          <div class="row mspace2">
            <div class="col-md-5 settingsubTitle text-left"><%= li.track.title %></div>
            <div class="col-md-6 settingsubTitle text-right">$<%= li.unit_price %></div>
          </div>
          <% end %>
          <hr/>
          <div class="row mspace2">
            <div class="col-md-5 settingsubTitle"><strong>TOTAL</strong></div>
            <div class="col-md-6 text-right"><h4>$<%= @cart.total_price%></h4></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container-fluid">
          <div class="col-md-6 col-lg-6 text-right">
            <!-- <button class="btn btn-info btnbg billintextbtn procedpayment">Proceed to payment </button> -->
            <%= f.submit "PROCEED TO PAYMENT", :class=>"btn btn-info btnbg billintextbtn procedpayment" %>
            <p class="procedcards"><%= image_tag('u12_normal.png') %></p>
          </div>
        </div>
      </div><!-- /.row -->
      <% end %><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
