
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div id="page-wrapper2">
        <div class="container-fluid">  
         <div class="row"> 
            
            <div class="col-md-6 col-lg-6" style="width: 64%;margin-left: -2%">
              <div><%= image_tag('back.png') %>
                <%= link_to "Go back", root_path, :class => "licenceagrementtext" %> </div>
              <div class="row licenceagrementTitle text-left col-xs-offset-1"><%= image_tag('dolor.png') %> Agreement for a exclusive use only</div>
              <div class="row">
                  <div class="col-md-1 col-lg-1">
                      <%= image_tag('i.png') %>
                    </div>
                    <div class="col-md-10 col-lg-10 text-left licenceagrementtext">
                    This license allows you to incorporate/rearrange this beat into a NON-MONETIZING song, music video and/or live performance.   That means no selling, no leasing, no performance fees.  Only giveaways, free downloads & good-hearted shows.  For more explanation about the purpose of this license, you can read this article.<br/><br/>
                    
                    <p><strong>1. Just so we speak the same language…</strong></p>
                    <span>(a)The “Recording“ is the beat you buy on Beatbucks.</span>
                    <span>(b) The “Derivative’’ is the state of the Recording once its incorporated in:</span>
                    
                    <p>i. a musical performance (e.g. recording vocals, a mash-up, a live performance);</p>
                    <span>or</span>
                    <p>ii. a musical performance and its music video;</p>
                      
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-md-1 col-lg-1">
                    <%= image_tag('u287_normal.png') %>
                  </div>
                    <div class="col-md-10 col-lg-10 text-left licenceagrementtext">
                    <p><strong>2.  You CAN</strong></p>
                    <span>(a) modify the Recording.  In other words, you can remove some parts, add new ones, add some effects, play around with gain, EQ's, dynamics, etc;.</span><br/><br/>
                    <span>(b)  make a maximum of one (1) Derivative of this Recording.  In order to make another Derivative of this Recording, you will have to purchase a license again.</span><br/><br/>
                    
                    <span>(c)   make as many copies as you want of the Derivative, but…</span><br/><br/>
                    
                    <span>(d)   as long as it's distributed for free.</span><br/><br/>
                    
                    <span>e.g   You can GIVE out as many mixtapes/albums as you want, for free. 

                You can let people download your song (the Derivative) on any website, for free.

               If you make a music video and put it on YouTube, monetization is not enabled.

                Capisce?</span><br/><br/>
                    
                   
                      
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-md-1 col-lg-1">
                      <%= image_tag('u283_normal.png') %>
                  </div>
                    <div class="col-md-10 col-lg-10 text-left licenceagrementtext">
                    <p><strong>3. You CAN’T</strong></p>
                    <span>(a) resell or sublicense the Recording (that is, in its current version)</span><br/><br/>
                    <span>(b)  sell or license the Derivative;</span><br/><br/>
                    
                    <span>(c)   distribute the Derivative through a third party that pays you to use it;</span><br/><br/>
                    
                    <span>(d)   make the Derivative generate income from publicity (e.g. YouTube's monetization program);</span><br/><br/>
                    
                    <span>(e)  use the Recording or its Derivative in a radio or TV advertisement;</span><br/><br/>
                    <span>(f)  use the Recording as a theme song for a radio or TV show;</span><br/><br/>
                    <span>(e)  associate the Recording and/or its Derivative to a brand, cause or institution.</span><br/><br/>
                    
                   
                      
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-md-1 col-lg-1">
                    <%= image_tag('u292_normal.png') %>
                  </div>
                    <div class="col-md-10 col-lg-10 text-left licenceagrementtext">
                    <p><strong>4. RIGHTS</strong></p>
                    <span>(a)  Producer withholds 100% of publishing rights on Recording.</span><br/><br/>
                    <span>(b)   Producer withholds 50% (and grants you the other 50%) of publishing rights on Derivative.  Therefore, both parties shall each earn 50% of performance, synchronization, and mechanical royalties generated by this Derivative.</span><br/><br/>
                    
           
                    </div>
                </div>
               
                <div class="row">
                  <div class="col-md-1 col-lg-1">
                      <%= image_tag('u285_normal.png') %>
                  </div>
                    <div class="col-md-10 col-lg-10 text-left licenceagrementtext">
                    <p><strong>5.Your DUTIES</strong></p>
                    <span>(a)  You have to give credit to the Producer― in a way that is fairly visible ―along with whichever medium is being used to communicate the Derivative to the public.  For instance, if you're making physical copies, the Producer's name has to appear on the liner.</span><br/><br/>
                    <span>(b)   In the event that there’s an ISRC number assigned to the Derivative, you have to communicate the aforesaid number and the title of the Derivative to the Producer within thirty (30) days.</span><br/><br/>
                    
                    
                    <span>(c)   If you collect monies on Producer’s behalf, it is your responsibility to make follow his share ―stated above in par. 4― to his Paypal account (or through any other money transfer instances, as long as both parties agree on it).</span><br/><br/>
                    
                    
                    <p><strong>Other license terms</strong></p>
                    <span>(6)  The Producer has the right to revoke this license if you fail to comply with one of these terms.</span><br/><br/>
                    <span>(7)   All of the above apply on the Recording’s "Track-Per-Track" files.</span><br/><br/>
                    
                    
                  
           
                    </div>
                </div>
                
            </div>
            
            <!--right box-->

                        </div>
                        
                    </div>
                 </div>
            </div>
          </div>
            
        </div>
     </div>



     <!-- jQuery Version 1.11.0
    <script src="js/jquery-1.11.0.js"></script>

    <! Bootstrap Core JavaScript
    <script src="js/bootstrap.min.js"></script>

    <! Morris Charts JavaScript 
    <script src="js/raphael.min.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/morris-data.js"></script>
 -->
