  <div id="page-wrapper">
  <div class="container-fluid no-space">
  <!-- Page Heading -->
    <div class="row no-space">
      <div class="col-lg-12 no-space vert-text">
        <div class="container-fluid">
          <div class="col-md-10">
            <div class="row selectboxtspace">
              <div class="col-md-9"><%= image_tag('billinginfo1.png', :class=>"img-responsive") %></div>
               <div class="col-md-2 keepshopping text-right">
                <a href="<%= root_path %>"><%= image_tag('arrowleft2.png') %> &nbsp; KEEP SHOPPING</a>
              </div>
            </div>    
                  
            <div class="row selectboxtspace">
              <div class="row no-space">
                <div class="container-fluid">
                   <div class="col-md-12 col-lg-12">
                    <div class="row billpayment1bg">
                        <div class="col-md-3 col-lg-3 col-xs-3 billpayment1title">
                          Track 
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-3 billpayment1title">
                          Format
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-2 billpayment1title">
                          License
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2 billpayment1title">
                          Optins
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-1 billpayment1title">
                          Total
                        </div> 
                      </div>
                                
                      <% @cart.line_items.each_with_index do |li, a| %>
                      <div class="row billpayment1bg2">
                        <div class="col-md-3 col-lg-3 col-xs-3 billpayment1title">
                          <div class="row">
                              <div class="col-md-5 no-space">
                               <div id="play-bg" style="background-image:url(<%= li.track.track_image.url(:thumb) %>); "  >
                                 <%= render 'tracks/track_player', :track => li.track, id: "player" %>
                               </div>

                              
                                  <%#= image_tag 'play.png' %>
                                  <%#= render 'tracks/track_player', :track => li.track %>
                               </div>
                                <div class="col-md-7 no-space">
                                  <div class="billpaysubtitieldevel"><%= li.track.title %></div>
                                    <div class="billpaysubtitielid"><%= li.track.subgenere %></div>
                                    <div class="billpaysubtfromid">From: MR. 
                                      <%= li.track.user ? li.track.user.Firstname.upcase : "stephan".upcase %>

                                      <%#= li.track.user.Firstname %></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-3 billpayment1title">
                          <select class="selectrecet">
                              <option value="wav">wav</option>
                          </select>
                          <div class="billnoncomsub">$0.00</div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-2 billpayment1title">
                          <div class="billnoncom">Non-commercial</div>
                          <div class="billnoncomsub2">$<%= li.unit_price %></div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2 billpayment1title">
                          <div class="billnoncom">TPT</div>
                          <div class="billnoncomsub2">$<%= @unit_tpt_price %></div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-1 billpayment1title">
                          <div class="billtotal">$<%= li.unit_price %></div>
                            <div class="billedit">
                              <ul>
                                <li><a href="#">Edit</a><%#= link_to "Edit", edit_cart_path(@cart) %></li>
                                <li><%= link_to 'Remove', li, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                              </ul> 
                            </div>
                        </div>
                      </div>
                      <% end %>
                      <div class="row">
                        <div class="col-md-3 col-lg-3 col-xs-3 billpayment1title">
                          <div class="row billpayment1bg2 totaldownloadgb">
                              <div class="col-md-12 no-space billpaysubtitielid">
                                  Total download size : <%#= li.track.tpt_file_size %>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-1 billpayment1title">
                          <a href="<%= current_user.present? ? billing_payments2_carts_path : billing_payments_carts_path %>"><%= image_tag('checkout.png') %></a>
                        </div> 
                        
                      </div>              
                  </div>            
                </div>
              </div>           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style type="text/css">


  
  #play-bg{
    margin: -10px;
  }
</style>