<%= render "shared/top_bar"%>
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div class="container">
</div>
<%= render "billing_payments2" %>
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>
