<%= render "shared/top_bar"%>
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div class="container">
</div>
<%= form_for(@billing_details, :url => complete_payment_carts_path) do |f|%>
<div class="container">
  <div class="row checkout-broken">
    <div class="registration-steps">
      <div class="step step1">
        <div class="timeline timeline-r"></div>
        <span class="step-text">1</span>
        <div class="step-desc">
          <span>Review</span>
        </div>
      </div>
      <div class="step step2 current">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">2</span>
        <div class="step-desc">
          <span>Billing</span>
        </div>
      </div>
      <div class="step step3">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">3</span>
        <div class="step-desc">
          <span>Payment</span>
        </div>
      </div>
      <div class="step step4">
        <div class="timeline timeline-l"></div>
        <span class="step-text">4</span>
        <div class="step-desc">
          <span>Download</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- left wing -->
      <div class="left-wing">
        <% if current_user.nil?%>
        <div class="login">
          <a href="#" class="btn btn-custom">Login</a>
          <p>and keep record of your purchases</p>
        </div>
        <div class="or">
          <div class="line line-r"></div>
          <div class="line line-l"></div>
          <span>or</span>
        </div>
        <%end%>
        <div class="guests">
          <div class="profile">
            <!--title-->
            <!--title-->
            <h4>Billing information</h4>
            <!--row-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.text_field :first_name, :class => "form-control form-style", :placeholder => "First name"%>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.text_field :last_name, :class => "form-control form-style", :placeholder => "Last name"%>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.text_field :artist_name, :class => "form-control form-style", :placeholder => "Stage Name (optional)"%>
                </div>
              </div>
              <!--col-md-6-->
              <!--col-md-6-->
              <!--col-md-6-->
              <!--col-md-6-->
              <!--col-md-6-->
            </div>
            <h4>Delivery information</h4>
            <div class="col-md-12">
              <div class="form-group">
                <%= f.email_field :email, :class => "form-control form-style", :placeholder => "Email"%>
              </div>
            </div>
            
            <!--row-->
          </div>
          <!-- live products-->
          <!-- profile-->
        </div>
        <!--guest purchase-->
        <!--guest purchase-->
      </div>
      <!-- left wing -->
    </div>
    <!--end of col md 8 -->
    <!--end of col md 4 -->
    <div class="col-md-4">
      <!--right wing-->
      <div class="right-wing">
        <!--author-profile-->
        <!--author-profile-->
        <!--author-profile-->
        <div class="author-portfolio">
          <div class="author-info">
            <h4 class="heading">order details</h4>
            <ul class="list-unstyled">
              <% @line_items.each do |li|%>
              <li><%= li.track.title%></li>
              <%end%>            
            </ul>
            <h1 class="earnings">$ <span class="number"><%= @total_value%></span></h1>
          </div>
          <div class="view-profile">
            <%= f.hidden_field :cart_id%>
            <%= f.hidden_field :user_id%>
            <%= f.submit "proceed to payment", :class => "btn btn-info btn-block btn-custom" %>
          </div>
        </div>
        <!--author-profile-->
      </div>
      <!--right wing-->
    </div>
    <!--end of col md 4 -->
  </div>
</div>
<%end%>
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>
