<%= stylesheet_link_tag "checkout"%>
<%= render "shared/top_bar"%>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>

<div class="container">
  <div class="row checkout-broken">
    <div class="registration-steps">
      <div class="step step1 current">
        <div class="timeline timeline-r"></div>
        <span class="step-text">1</span>
        <div class="step-desc">
          <span>Review</span>
        </div>
      </div>
      <div class="step step2">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">2</span>
        <div class="step-desc">
          <span>Billing</span>
        </div>
      </div>
      <div class="step step3">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">3</span>
        <div class="step-desc">
          <span>Payment</span>
        </div>
      </div>
      <div class="step step4">
        <div class="timeline timeline-l"></div>
        <span class="step-text">4</span>
        <div class="step-desc">
          <span>Download</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- left wing -->
      <div class="left-wing">
        <!-- live products-->
        <!--title-->
        <!--title-->
        <div class="clearfix"></div>
        <!--table-responsive-->
        <div class="table-responsive table-orders">
          <table class="table">
            <thead>
              <tr>
                <td class="text-center" style="width:40%;">title</td>
                <td class="text-center">license</td>
                <td class="text-center">options</td>
                <td class="text-center">price</td>
              </tr>
            </thead>
            <tbody>
              <% @line_items.each do |li|%>
              <% track = li.track%>
              <tr>
                <td>
                  <div class="products">
                    <div class="product-image">
                      <%= image_tag  (track.track_image.present? ? track.track_image.url : "product-1.jpg"), :alt => "" %> 
                      <a class="song" href="#" data-id="<%= track.id %>"  data-title="<%= track.title %>" data-artist="<%= track.user.try(:ArtistName) %>" data-mp3="<%= track.mp3_track_file.present? ? track.mp3_track_file.expiring_url(24.hours): '' %>" data-poster="<%= track.track_image.present? ? track.track_image.url : ''%>" > <i class="fa fa-play bsg-play-button"></i></a>
                    </div>
                    <div class="type-price">
                      <div><%= track.title%></div>
                      <div class="beatmaker"><%= track.user.name%></div>
                    </div>
                  </div>
                </td>
                <td class="text-center genre"><%= li.item_type%></td>
                <td class="text-center date">
                  <span class="number">Track-outs</span>
                </td>
                <td class="text-center price">$ 
                  <span class="number"><%= li.unit_price%></span>
                </td>
              </tr>
              <% end %>
              <!--emd of row-->
            </tbody>
          </table>
        </div>
        <!--table-responsive-->
        <!-- live products-->
      </div>
      <!-- left wing -->
    </div>
    <!--end of col md 8 -->
    <!--end of col md 4 -->
    <div class="col-md-4">
      <!--right wing-->
      <div class="right-wing">
        <!--author-profile-->
        <!--author-profile-->
        <!--author-profile-->
        <div class="author-portfolio">
          <div class="author-info">
            <h4 class="heading">total</h4>
            <h1 class="earnings">$ <span class="number"><%= @total_value%></span></h1>
          </div>
          <div class="view-profile">
            <a href="<%= billing_cart_path(@cart)%>" class="btn btn-info btn-block btn-custom">checkout</a>
          </div>
        </div>
        <!--author-profile-->
      </div>
      <!--right wing-->
    </div>
    <!--end of col md 4 -->
  </div>
</div>
<%= render "shared/mini_footer"%>
