<%= render "shared/top_bar"%>
<div class="container">
</div>
<div class="container">
  <div class="row checkout-broken">
    <div class="registration-steps">
      <div class="step step1">
        <div class="timeline timeline-r"></div>
        <span class="step-text">1</span>
        <div class="step-desc">
          <span>Review</span>
        </div>
      </div>
      <div class="step step2">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">2</span>
        <div class="step-desc">
          <span>Billing</span>
        </div>
      </div>
      <div class="step step3">
        <div class="timeline timeline-r"></div>
        <div class="timeline timeline-l"></div>
        <span class="step-text">3</span>
        <div class="step-desc">
          <span>Payment</span>
        </div>
      </div>
      <div class="step step4 current">
        <div class="timeline timeline-l"></div>
        <span class="step-text">4</span>
        <div class="step-desc">
          <span>Download</span>
        </div>
      </div>
    </div>
  </div>
  <h3>Transaction complete</h3>
  <section class="message">Your wave files are on their way.  In the meantime, you can grab the mP3 and get to work! </section>
  <div class="row">
    <!--end of col md 4 -->
    <div class="col-lg-4 col-sm-6">
      <!--right wing-->
      <div class="download-box">
        <div class="author-portfolio">
          <div class="author-info">
            <h4 class="heading">mp3</h4>
            <h1 class="earnings"><i class="fa fa-clock-o"></i><span>Available now</span></h1>
          </div>
          <% @cart.line_items.each do |line_item|%>
          <div class="view-profile">
            
            <a href="<%= mp3_download_track_path(line_item.track)%>" class="btn btn-block btn-custom"><%= line_item.track.title%> download</a>
          </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <!--right wing-->
      <div class="right-wing">
        <div class="author-portfolio">
          <div class="author-info">
            <h4 class="heading">wave</h4>
            <h1 class="earnings"><i class="fa fa-clock-o"></i><span>Available in 4h - 5h</span></h1>
          </div>
          <div class="view-profile">
            You will receive a download link to your .wav file(s) by email.  The link will be valid for 48h.
          </div>
        </div>
      </div>
    </div>
    <!--end of col md 4 -->
  </div>
</div>

