<%= javascript_include_tag 'jquery' %>
<% if @track_type == 'profit' %>
  <%= render "profit", :product => @product %>
<% end %>
<% if @track_type == 'exclusive' %>
  <%= render "exclusive", :product => @product %>
<% end %>
<% if @track_type == 'promotion' %>
  <%= render "promotion", :product => @product %>
<% end %>

  <div class="col-md-4 col-lg-4 navtopfix">
    <div class="row navtopbg">
      <div class="col-lg-3">
        <%= image_tag @product.track_image.url, :size => '90x90' %>
      </div>
      <div class="col-lg-6">
        <div class="licencedeveltext"><%= @product.title %></div>
          <div class="licencemrbig">
            <span class="licenceby">by</span> <%= current_user ? current_user.Firstname.upcase : "Guest" %>
          </div>
        <div class="licenceeastcost">
          <%= @product.subgenere %>
        </div>
        <div class="licencedate"><%= @product.created_at.strftime "%Y/%m/%d" %></div>  
      </div>
      <div class="col-lg-3 licencelikesspacetop">
        <div class="licencelikes"><%= image_tag('u703_normal.png') %></div>
          <div class="licencelikes"><%= image_tag('u701_normal.png') %></div>
          <div style="color:#ffffff; font-size:15px;">!</div>
      </div>
      <div class="row">
        <div class="col-lg-11 col-md-11" style="margin-left:20px;">
          <div class="demo">
            <div id="horizontalTab">
              <ul class="resp-tabs-list">
                <li>Licenses</li>
                <li><%= link_to "Music", music_path, :method => :get, :remote =>true, :style =>"color: #FFFFFF" %></li>
                <li><%= link_to "Files", files_path, :method => :get, :remote =>true, :style =>"color: #FFFFFF" %></li>
                <li><%= link_to "Description", descripition_path, :method => :get, :remote =>true, :style =>"color: #FFFFFF" %></li>
              </ul>

              <div class="resp-tabs-container">
                <div>
                  <div class="row">
                    <div id = "remove_selected">
                      <div class="col-md-6">
                        <span class="field-tip">
                          <p class="tooltipTitle">
                            <% if @track_type == 'profit' %>Profit Only<% end %>
                            <% if @track_type == 'exclusive' %>Exclusive Only<% end %>
                            <% if @track_type == 'promotion' %>Promotion Only<% end %></p>
                        <span class="tip-content">
                          <div class="toolheadline">license for one (1) non-profit use only.</div>
                          <div class="row">
                            <div class="col-md-2 col-lg-2 toolheadsubtext">Do's:</div>
                            <div class="col-md-10 col-lg-10">
                              <ul class="toolheadsubtext">
                                <li>Alter</li>
                                  <li>Record a song</li>
                                  <li>Make a music video*</li>
                                  <li>Perform at events</li>
                                  <li>GIVE copies</li>
                              </ul>
                            </div>
                          </div>   
                          <div class="row">
                            <div class="col-md-2 col-lg-2 toolheadsubtext">Dont's</div>
                            <div class="col-md-10 col-lg-10">
                              <ul class="toolheadsubtext">
                                <li>SELL copies </li>
                                <li>USE in advertizing</li>
                                <li>Associate to brand</li>
                              </ul>
                            </div>
                          </div>
                          <div class="toolheadline tracksearchmspace">*Video can't be monetizing on YouTube</div>
                        </span>
                      </span>   
                    </div>

                    <div class="col-md-6 no-space">
                      <p class="remove_btn removebtn text-right"><a style="cursor:pointer"> Remove</a></p>
                    </div>
                    <div class="col2-DIV">
                      <div class="row licencemargin">
                        <div class="col-md-6 col-lg-6 text-left">
                          <div class="license">
                            <%= image_tag('rightarrow.png', :class=>"liscensespace") %>License</div>
                        </div>
                          <div class="col-md-6 col-lg-6 licencerate text-right">
                            $<%= @unit_price %> <span class="licencedeg">00</span>
                          </div>
                        </div>                
                      <input type="hidden" id="tpt_price" value="<%= @unit_tpt_price %>" >
                      <input type="hidden" id="unit_price" value="<%= @unit_price %>" >
                        <% if @unit_tpt_price.present? %>
                        <div class="lic-div">
                          <div class="col-md-6 col-lg-6 text-left">
                            <p class="license">
                            <input type="checkbox" id="tpt_check_box"  />
                            TPT License<span style="margin-bottom:20px;">
                            <%= image_tag('u656_normal.png') %></span></p>
                        </div>
                        <div class="col-md-6 col-lg-6 licencerate text-right">
                            +&nbsp; &nbsp;$<%= @unit_tpt_price %> <span class="licencedeg">00</span>
                          </div>
                      </div>  
                      <% end %>
                    </div>
                    <div class="hrspace2">   </div>

                    <div class="row hr-space">
                      <div class="col-md-6 col-lg-6 licenceTotal">
                        TOTAL
                      </div>
                        
                      <div class="col-md-6 col-lg-6 licenceTotaldollors text-right">
                        <span style="font-size:14px !important; padding-bottom:-20px;" >$</span><span class="fif" id="total_amount_div"><%= @unit_price %></span><span style="font-size:14px !important; padding-bottom:-20px;">.00</span>
                      </div>
                    </div>

                    <input type="checkbox" id="agree_checkbox"> 
                      <div class="agreement" style="color:#FFF">By clicking ''I AGREE'', you accept the terms and conditions of this </div> 
                      <div class="agree_btn_div">
                        <%= link_to image_tag('u1334_normal.png'), line_items_path(:product_id => @product, :track_type => @track_type, :tpt_flag => true), :method => :post, :class => 'submit_btn1 submit_btn' %>
                        <%= link_to image_tag('u1334_normal.png'), line_items_path(:product_id => @product, :track_type => @track_type, :tpt_flag => false), :method => :post, :class => 'submit_btn2 submit_btn' %>
                      </div>
                    </div>

                <div id = "select_again" style="color:#FFF">
                  <% if @product.promotion_licence_price %>
                  <h3 title="<%= promotion_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">Promotion only</h3>
                    <ul class="select">
                      <li><%= link_to "Select", license_agrement_carts_path(:product_id => @product, :track_type => "promotion") %></li>
                        <li>$<%= @product.promotion_licence_price %></li>
                    </ul>
                  <% end %>
                  <% if @product.profit_licence_price %>
                  <h3 title="<%= profit_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">For Profit</h3>
                  <ul class="select">
                    <li><%= link_to "Select", license_agrement_carts_path(:product_id => @product, :track_type => "profit") %></li>
                    <li>$<%= @product.profit_licence_price %></li>
                  </ul>
                  <% end %>
                  <% if @product.exclusive_licence_price %>
                  <h3 title="<%= exclusive_dos_dont_text %>" data-placement="bottom"  data-html="true" rel="tooltip">Exclusive</h3>
                  <ul class="select">
                    <li><%= link_to "Select", license_agrement_carts_path(:product_id => @product, :track_type => "exclusive") %></li>
                      <li>$<%= @product.exclusive_licence_price %></li>
                  </ul>
                  <% end %>
                </div>
             </div>

<script>
$(document).ready(function() {
  $("#select_again").hide();
  $('.submit_btn1').hide();
  $('.submit_btn2').hide();
  $(".checkout_click").click(function(){
    $(location).attr('href',"<%= current_user.present? ? billing_payments2_carts_path : billing_payments_carts_path %>");
  });
  $(".remove_btn").click(function(){
    $("#select_again").show();
    $("#remove_selected").hide();
  });
  $("#agree_checkbox").click(function(){
    var checked = $(this).attr('checked');
    if(this.checked){
      if($("#tpt_check_box").attr('checked')){
        $('.submit_btn1').show();
        $('.submit_btn2').hide();
      }else{
        $('.submit_btn1').hide();
        $('.submit_btn2').show();
      }
    }else{
      $('.submit_btn').hide();
    }
  });
  $("#tpt_check_box").click(function(){
    tot_price = $("#unit_price").val();
    if($(this).is(':checked')){
      tot_price = parseFloat(tot_price) + parseFloat($("#tpt_price").val());
      $('.submit_btn1').show();
      $('.submit_btn2').hide();
    }else{
      $('.submit_btn1').hide();
      $('.submit_btn2').show();
    }
    if(!$("#agree_checkbox").attr('checked')){
      $('.submit_btn').hide();
    }
    $("#total_amount_div").html(tot_price)
  });
});
</script>
<%= javascript_include_tag 'easyResponsiveTabs.js' %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>