<!-- Page Heading -->
<div class="row no-space">
  <div class="col-lg-12 no-space vert-text">
    <div class="container-fluid">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="clear"></div>
            <div class="row mtop">
              <%= image_tag('download.png', :class=>"img-responsive") %>
            </div>
            <div class="row">
              <div class="container-fluid no-space">
                <h4 class="downloadTitletext text-left">Transaction successful!</h4>
                  <div class="col-md-2 keepshopping text-right" style="float: right"><a href="<%= root_path %>">
                    <%= image_tag('arrowleft2.png') %> &nbsp; KEEP SHOPPING</a>
                  </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 no-space">
                  <div class="downloadeslot">
                    The WAV's are on their way to your email.  In the meantime, you can grab the mp3's, and get to work!
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 no-space downloadslotleft">
                  <div class="downloadsltitle">mp3</div>
                  <div class="downloadalaram"><%= image_tag('alaram.png', :height=>"28", :width=>"25", :style => "margin: 5% 1%") %></div>
                  <div class="downloadavailable">Available now</div>
                  <div class="col-md-12 col-lg-12 no-space doenloadboxspace">
                    <div class="list-group borderradius">
                      <% @cart.line_items.each_with_index do |li, a| %>
                        <div class="row">
                          <div class="col-md-8 col-xs-6 downloadavailable3 text-left"><%= li.track.title %></div>
                          <div class="col-md-4 col-xs-6  text-left">
                            <a href="<%= mp3_download_track_path(li.track)  %>">
                              <%= image_tag('u52_normalite.png') %>&nbsp;Download</a>
                          </div>
                        </div>
                      <% end %> 
                    </div> 
                    <div class="col-md-4 col-xs-6  text-left">
                      <a href="<%#= download_zip_track_path()  %>">
                        <%= image_tag('u52_normalite.png') %>&nbsp;Download All</a>
                      </div>                          
                    <div class="downloadall"></div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 no-space downloadslotright">
                  <div class="downloadsltitle">wav</div>
                  <div class="downloadalaram"><%= image_tag('alaram.png', :height=>"28", :width=>"25", :style => "margin: 5% 1%") %></div>
                  <div class="downloadavailable">Available in 4h - 5h</div>
                  <div class="downloadavailable2">You will receive a download link to your WAV file(s) by email.  It will be valid for 48h.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="col-md-6 col-lg-6 no-space downloadslotright">
                  <div class="downloadsltitle">wav</div>
                  <div class="downloadalaram"><%= image_tag('alaram.png', :height=>"28", :width=>"25", :style => "margin: 5% 1%") %></div>
                  <div class="downloadavailable">Available in 4h - 5h</div>
                  <div class="downloadavailable2">You will receive a download link to your WAV file(s) by email.  It will be valid for 48h.</div>
                </div>
              </div>
            </div>

  <!-- /.row -->

