<h1>Listing glacier_details</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glacier_details.each do |glacier_detail| %>
      <tr>
        <td><%= link_to 'Show', glacier_detail %></td>
        <td><%= link_to 'Edit', edit_glacier_detail_path(glacier_detail) %></td>
        <td><%= link_to 'Destroy', glacier_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glacier detail', new_glacier_detail_path %>
