<%= stylesheet_link_tag "login_page", media: "all", "data-turbolinks-track" => true %>
<div class="company-name">
  <div class="container company">
    <%= link_to (image_tag "white_logo.png", :alt => "logo"), root_path%>
  </div>
</div>
<!--    end of company-name-->
<!--    signin-block-->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>
<div class = "row">
  <% flash.each do |key, value| %>
  <div class="<%= flash_alert_class(key) %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
  <% end %>
</div>

<div class="signin-main">
  <div class="container">
    <p>login</p>
    <div class="col-md-offset-4 col-md-4 signin-block">
      <!--                sign-in-->
      <div class="sign-in">
        <p>Don't have an account? <span><a href="<%= new_user_registration_path%>">Sign up for free!</a></span></p>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="form-group">
            <label for="email-addr">Email address</label>
            <%= f.email_field :email, :autofocus => true, :class=> "form-control", :id => "email-addr" %>
          </div>
          <div class="form-group">
            <label for="Password1">Password</label>
            <%= f.password_field :password,:class=>"form-control", :id=>"Password1"%>
          </div>
          <button type="submit" class="btn btn-default submit-btn">Submit now</button>
        </form>
        <div class="forgot-password">
          <i class="fa fa-lock"></i>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
      </div>
      <!--                end of sign-in-->
    </div>
  </div>
</div>
<!--   end of signin-block-->
<!--    social-->
<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p>or</p>
        <button type="submit" class="btn btn-default submit-btn sc-btn">
          <i class="fa fa-soundcloud"></i>&nbsp;&nbsp;login with soundcloud
        </button>
      </div>
    </div>
  </div>
</div>
<% end%>
<!--    end of social-->
<%= render "shared/footer"%>
<%= render "shared/mini_footer"%>

