<%= render "shared/top_bar"%>
<!-- topbar -->
<!-- /.topbar -->
<!-- hero unit -->
<!-- /.hero unit -->
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <%= render "shared/music_player"%>
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
  </div>
</div>


<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_N" class="jp-video jp-video-270p">
  <div class="jp-type-playlist">
    <!-- music player -->
    <!-- /.music player -->
    <!-- playlist model -->
    <div class="modal fade" id="playlist">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Playlist of songs added to cart</h4>
          </div>
          <div class="modal-body">
            <div class="jp-playlist">
              <ul class="list-unstyled list-group">
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li class="list-group-item"></li>
              </ul>
            </div>
            <ul class="list-unstyled list-group play-list hidden">
              <li class="list-group-item">
                <a href="#" class="song" data-id="15">
                  Hangover - DownloadMing.SE.mp3</a>
              </li>
              <li class="list-group-item">
                <a href="#" class="song" data-id="16">
                  Hangover (MBA Swag) - DownloadMing.SE.mp3</a>
              </li>
              <li class="list-group-item">
                <a href="#" class="song" data-id="17">
                  Hangover (Remix) - DownloadMing.SE.mp3</a>
              </li>
              <li class="list-group-item">
                <a href="#" class="song" data-id="18">
                  Jumme Ki Raat - DownloadMing.SE 1.mp3</a>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
<div class="container">
  <nav class="fes-vendor-menu-bsg">
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- left wing -->
        <div class="left-wing">
          <div class="audiofy-heading">
            <div class="title">
              <h3 class="title-text">august</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="table-responsive table-earnings">
            <table class="table">
              <thead>
                <tr>
                  <td>beat</td>
                  <td class="date">date</td>
                  <td>amount</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>The Time Machine</td>
                  <td>
                    <span class="number">28/08/2014</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
              </tbody>
            </table>
          </div>
          <!-- live products-->
          <!--title-->
          <div class="audiofy-heading">
            <div class="title">
              <h3 class="title-text">sales</h3>
            </div>
          </div>
          <!--title-->
          <div class="clearfix"></div>
          <!--table-responsive-->
          <div class="table-responsive table-earnings">
            <table class="table">
              <thead>
                <tr>
                  <td>month</td>
                  <td>sales</td>
                  <td>earning</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>January 
                    <span class="number">2014</span>
                  </td>
                  <td>
                    <span class="number">24</span>
                  </td>
                  <td>$ 
                    <span class="number">250</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>February 
                    <span class="number">2014</span>
                  </td>
                  <td>
                    <span class="number">23</span>
                  </td>
                  <td>$ 
                    <span class="number">310</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>March 
                    <span class="number">2014</span>
                  </td>
                  <td>
                    <span class="number">5</span>
                  </td>
                  <td>$ 
                    <span class="number">25</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>April 
                    <span class="number">2014</span>
                  </td>
                  <td>
                    <span class="number">6</span>
                  </td>
                  <td>$ 
                    <span class="number">13</span>
                  </td>
                </tr>
                <!--emd of row-->
                <tr>
                  <td>May 
                    <span class="number">2014</span>
                  </td>
                  <td>
                    <span class="number">15</span>
                  </td>
                  <td>$ 
                    <span class="number">25</span>
                  </td>
                </tr>
                <!--emd of row-->
              </tbody>
            </table>
          </div>
          <!--table-responsive-->
          <!-- live products-->
          <!-- months-->
          <!--title-->
          <!--title-->
          <!--table-responsive-->
          <!--table-responsive-->
          <!-- months-->
          <!--sales graph-->
          <!--title-->
          <div class="audiofy-heading">
            <div class="title">
              <h3 class="title-text">sold units graph</h3>
            </div>
          </div>
          <!--title-->
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="sales-graph">
                    <table class="table">
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="number">24</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="number">23</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 26%;">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="number">5</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 37%;">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="number">6</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="number">6</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!--col md 6 -->
              </div>
              <!--row-->
            </div>
            <!--col md 12 -->
          </div>
          <!-- row -->
          <!--sales graph-->
          <!--earning graph-->
          <!--title-->
          <div class="audiofy-heading">
            <div class="title">
              <h3 class="title-text">income graph</h3>
            </div>
          </div>
          <!--title-->
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="sales-graph">
                    <table class="table">
                      <tr>
                        <td style="width:30%;">january 2014</td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                            </div>
                          </div>
                        </td>
                        <td>$ 
                          <span class="number">250</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                            </div>
                          </div>
                        </td>
                        <td>$ 
                          <span class="number">300</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 26%;">
                            </div>
                          </div>
                        </td>
                        <td>$ 
                          <span class="number">25</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 37%;">
                            </div>
                          </div>
                        </td>
                        <td>$ 
                          <span class="number">13</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:30%;">january 
                          <span class="number">2014</span>
                        </td>
                        <td style="width:50%;">
                          <div class="progress">
                            <div class="progress-bar alternative" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            </div>
                          </div>
                        </td>
                        <td>$ 
                          <span class="number">25</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!--col md 6 -->
              </div>
              <!--row-->
            </div>
            <!--col md 12 -->
          </div>
          <!-- row -->
          <!--earning graph-->
          <!--withdraw money-->
          <!--title-->
          <!--title-->
          <!--withdraw money-->
        </div>
        <!-- left wing -->
      </div>
      <!--end of col md 8 -->
      <!--end of col md 4 -->
      <div class="col-md-4">
        <!--right wing-->
        <div class="right-wing">
          <!--author-profile-->
          <!--author-profile-->
          <!--author-profile-->
          <div class="author-portfolio">
            <div class="author-info">
              <h4 class="heading">overview</h4>
              <h1 class="earnings">193</h1>
              <p>Total sold units</p>
              <h1 class="earnings">$ <span class="number">2,436</span></h1>
              <p>Total sales value</p>
            </div>
          </div>
          <!--author-profile-->
          <!--widget-->
          <!--widget-->
        </div>
        <!--right wing-->
      </div>
      <!--end of col md 4 -->
    </div>
  </div>
</div>
<!--   footer-->
<%= render "shared/footer"%>
<!--    end of footer-->
<!--    mini-footer-->
<%= render "shared/mini_footer"%>
