

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);

/**********fonts included here***********/

/**********variables declared here***********/

.about-us-parent
{
    margin-top: 82px;
}

.user img
{
    width: 100%;
    height: auto;
}

.user h1
{
    text-align: center;
    margin: 0;
    padding: 0px;
}

.user h1 a
{
    color: #333333;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}

.user h1 a:hover
{
    color: #33b5e5;
}

.user p
{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    color: #aaaaaa;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.content-about
{
    padding-top: 62px;
    margin-bottom: 82px;
}

.content-about h1
{
    margin: 0;
    color: #333333;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.25px;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.content-about h2
{
    margin: 0;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.25px;
    padding-bottom: 26px;
}

.content-about p
{
    color: #777777;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding-bottom: 24px;
}

.content-about .btn {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #9a6a9b;
  padding: 16px 26px;
  border: 0;
  border-radius: 0;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}

.content-about .btn:hover
{
    background: #FFFFFF;
    color: #9a6a9b;
    border: 1px solid #9a6a9b;
}


