@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
.author-profile-audiozy {
  margin-bottom: 100px;
}
.right-wing .beatmaker {
  margin-top: 20px;
  text-align: center;
}
.right-wing .beatmaker .image-holder {
  width: 100%;
  margin-bottom: 15px;
}
.right-wing .beatmaker img {
  width: 40%;
  height: auto;
  border-radius: 50%;
}
.right-wing .beatmaker .author-place a {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}
.right-wing .beatmaker .author-place p {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.right-wing .beatmaker .sales p {
  color: #666666;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
.right-wing .beatmaker .sales p span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.right-wing .follow {
  padding: 20px 32px 22px 26px;
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.right-wing .beatmaker .social {
  padding-top: 15px;
  padding-bottom: 15px;
}
.right-wing .beatmaker .social li {
  padding-left: 0px;
  padding-right: 0px;
}
.right-wing .beatmaker .social li a i {
  color: #ffffff;
  font-size: 15px;
  padding: 6px 8px;
}
.right-wing .beatmaker .social li a i.fb-icon:hover {
  background-color: #3b5998;
}
.right-wing .beatmaker .social li a i.twitter-icon:hover {
  background-color: #00aced;
}
.right-wing .beatmaker .social li a i.google-icon:hover {
  background-color: #ff4444;
}
.right-wing .beatmaker .social li a i.youtube-icon:hover {
  background-color: #cc181e;
}
.right-wing .beatmaker .social li a i.soundcloud-icon:hover {
  background-color: #ff3a00;
}
.right-wing .con-author .form-group .form-control:focus {
  box-shadow: none;
  outline: none;
}
.right-wing .con-author .form-group .form-control::-moz-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .form-group .form-control:-ms-input-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .form-group .form-control::-webkit-input-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .text-area:focus {
  box-shadow: none;
  outline: none;
}
.right-wing .con-author .text-area::-moz-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .text-area:-ms-input-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .text-area::-webkit-input-placeholder {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}
.right-wing .con-author .send-btn:focus {
  box-shadow: none;
  outline: none;
}
.right-wing .con-author .send-btn:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
.author-profile-audiozy nav {
  font: 300 100% 'Roboto Slab', serif;
  font-size: 14px;
  margin-bottom: 2.5rem;
  float: left;
  text-transform: uppercase;
  width: 100%;
}
.author-profile-audiozy nav ul li {
  display: inline;
  text-align: center;
}
.author-profile-audiozy nav a {
  display: inline-block;
  width: 90px;
  text-decoration: none;
  color: #E0E0E0;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 12px;
  margin-right: 10px;
}
.author-profile-audiozy nav .beat-packs:hover ~ hr {
  margin-left: 25%;
}
.author-profile-audiozy nav .credits:hover ~ hr {
  margin-left: 52%;
}
.bio {
  margin-top: 20px;
  text-align: left;
}
.author-profile-audiozy nav a count {
  font-size: 26px;
}
.author-profile-audiozy nav a .count {
  font-size: 26px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}
.author-profile-audiozy nav ul {
  padding-left: 0px;
  border-bottom: 1px solid #373a3d;
}
.right-wing .beatmaker .author-place p i {
  margin-right: 8px;
  font-size: 14px;
  color: #888888;
}
@media (max-width: 600px) {
  .author-profile-audiozy nav {
    width: 100%;
  }
  .author-profile-audiozy nav a {
    width: 30%;
  }
}
.author-profile-audiozy nav a.active {
  border-bottom: 4px solid #9a6a9b;
}
.author-profile-audiozy nav a.active,
.author-profile-audiozy nav a:hover {
  color: #FFF;
}
