@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
.detail-parent {
  margin-top: 60px;
}
/*********************************** SINGLE LEFT WING STYLES ***********************************/
.single-left-wing > .post {
  margin-bottom: 60px;
  /*************************** PREV NEXT *****************************/
  /*************************** PREV NEXT *****************************/
}
.single-left-wing > .post > .image-holder {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.single-left-wing > .post > .image-holder img {
  width: 100%;
}
.single-left-wing > .post > .blog-carousel {
  height: auto;
  background: red;
  overflow: hidden;
}
.single-left-wing > .post > .blog-carousel img {
  width: 100%;
  height: auto;
}
.single-left-wing > .post .images-display {
  padding: 0px 0px;
  background: #FFFFFF;
  padding-bottom: 40px;
}
.single-left-wing > .post .images-display p {
  padding: 0px 25px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777777;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.single-left-wing > .post .images-display img {
  width: 100%;
  margin-bottom: 40px;
}
.single-left-wing > .post .images-display .socio-links ul {
  margin: 0px;
  margin-top: 10px;
}
.single-left-wing > .post .images-display .socio-links ul li {
  margin: 0px 4px;
}
.single-left-wing > .post .images-display .socio-links ul li > h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22ps;
  letter-spacing: 0.25px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #333333;
}
.single-left-wing > .post .images-display .socio-links ul li a i {
  color: #b8b8b8;
  font-size: 16px;
}
.single-left-wing > .post .blog-item-description {
  background: #FFFFFF;
  padding: 28px 0px;
}
.single-left-wing > .post .blog-item-description > p.category span {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.single-left-wing > .post .blog-item-description > p.category span > a {
  color: #33b5e5;
  font-weight: 700;
  text-decoration: none;
}
.single-left-wing > .post .blog-item-description > h3.blog-heading {
  margin-top: 0px;
  margin-bottom: 26px;
}
.single-left-wing > .post .blog-item-description > h3.blog-heading > a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-top: 10px;
}
.single-left-wing > .post .blog-item-description > h3.quote {
  line-height: 32px;
  margin-bottom: 10px;
}
.single-left-wing > .post .blog-item-description > p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777777;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.single-left-wing > .post .blog-item-description > p.saying-author a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.single-left-wing > .post .blog-post-description {
  padding: 15px 28px;
  background: #fbfbfb;
  border-top: 1px solid #EEEEEE;
}
.single-left-wing > .post .blog-post-description > ul.post-information {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin: 0px;
}
.single-left-wing > .post .blog-post-description > ul.post-information li {
  padding: 0px 0px;
}
.single-left-wing > .post .blog-post-description > ul.post-information li a {
  text-decoration: none;
  color: #aaaaaa;
}
.single-left-wing > .post .blog-post-description > ul.post-information li a.post-author {
  color: #333333;
}
.single-left-wing > .post .blog-post-description > ul.post-information li.icon a i {
  font-size: 16px;
  color: #059098;
}
.single-left-wing > .post .blog-author-description {
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}
.single-left-wing > .post .blog-author-description .author-description {
  display: table;
}
.single-left-wing > .post .blog-author-description .author-description .image-holder {
  background: #d8d8d8;
  height: 112px;
  width: 102px;
  float: left;
}
.single-left-wing > .post .blog-author-description .author-description .image-holder > img {
  height: inherit;
  width: inherit;
  margin-right: 20px;
  clear: both;
}
.single-left-wing > .post .blog-author-description .author-description h4.author-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-left: 125px;
  margin: 0px;
  text-transform: capitalize;
  color: #000000;
}
.single-left-wing > .post .blog-author-description .author-description p.designation {
  margin-left: 125px;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 20px;
  color: #999999;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.single-left-wing > .post .blog-author-description .author-description p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777777;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-left: 125px;
  margin-bottom: 0px;
}
.single-left-wing > .post .prev-next {
  background: #FFFFFF;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.single-left-wing > .post .prev-next .col-md-6:first-child {
  border-right: 1px solid #eeeeee;
}
.single-left-wing > .post .prev-next .previous,
.single-left-wing > .post .prev-next .next {
  padding: 35px 0px;
}
.single-left-wing > .post .prev-next .previous p,
.single-left-wing > .post .prev-next .next p {
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}
.single-left-wing > .post .prev-next .previous p a,
.single-left-wing > .post .prev-next .next p a {
  text-decoration: none;
  color: #999999;
}
.single-left-wing > .post .prev-next .previous h4,
.single-left-wing > .post .prev-next .next h4 {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.single-left-wing > .post .prev-next .previous h4 a,
.single-left-wing > .post .prev-next .next h4 a {
  text-decoration: none;
  color: #333333;
}
.single-left-wing > .post .comments-section {
  padding: 20px 0px;
  /****************************** COMMENT *********************************/
  /****************************** COMMENT *********************************/
  /****************************** POST COMMENT *********************************/
  /****************************** POST COMMENT *********************************/
}
.single-left-wing > .post .comments-section .comment {
  background: #FCFCFC;
  clear: both;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
}
.single-left-wing > .post .comments-section .comment .comment-details {
  padding: 13px 15px;
  border-bottom: 1px solid #e9e9e9;
}
.single-left-wing > .post .comments-section .comment .comment-details ul {
  margin: 0px!important;
}
.single-left-wing > .post .comments-section .comment .comment-details ul li {
  padding: 0px;
}
.single-left-wing > .post .comments-section .comment .comment-details ul li a {
  text-decoration: none;
  line-height: 26px;
  font-family: 'Roboto Slab', serif;
  color: #777777;
}
.single-left-wing > .post .comments-section .comment .comment-details ul li a > h5 {
  color: blue;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #333333;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
  margin: 0px;
}
.single-left-wing > .post .comments-section .comment .comment-details ul li a.reply {
  color: red;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #33b5e5;
  letter-spacing: 0.50px;
}
.single-left-wing > .post .comments-section .comment .comment-description {
  padding: 13px 15px;
  display: table;
}
.single-left-wing > .post .comments-section .comment .comment-description .image-holder {
  background: #d8d8d8;
  height: 93px;
  width: 93px;
  float: left;
}
.single-left-wing > .post .comments-section .comment .comment-description .image-holder > img {
  height: inherit;
  width: inherit;
  clear: both;
}
.single-left-wing > .post .comments-section .comment .comment-description p {
  margin-left: 113px;
  font-family: 'Roboto Slab', serif;
  line-height: 20px;
  color: #848484;
}
.single-left-wing > .post .comments-section .post-comment {
  clear: both;
}
.single-left-wing > .post .comments-section .post-comment > .audiofy-heading {
  margin-top: 50px;
}
.single-left-wing > .post .comments-section .post-comment .comment-form {
  margin-top: 26px;
  margin-bottom: 30px;
}
.single-left-wing > .post .comments-section .post-comment .comment-form .form-group .form-control {
  background: #fcfcfc;
  border-radius: 0px;
  border-color: #e9e9e9;
  box-shadow: none;
  height: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: #636467;
}
.single-left-wing > .post .comments-section .post-comment .comment-form .form-group .form-control.textarea {
  height: auto;
}
.single-left-wing > .post .comments-section .post-comment .comment-form .btn-custom {
  border-radius: 0px;
  background: #33b5e5;
  font-size: 12px;
  line-height: 28px;
  color: #FFFFFE;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  box-shadow: none;
  border: 0px;
  padding: 7px 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.single-left-wing > .post .comments-section .post-comment .comment-form .btn-custom:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
/*********************************** RIGHT WING STYLES ***********************************/
.right-wing {
  margin-bottom: 30px;
}
.right-wing .category-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
}
.right-wing .category-border .category {
  padding: 20px 32px 44px 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .category-border .category ul {
  padding-top: 28px;
}
.right-wing .category-border .category ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 36px;
}
.right-wing .category-border .category ul li a span {
  font-family: 'Open Sans', sans-serif;
  float: right;
}
.right-wing .category-border .category ul li a:hover {
  color: #33b5e5;
}
.right-wing .recent-post {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 36px;
}
.right-wing .recent-post > h6 {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 0px;
}
.right-wing .recent-post .post-one {
  padding-bottom: 26px;
}
.right-wing .recent-post .post-one > span.image-box {
  width: 77px;
  background: red;
}
.right-wing .recent-post .post-one > span.image-box > img {
  height: 70px;
  width: 77px;
  margin-right: 20px;
  float: left;
  padding-bottom: 10px;
}
.right-wing .recent-post .post-one ul.post-description {
  margin-left: 90px;
}
.right-wing .recent-post .post-one ul.post-description li > a.posted-date {
  text-decoration: none;
  color: #aaaaaa;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  text-transform: uppercase;
}
.right-wing .recent-post .post-one ul.post-description li > a.posted-date span {
  color: #33b5e5;
  text-transform: uppercase;
  font-weight: 600;
}
.right-wing .recent-post .post-one ul.post-description li > a.data {
  color: red;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.right-wing .recent-post .post-one ul.post-description li:last-child {
  padding-bottom: 5px;
}
.right-wing .blog-tags {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.right-wing .blog-tags > h6 {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 0px;
}
.right-wing .blog-tags ul.tags-list > li {
  margin: 10px 0px;
}
.right-wing .blog-tags ul.tags-list > li > a {
  border: 1px solid #e7e7e7;
  padding: 6px 15px;
  background: #fbfbfb;
  text-decoration: none;
  color: #c4c2c2;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.right-wing .blog-tags ul.tags-list > li > a.active {
  background-color: #33b5e5 !important;
  color: #FFFFFF;
}
.right-wing .blog-tags ul.tags-list > li:hover > a {
  background: #fbfbfb;
  color: #9d9d9d;
}
.right-wing .top-products-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
  position: relative;
}
.right-wing .top-products-border .top-products {
  padding: 20px 32px 16px 26px;
}
.right-wing .top-products-border .top-products p {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .top-products-border .top-products .product-block {
  clear: both;
  background: linear-gradient(to right, #ffffff 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 500ms ease;
  margin-bottom: 34px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image {
  float: left;
  width: 84px;
  height: 84px;
  background-color: #000000;
}
.right-wing .top-products-border .top-products .product-block .product-image img {
  width: 84px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image .song {
  width: 26.40625px;
  height: 26.21875px;
  background-color: #33B5E5;
  display: block;
  text-align: center;
  color: #FFFFFF;
  line-height: 26px;
  margin-top: -26px;
  margin-left: 58px;
  position: absolute;
  z-index: 1;
}
.right-wing .top-products-border .top-products .product-block .product-details {
  float: left;
  margin-left: 20px;
}
.right-wing .top-products-border .top-products .product-block .product-details .title {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 26px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .price {
  color: #33B5E5;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.right-wing .top-products-border .top-products .product-block .product-details .author {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year .number {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.right-wing .top-products-border .top-products .product-block .detail-buttons {
  display: none;
}
.right-wing .top-products-border .top-products .product-block:hover {
  background-position: right bottom;
}
.right-wing .top-products-border .top-products .product-block:hover .title,
.right-wing .top-products-border .top-products .product-block:hover .price {
  color: #FFF;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year {
  color: #B6B6B6;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year .number {
  color: #949494;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons {
  float: right;
  height: 83.8125px;
  background-color: #252525;
  margin-left: 5px;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn {
  width: 45px;
  height: 26.40625px;
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin: 11px;
  border-radius: 0px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-buy {
  background-color: #99CB00;
  border-color: #99CB00;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-details {
  background-color: #33B5E5;
  border-color: #33B5E5;
}
@media (max-width: 480px) {
  .prev-next .col-md-6 {
    border: 0px;
  }
  .comments-section ul li.child {
    margin: 0px !important;
  }
}
.carousel .carousel-control {
  visibility: hidden !important;
  top: 40%;
  margin: 0px;
}
.carousel .carousel-control.left {
  background: none !important;
}
.carousel .carousel-control.right {
  background: none !important;
}
.carousel .carousel-control > span {
  background: #eeeeee;
  padding: 5px 8px;
  color: #222222;
}
.carousel:hover .carousel-control {
  visibility: visible !important;
}
.carousel .carousel-indicators {
  display: none;
}
