@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body {
  margin: 0px;
  background-color: #f9f9f9;
}
.blog-block {
  background: #ffffff;
  display: inline-block;
  border: 1px solid #eeeeee;
  margin-bottom: 26px;
}
.blog-block .blog-img {
  padding: 0;
  display: block;
  position: relative;
}
.blog-block .blog-img a img {
  height: auto;
  width: 100%;
  float: left;
}
.blog-block .blog-img a .arr-left {
  color: #000000;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25%;
  z-index: 10;
  background: #ffffff;
  padding: 8px;
  opacity: 0;
  transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
}
.blog-block .blog-img a .arr-right {
  color: #000000;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25%;
  z-index: 10;
  background: #ffffff;
  padding: 8px;
  opacity: 0;
  transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
}
.blog-block .blog-img a .rec {
  text-decoration: none;
  list-style: none;
  font-size: 9px;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50%;
  z-index: 10;
  display: block;
  text-align: center;
}
.blog-block .blog-img a .rec li {
  display: inline-block;
  opacity: 0.5;
}
.blog-block .blog-img a .rec li.active {
  opacity: 1;
}
.blog-block .blog-img:hover .arr-left {
  opacity: 0.75;
}
.blog-block .blog-img:hover .arr-right {
  opacity: 0.75;
}
.blog-block .blog-img .blog-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 230px;
}
.blog-block .blog-img .blog-video iframe {
  width: 100%;
  height: 100%;
}
.blog-block .blog-text {
  padding: 0;
  padding-top: 18px;
}
.blog-block .blog-text .blog-head {
  padding-left: 30px;
}
.blog-block .blog-text .blog-head .blog-category {
  margin: 0px;
}
.blog-block .blog-text .blog-head .blog-category a {
  font-family: raleway, sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #aaaaaa;
  line-height: 22px;
  padding: 0px;
  text-decoration: none;
}
.blog-block .blog-text .blog-head .blog-category a:hover {
  color: #333333;
}
.blog-block .blog-text .blog-head h4 {
  margin: 0;
  padding-bottom: 18px;
}
.blog-block .blog-text .blog-head h4 a {
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #333333;
  line-height: 24px;
  padding: 0px;
  text-decoration: none;
}
.blog-block .blog-text .blog-head h4 a:hover {
  color: #059098;
}
.blog-block .blog-text .blog-head .text {
  font-family: raleway, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  line-height: 20px;
  padding-bottom: 12px;
}
.blog-block .blog-text .footer {
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}
.blog-block .blog-text .footer .blog-footer {
  padding-left: 30px;
  display: inline-block;
}
.blog-block .blog-text .footer .blog-footer p {
  font-family: raleway, sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #aaaaaa;
  line-height: 24px;
}
.blog-block .blog-text .footer .blog-footer span a {
  font-family: raleway, sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #aaaaaa;
  color: #555555;
  line-height: 24px;
  text-decoration: none;
}
.blog-block .blog-text .footer .blog-footer span a:hover {
  color: #059098;
}
.blog-block .blog-text .footer i {
  font-size: 14px;
  color: #059098;
  padding-right: 20px;
  padding-top: 2px;
}
.page-number {
  margin-top: 10px;
}
.page-number ul {
  float: left;
}
.page-number ul li {
  display: inline-block;
  border: 1px solid #e7e7e7;
  margin-right: 9px;
}
.page-number ul li a {
  text-decoration: none;
  font-family: lato;
  font-size: 13px;
  font-weight: 700;
  color: #777777;
  text-align: center;
  display: block;
  padding: 5px 10px;
}
.page-number ul li:hover {
  background: #059098;
}
.page-number ul li:hover a {
  color: #ffffff;
}
.page-number ul li.active {
  background: #059098;
}
.page-number ul li.active a {
  color: #ffffff;
}
.page-number p {
  font-family: lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #555555;
  line-height: 20px;
}
.page-number p span {
  font-family: lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .blog-block .blog-img {
    width: 100%;
    display: inline-block;
  }
  .blog-block .blog-text {
    width: 100%;
  }
}
