@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
.blog-parent {
  margin-top: 60px;
}
.post {
  margin-bottom: 60px;
}
.post > .image-holder {
  background: #222222;
}
.post > .image-holder > i {
  color: #FFFFFF;
  position: absolute;
  left: 47%;
  margin-top: 25%;
  font-size: 30px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.post > .image-holder img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.post > .image-holder:hover img {
  opacity: 0.2;
}
.post > .image-holder:hover i {
  visibility: visible;
}
.post > .blog-carousel {
  height: auto;
  background: red;
  overflow: hidden;
}
.post > .blog-carousel img {
  width: 100%;
  height: auto;
}
.post .blog-item-description {
  background: #FFFFFF;
}
.post .blog-item-description a.read-more {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 11px;
  color: #33b5e5;
  letter-spacing: 0.25px;
}
.post .blog-item-description > p.category {
  margin-bottom: 0px;
}
.post .blog-item-description > p.category > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 1px;
}
.post .blog-item-description > h3.blog-heading {
  margin-top: 0px !important;
  line-height: 24px;
}
.post .blog-item-description > h3.blog-heading > a {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
}
.post .blog-item-description > h3.quote {
  line-height: 32px;
  margin-bottom: 10px;
}
.post .blog-item-description > p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777777;
  line-height: 20px;
  font-size: 13px;
}
.post .blog-item-description > p.saying-author a {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}
.post .blog-post-description {
  background: #FFFFFF;
}
.post .blog-post-description > ul.post-information {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin: 0px;
}
.post .blog-post-description > ul.post-information li {
  padding: 15px 0px;
}
.post .blog-post-description > ul.post-information li a {
  text-decoration: none;
  color: #aaaaaa;
}
.post .blog-post-description > ul.post-information li a.post-author {
  color: #333333;
}
.post .blog-post-description > ul.post-information li a span {
  color: #33b5e5;
  font-weight: 700;
}
.post .saying {
  background: #33b5e5;
  padding: 26px;
}
.post .saying h3.quote {
  margin-top: 0px !important;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  line-height: 24px;
  font-size: 16px;
}
.post .saying p.saying-author {
  color: #FFFFFF;
}
.post .saying p.saying-author a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.post .link-reference {
  background: #404040;
  padding: 28px;
  min-height: 160px;
}
.post .link-reference h3.link {
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.post .link-reference p.link-address {
  color: #FFFFFF;
  text-align: center;
}
.post .link-reference p.link-address a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}
.post .bookmark {
  padding: 28px 15px;
  background: #f5f5f5;
}
.post .bookmark > p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #777777;
  line-height: 20px;
  font-size: 13px;
}
.load-more-posts {
  clear: both;
}
.load-more-posts > .btn {
  border-radius: 0px;
  background: #33b5e5;
  outline: none !important;
  padding: 13px 60px;
  box-shadow: none;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 65px;
  border-color: #33b5e5;
}
.load-more-posts > .btn:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border-color: #33b5e5;
}
.right-wing {
  margin-bottom: 30px;
}
.right-wing .category-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
}
.right-wing .category-border .category {
  padding: 20px 32px 44px 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .category-border .category ul {
  padding-top: 28px;
}
.right-wing .category-border .category ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 36px;
}
.right-wing .category-border .category ul li a span {
  font-family: 'Open Sans', sans-serif;
  float: right;
}
.right-wing .category-border .category ul li a:hover {
  color: #33b5e5;
}
.right-wing .recent-post {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 36px;
}
.right-wing .recent-post > h6 {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 0px;
}
.right-wing .recent-post .post-one {
  padding-bottom: 26px;
}
.right-wing .recent-post .post-one > span.image-box {
  width: 77px;
  background: red;
}
.right-wing .recent-post .post-one > span.image-box > img {
  height: 70px;
  width: 77px;
  margin-right: 20px;
  float: left;
  padding-bottom: 10px;
}
.right-wing .recent-post .post-one ul.post-description {
  margin-left: 90px;
}
.right-wing .recent-post .post-one ul.post-description li > a.posted-date {
  text-decoration: none;
  color: #aaaaaa;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  text-transform: uppercase;
}
.right-wing .recent-post .post-one ul.post-description li > a.posted-date span {
  color: #33b5e5;
  text-transform: uppercase;
  font-weight: 600;
}
.right-wing .recent-post .post-one ul.post-description li > a.data {
  color: red;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.right-wing .recent-post .post-one ul.post-description li:last-child {
  padding-bottom: 5px;
}
.right-wing .blog-tags {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.right-wing .blog-tags > h6 {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 0px;
}
.right-wing .blog-tags ul.tags-list > li {
  margin: 10px 0px;
  padding: 0px;
  padding-right: 5px;
}
.right-wing .blog-tags ul.tags-list > li > a {
  border: 1px solid #e7e7e7;
  padding: 6px 15px;
  background: #fbfbfb;
  text-decoration: none;
  color: #c4c2c2;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.right-wing .blog-tags ul.tags-list > li > a.active {
  background-color: #33b5e5 !important;
  color: #FFFFFF;
}
.right-wing .blog-tags ul.tags-list > li > a.active:hover {
  color: #FFFFFF !important;
}
.right-wing .blog-tags ul.tags-list > li:hover > a {
  background: #fbfbfb;
  color: #9d9d9d;
}
.right-wing .top-products-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
  position: relative;
}
.right-wing .top-products-border .top-products {
  padding: 20px 32px 16px 26px;
}
.right-wing .top-products-border .top-products p {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .top-products-border .top-products .product-block {
  clear: both;
  background: linear-gradient(to right, #ffffff 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 500ms ease;
  margin-bottom: 34px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image {
  float: left;
  width: 84px;
  height: 84px;
  background-color: #000000;
}
.right-wing .top-products-border .top-products .product-block .product-image img {
  width: 84px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image .song {
  width: 26.40625px;
  height: 26.21875px;
  background-color: #33B5E5;
  display: block;
  text-align: center;
  color: #FFFFFF;
  line-height: 26px;
  margin-top: -26px;
  margin-left: 58px;
  position: absolute;
  z-index: 1;
}
.right-wing .top-products-border .top-products .product-block .product-details {
  float: left;
  margin-left: 20px;
}
.right-wing .top-products-border .top-products .product-block .product-details .title {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 26px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .price {
  color: #33B5E5;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.right-wing .top-products-border .top-products .product-block .product-details .author {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year .number {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.right-wing .top-products-border .top-products .product-block .detail-buttons {
  display: none;
}
.right-wing .top-products-border .top-products .product-block:hover {
  background-position: right bottom;
}
.right-wing .top-products-border .top-products .product-block:hover .title,
.right-wing .top-products-border .top-products .product-block:hover .price {
  color: #FFF;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year {
  color: #B6B6B6;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year .number {
  color: #949494;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons {
  float: right;
  height: 83.8125px;
  background-color: #252525;
  margin-left: 5px;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn {
  width: 45px;
  height: 26.40625px;
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin: 11px;
  border-radius: 0px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-buy {
  background-color: #99CB00;
  border-color: #99CB00;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-details {
  background-color: #33B5E5;
  border-color: #33B5E5;
}
@media (max-width: 768px) {
  .post > .image-holder > i {
    left: 50%;
    margin-top: 28% !important;
  }
}
@media (max-width: 320px) {
  .category-list-items {
    display: none;
  }
}
.carousel .carousel-control {
  visibility: hidden !important;
  top: 40%;
  margin: 0px;
}
.carousel .carousel-control.left {
  background: none !important;
}
.carousel .carousel-control.right {
  background: none !important;
}
.carousel .carousel-control > span {
  background: #eeeeee;
  padding: 5px 8px;
  color: #222222;
}
.carousel:hover .carousel-control {
  visibility: visible !important;
}
.carousel .carousel-indicators {
  display: none;
}
