@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
.number {
  font-family: 'Open Sans', sans-serif;
}
/************************************************ LEFT WING ************************************************/
.left-wing .table-earnings .table {
  margin-bottom: 55px;
  border: 1px solid #e7e7e7;
}
.left-wing .table-earnings .table thead {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #aaaaaa;
  margin: 10px;
  background: #efefef;
  color: #555555;
}
.left-wing .table-earnings .table thead tr td {
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 20px !important;
}
.left-wing .table-earnings .table tbody {
  font-family: 'Roboto Slab', serif;
  color: #555555;
  line-height: 40px;
  letter-spacing: 0.25px;
  font-weight: 600;
}
.left-wing .table-earnings .table tbody tr td {
  border: 0px !important;
  padding: 20px 20px !important;
}
.left-wing .table-earnings .table tbody tr:first-child td {
  padding-top: 30px;
  border-left: 1px solid #e9e9e9;
}
.left-wing .table-earnings .table tbody tr:last-child td {
  padding-bottom: 30px;
}
.left-wing .sales-graph > .table {
  border: 0px;
}
.left-wing .sales-graph > .table tr td {
  padding: 0px 10px !important;
  padding-bottom: 0px !important;
  vertical-align: middle;
  border: 0px;
  text-transform: capitalize;
}
.left-wing .sales-graph > .table .progress {
  height: 35px;
  border-radius: 0px;
  background: #FFFFFF;
  border: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}
.left-wing .sales-graph > .table .progress .progress-bar {
  background: #7b467b;
}
.left-wing .sales-graph > .table .progress .progress-bar.alternative {
  background: #9a6a9b;
}
.left-wing .withdraw-money h5 {
  margin: 0px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 40px;
}
.left-wing .withdraw-money .withdraw-widget {
  background: #f0f0f0;
  margin-bottom: 26px;
}
.left-wing .withdraw-money .withdraw-widget h5.heading {
  font-family: 'Roboto Slab', serif;
  background: #616161;
  text-align: center;
  margin: 0px;
  line-height: 26px;
  padding: 13px 0px;
  color: #ffffff;
  letter-spacing: 1px;
}
.left-wing .withdraw-money .withdraw-widget .withdraw-form {
  padding: 18px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  line-height: 26px;
  color: #777777;
  font-weight: 700;
}
.left-wing .withdraw-money .withdraw-widget .withdraw-form .form-control {
  border-color: #e7e7e7;
  box-shadow: none !important;
  outline: 0px !important;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
  height: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
}
.left-wing .withdraw-money .withdraw-widget .withdraw-form .form-control:focus,
.left-wing .withdraw-money .withdraw-widget .withdraw-form .form-control active {
  border-color: #e7e7e7;
  box-shadow: none !important;
  outline: 0px !important;
}
.left-wing .withdraw-money .withdraw-widget .withdraw-form > .btn-custom {
  border-radius: 0px;
  background: #33b5e5;
  font-size: 12px;
  line-height: 26px;
  color: #FFFFFE;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  box-shadow: none;
  border: 0px;
  padding: 5px 10px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.left-wing .withdraw-money .withdraw-widget .withdraw-form > .btn-custom:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
/**************************************** RIGHT WING **********************************************/
.right-wing {
  margin-bottom: 30px;
}
.right-wing .widget {
  border: 1px solid #e9e9e9;
  padding: 25px;
  margin-bottom: 30px;
}
.right-wing .widget h4.heading {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.right-wing .widget h5.sub-heading {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 10px;
}
.right-wing .widget p {
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0px;
}
.right-wing .widget > h5.progress-bar-heading {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  letter-spacing: 1px;
}
.right-wing .widget .progress {
  height: 10px;
  border-radius: 0px;
  background: #8c8c8c;
  margin-bottom: 20px;
}
.right-wing .widget .progress .progress-bar {
  background: #33b5e5;
}
.right-wing .author-portfolio {
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
}
.right-wing .author-portfolio .author-info {
  padding: 23px 30px;
}
.right-wing .author-portfolio .author-info .image-holder {
  float: left;
}
.right-wing .author-portfolio .author-info .image-holder > img {
  width: 85px;
  height: 84px;
  margin-right: 14px;
}
.right-wing .author-portfolio .author-info > h4.heading {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  line-height: 26px;
  color: #333333;
  margin: 0px;
  text-transform: uppercase;
}
.right-wing .author-portfolio .author-info > h4.heading > span > a {
  text-transform: uppercase;
  line-height: 26px;
  color: #33b5e5;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  background: #FFF;
  padding: 3px 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.right-wing .author-portfolio .author-info > h4.heading > span > a:hover {
  background: #33b5e5;
  color: #FFF;
}
.right-wing .author-portfolio .author-info h6.country {
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  color: #777777;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.right-wing .author-portfolio .author-info h1.earnings {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  line-height: 20px;
  color: #9a6a9b;
  font-weight: 700;
}
.right-wing .author-portfolio .author-info > p {
  font-family: 'Roboto Slab', serif;
  padding-top: 10px;
}
.right-wing .author-portfolio .author-info > p span {
  font-weight: 700;
  color: #333333;
}
.right-wing .author-portfolio .view-profile {
  clear: both;
  padding: 20px 20px;
  border-top: 1px solid #e9e9e9;
}
.right-wing .author-portfolio .view-profile > .btn-custom {
  border-radius: 0px;
  background: #33b5e5;
  font-size: 12px;
  line-height: 26px;
  color: #FFFFFE;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  box-shadow: none;
  border: 0px;
  padding: 16px 30px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.right-wing .author-portfolio .view-profile > .btn-custom:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
.right-wing .widget {
  border: 1px solid #e9e9e9;
  padding: 25px;
  margin-bottom: 30px;
}
.right-wing .widget h4.heading {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.right-wing .widget h5.sub-heading {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 10px;
}
.right-wing .widget p {
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0px;
}
.right-wing .widget > h5.progress-bar-heading {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  letter-spacing: 1px;
}
.right-wing .widget .progress {
  height: 10px;
  border-radius: 0px;
  background: #8c8c8c;
  margin-bottom: 20px;
}
.right-wing .widget .progress .progress-bar {
  background: #33b5e5;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
.selectize-control.plugin-remove_button [data-value] .remove {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px !important;
  text-align: center;
  font-weight: bold;
  font-size: 18px !important;
  color: #FFFFFF !important;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 1px 0 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px !important;
  border-left: 1px solid #bdbcbc !important;
  padding-left: 5px !important;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 5px !important;
  padding: 5px 5px !important;
  background: #a9a9a9 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-size: 12px !important;
  font-family: 'Roboto Slab', serif !important;
  padding-left: 10px !important;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
@media (max-width: 480px) {
  .fes-vendor-menu-bsg {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .fes-vendor-menu-bsg > ul {
    text-align: center;
  }
  .fes-vendor-menu-bsg > ul li {
    display: block;
  }
  .vendor-line {
    display: none;
  }
}
.sales-graph {
  padding-bottom: 20px;
}
