@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);

body {
  margin: 0;
  background: #000000 url('background2.jpg') 50% no-repeat;
  background-size: cover;
}
.company-name {
  height: 80px;
  border-bottom: 1px solid rgba(161,161,161,0.25);
}
.company-name .company {
  width: 200px;
  margin: 0 auto;
}
.company-name .company a {
  text-decoration: none;
  line-height: 80px;
}
.signin-main {
  margin-top: 58px;
}
.signin-main p {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.signin-main .signin-block {
  margin-top: 20px;
  background: rgba(17,17,17,0.5);
}
.signin-main .signin-block .sign-in {
  padding-top: 24px;
  padding-bottom: 24px;
}
.signin-main .signin-block .sign-in > p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(161,161,161,0.25);
  margin-bottom: 22px;
  letter-spacing: 0.5px;
}
.signin-main .signin-block .sign-in > p span a {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a6a9b;
  text-decoration: none;
  text-align: center;
}
.signin-main .signin-block .sign-in label {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 20px;
}
.signin-main .signin-block .sign-in input {
  background-color: #f9f9f9;
}
.signin-main .signin-block .sign-in .form-control {
  border-radius: 0;
  height: 45px;
  border: 0;
}
.signin-main .signin-block .sign-in .form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 0;
}
.signin-main .signin-block .sign-in .submit-btn {
  margin-top: 18px;
  border-radius: 0;
  border: 0;
  height: 48px;
  width: 100%;
  background-color: #9a6a9b;
  border: 1px solid #9a6a9b;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 48px;
  padding: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.signin-main .signin-block .sign-in .submit-btn:focus {
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #ffffff;
  color: #9a6a9b;
}
.signin-main .signin-block .sign-in .submit-btn:hover {
  color: #FFFFFF;
  background-color: #7b467b;
  border-color: #7b467b;
}
.signin-main .signin-block .sign-in .forgot-password {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding-top: 22px;
  line-height: 20px;
}
.signin-main .signin-block .sign-in .forgot-password p {
  text-align: center;
  padding-top: 6px;
}
.signin-main .signin-block .sign-in .forgot-password p a {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-decoration: underline;
}
.signin-main .signin-block .sign-in .forgot-password p a:hover {
  color: #9a6a9b;
}
.social {
  padding-top: 26px;
  padding-bottom: 84px;
}
.social p {
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(161,161,161,0.25);
}
.social .btn {
  width: 100%;
  border: 0;
  border-radius: 0;
  height: 48px;
  background-color: #33b5e5;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.social .btn i {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.social .btn:focus {
  outline: 0;
  box-shadow: none;
  border: 0;
  background-color: #2ca5d1;
}
.social .btn.sc-btn {
  background-color: #ff3a00;
}
.social .btn.sc-btn:focus,
.social .btn.sc-btn:hover {
  background-color: #ff1800;
}
.footer {
  background-color: #1c1c1c;
  padding-bottom: 30px;
}
.footer a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer a:hover {
  color: #33B5E5 !important;
}
.footer .about-us h6 {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 1px;
  padding-top: 48px;
}
.footer .about-us .logo {
  padding-top: 14px;
  padding-bottom: 10px;
}
.footer .about-us .logo a {
  text-decoration: none;
}
.footer .about-us .logo a img {
  width: 103px;
  height: 23px;
}
.footer .about-us p {
  color: #b6b6b6;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 6px;
}
.footer .about-us .credit-card li {
  padding: 2px;
  width: 35px;
}
.footer .about-us .credit-card li img {
  width: 100%;
}
.footer .resources-links h6 {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 1px;
  padding-top: 48px;
}
.footer .resources-links ul {
  padding-top: 4px;
}
.footer .resources-links ul li a {
  color: #a7a7a7;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-decoration: none;
}
.footer .tags h6 {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 1px;
  padding-top: 48px;
}
.footer .tags .tag {
  padding-top: 14px;
  padding-bottom: 14px;
}
.footer .tags .tag li {
  margin: 0px 1px 14px 0px;
  padding: 0;
}
.footer .tags .tag li a {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #343434;
}
.footer .tags .tag li a:hover {
  border: 1px solid #33b5e5;
  color: #FFFFFF !important;
}
.footer .tags > .social-media {
  padding: 0px;
}
.footer .tags .social-icons li {
  padding: 0;
}
.footer .tags .social-icons li a i {
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-decoration: none;
  height: 32px;
  width: 32px;
  background: #33b5e5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .tags .social-icons li a i.fb-icon {
  background-color: #3e5a99;
}
.footer .tags .social-icons li a i.twitter-icon {
  background-color: #00aced;
}
.footer .tags .social-icons li a i.google-icon {
  background-color: #ff4444;
}
.footer .tags .social-icons li a i.youtube-icon {
  background-color: #cc181e;
}
.footer .tags .social-icons li a i.flickr-icon {
  background-color: #fe0084;
}
.footer .tags .social-icons li a i:hover {
  background: #FFFFFF;
}
.footer .tags .social-icons li a i:hover.fb-icon {
  color: #3e5a99;
}
.footer .tags .social-icons li a i:hover.twitter-icon {
  color: #00aced;
}
.footer .tags .social-icons li a i:hover.google-icon {
  color: #ff4444;
}
.footer .tags .social-icons li a i:hover.youtube-icon {
  color: #cc181e;
}
.footer .tags .social-icons li a i:hover.flickr-icon {
  color: #fe0084;
}
.footer .contact-info {
  background-image: url('../images/map-footer.png');
  background-repeat: no-repeat;
  background-position: center;
}
.footer .contact-info h6 {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 1px;
  padding-bottom: 6px;
  padding-top: 48px;
}
.footer .contact-info h5 {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 21px;
  letter-spacing: 0.25px;
  margin: 0;
}
.footer .contact-info p {
  color: #b7b7b7;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 21px;
  letter-spacing: 0.25px;
}
.mini-footer {
  background: #1c1c1c;
}
.mini-footer .seperator {
  padding-top: 28px;
  border-top: 1px solid #353535;
  font-family: raleway, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.mini-footer .seperator > .owner {
  color: #999999;
}
.mini-footer .seperator > .owner i {
  color: #ff4444;
}
.mini-footer .seperator > .owner span a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
.mini-footer .seperator > .copyright {
  color: #999999;
}
.social .container .row div {
  background: rgba(17,17,17,0.5);
}