.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 5px 15px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.billedit ul li a {
color: #E65858 !important;
}

.btn-custom {
   background-color: hsl(0, 0%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d6d6d", endColorstr="#636363");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6d6d6d), to(#636363));
  background-image: -moz-linear-gradient(top, #6d6d6d, #636363);
  background-image: -ms-linear-gradient(top, #6d6d6d, #636363);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d6d6d), color-stop(100%, #636363));
  background-image: -webkit-linear-gradient(top, #6d6d6d, #636363);
  background-image: -o-linear-gradient(top, #6d6d6d, #636363);
  background-image: linear-gradient(#6d6d6d, #636363);
  border-color: #636363 #636363 hsl(0, 0%, 38%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
  border: medium none;
  color: #ffffff;
  font-family: "proxima_nova_rgregular";
  font-size: 18px;
  font-weight: normal;
  height: 33px;
  line-height: 25px;
}
