@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
body {
  margin: 0;
}
.popular-files-audiozy {
  margin-top: 58px;
}
.popular-files .audiofy-heading {
  clear: both;
  height: 13.09375px;
  background-color: #F0F0F0;
}
.popular-files .audiofy-heading .title {
  float: left;
  margin-bottom: 42px;
}
.popular-files .audiofy-heading .title h3 {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px !important;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 20px;
  margin: 0px;
  margin-top: -5px;
}
.popular-files .left-wing {
  margin-bottom: 100px;
  clear: both;
}
.right-wing {
  margin-bottom: 30px;
}
.right-wing .category-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
}
.right-wing .category-border .category {
  padding: 20px 32px 44px 26px;
}
.right-wing .category-border .category p {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .category-border .category ul {
  padding-top: 20px;
}
.right-wing .category-border .category ul li a {
  text-decoration: none;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 38px;
}
.right-wing .category-border .category ul li a span {
  font-family: 'Open Sans', sans-serif;
  float: right;
}
.right-wing .category-border .category ul li a:hover {
  color: #33b5e5;
}
.right-wing .top-author-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
}
.right-wing .top-author-border .top-author {
  padding: 20px 32px 10px 26px;
}
.right-wing .top-author-border .top-author p {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
