@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
body {
  margin: 0;
}
.popular-author-files-audiozy {
  margin-top: 58px;
}
.popular-author-files .audiofy-heading {
  clear: both;
  height: 13.09375px;
  background-color: #F0F0F0;
}
.popular-author-files .audiofy-heading .title {
  float: left;
  margin-bottom: 42px;
}
.popular-author-files .audiofy-heading .title h3 {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px !important;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 20px;
  margin: 0px;
  margin-top: -5px;
}
.popular-author-files .left-wing {
  margin-bottom: 30px;
  border: 1px solid #e9e9e9;
  border-top: 0px solid transparent;
  width: 100%;
  display: table;
}
.popular-author-files .left-wing .popular-author {
  width: 100%;
  display: block;
  clear: both;
  border-top: 1px solid #e9e9e9;
}
.popular-author-files .left-wing .popular-author .left-side {
  padding: 22px 0px 18px 20px;
}
.popular-author-files .left-wing .popular-author .left-side img {
  width: 85px;
  height: 85px;
  float: left;
}
.popular-author-files .left-wing .popular-author .left-side .author-details {
  padding-left: 101px;
}
.popular-author-files .left-wing .popular-author .left-side .author-details h6 {
  margin: 0;
  padding-bottom: 5px;
}
.popular-author-files .left-wing .popular-author .left-side .author-details h6 a {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.popular-author-files .left-wing .popular-author .left-side .author-details h6 a:hover {
  color: #33b5e5;
}
.popular-author-files .left-wing .popular-author .left-side .author-details p {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.popular-author-files .left-wing .popular-author .left-side .items {
  padding-left: 101px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.popular-author-files .left-wing .popular-author .left-side .items span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.popular-author-files .left-wing .popular-author .left-side .sales {
  padding-left: 101px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.popular-author-files .left-wing .popular-author .left-side .sales span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.popular-author-files .left-wing .popular-author .right-side {
  padding: 26px 15px 18px 0px;
}
.popular-author-files .left-wing .popular-author .right-side .rating {
  color: #33b5e5;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  padding-bottom: 24px;
}
.popular-author-files .left-wing .popular-author .right-side p {
  margin: 0;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
}
.popular-author-files .left-wing .popular-author .right-side p span {
  font-family: 'Open Sans', sans-serif;
}
.popular-author-files .left-wing .popular-author .right-side .based-rating {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}
.popular-author-files .left-wing .popular-author .right-side .based-rating span {
  font-family: 'Open Sans', sans-serif;
}
.right-wing {
  margin-bottom: 30px;
}
.right-wing .category-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
}
.right-wing .category-border .category {
  padding: 20px 32px 44px 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .category-border .category ul {
  padding-top: 28px;
}
.right-wing .category-border .category ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 36px;
}
.right-wing .category-border .category ul li a span {
  font-family: 'Open Sans', sans-serif;
  float: right;
}
.right-wing .category-border .category ul li a:hover {
  color: #33b5e5;
}
.right-wing .top-products-border {
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
  position: relative;
}
.right-wing .top-products-border .top-products {
  padding: 20px 32px 16px 26px;
}
.right-wing .top-products-border .top-products p {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
}
.right-wing .top-products-border .top-products .product-block {
  clear: both;
  background: linear-gradient(to right, #ffffff 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 500ms ease;
  margin-bottom: 34px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image {
  float: left;
  width: 84px;
  height: 84px;
  background-color: #000000;
}
.right-wing .top-products-border .top-products .product-block .product-image img {
  width: 84px;
  height: 84px;
}
.right-wing .top-products-border .top-products .product-block .product-image .song {
  width: 26.40625px;
  height: 26.21875px;
  background-color: #33B5E5;
  display: block;
  text-align: center;
  color: #FFFFFF;
  line-height: 26px;
  margin-top: -26px;
  margin-left: 58px;
  position: absolute;
  z-index: 1;
}
.right-wing .top-products-border .top-products .product-block .product-details {
  float: left;
  margin-left: 20px;
}
.right-wing .top-products-border .top-products .product-block .product-details .title {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 26px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .price {
  color: #33B5E5;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.right-wing .top-products-border .top-products .product-block .product-details .author {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
  transition: all 500ms ease;
}
.right-wing .top-products-border .top-products .product-block .product-details .album-year .number {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.right-wing .top-products-border .top-products .product-block .detail-buttons {
  display: none;
}
.right-wing .top-products-border .top-products .product-block:hover {
  background-position: right bottom;
}
.right-wing .top-products-border .top-products .product-block:hover .title,
.right-wing .top-products-border .top-products .product-block:hover .price {
  color: #FFF;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year {
  color: #B6B6B6;
}
.right-wing .top-products-border .top-products .product-block:hover .album-year .number {
  color: #949494;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons {
  float: right;
  height: 83.8125px;
  background-color: #252525;
  margin-left: 5px;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn {
  width: 45px;
  height: 26.40625px;
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin: 11px;
  border-radius: 0px;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-buy {
  background-color: #99CB00;
  border-color: #99CB00;
}
.right-wing .top-products-border .top-products .product-block:hover .detail-buttons .btn.btn-details {
  background-color: #33B5E5;
  border-color: #33B5E5;
}
