.settings-panel {
  font-family: 'Raleway', sans-serif;
}
.settings-panel .vendor-line {
  width: 100%;
  height: 5px;
  background: #ebebeb;
  margin-top: -14px;
}
.settings-panel .left {
  padding-top: 55px;
}
.settings-panel .left .dropdown-menu {
  border-radius: 0px;
}
.settings-panel .left .profile,
.settings-panel .left .billing {
  margin-bottom: 73px;
}
.settings-panel .left .billing .country {
  background: #f0f0f0;
  color: #8c8c8c;
  padding: 0px 15px;
}
.settings-panel .left .form-group {
  margin-bottom: 28px;
}
.settings-panel .left label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555555;
  line-height: 20px;
}
.settings-panel .left input {
  border-radius: 0px;
  box-shadow: none;
  height: 45px;
  border-width: 0px;
  border: 1px solid #e7e7e7;
  /* stroke */
  background-color: #fbfbfb;
  /* layer fill content */
  outline: none;
}
.settings-panel .left button {
  height: 45px;
  background: #33b5e5;
  outline: none;
  box-shadow: none;
  border-width: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
}
.settings-panel .left .btn:focus {
  outline: none;
}
.settings-panel .left .audiofy-heading {
  clear: both;
  height: 13.09375px;
  background-color: #F0F0F0;
}
.settings-panel .left .audiofy-heading .title {
  float: left;
  margin-bottom: 42px;
}
.settings-panel .left .audiofy-heading .title h3 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px !important;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 20px;
  margin: 0px;
  margin-top: -5px;
}
.settings-panel .right {
  padding-top: 55px;
}
