@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,600,500,700,300,100,200);
/***************************************** TABS MENU SECTION ***********************************************/
.fes-vendor-menu-bsg {
  margin-top: 50px;
}
.fes-vendor-menu-bsg > ul {
  text-align: center;
}
.fes-vendor-menu-bsg > ul li {
  background: #eeeeee;
  padding: 10px 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 2px auto;
}
.fes-vendor-menu-bsg > ul li > a {
  padding: 25px 30px;
  text-decoration: none;
  color: #919191;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.fes-vendor-menu-bsg > ul li:hover {
  background: #51c0e9;
}
.fes-vendor-menu-bsg > ul li:hover a {
  color: #FFFFFF;
}
.fes-vendor-menu-bsg > ul li.active {
  background: #51c0e9;
}
.fes-vendor-menu-bsg > ul li.active a {
  color: #FFFFFF;
}
.vendor-line {
  width: 100%;
  height: 5px;
  background: #ebebeb;
  margin-top: -16px;
  margin-bottom: 80px;
}
/***************************************** HEADING STYLING ***********************************************/
.title .bg-border {
  width: 99%;
  height: 13.09375px;
  background-color: #F0F0F0;
  position: absolute;
  z-index: -1;
  top: 3px;
}
.title .title-text {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  background-color: #FFFFFF;
  float: left;
  padding-right: 20px;
  margin-bottom: 25px;
  margin-top: 0px;
}
/******************************** GLOBAL STYLE FOR FORM CONTROL *********************************/
.form-control {
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  height: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
}
.form-control.textarea {
  height: auto;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  resize: none;
}
/************************************************ LEFT WING ************************************************/
.left-wing {
  /************************************************ NAME AND DESCRIPTION ************************************************/
  /************************************************ FILES ************************************************/
  /************************************************ CATEGORY ATTRIBUTES ************************************************/
  /*************************************** TAGS **********************************************/
  /*************************************** BTN_CUSTOM **********************************************/
}
.left-wing p.title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #555555;
  margin-bottom: 10px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.left-wing small.help-text {
  color: #777777;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0.25px;
}
.left-wing .name-and-description {
  position: relative;
  margin-bottom: 50px;
}
.left-wing .name-and-description .form-control {
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  height: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
}
.left-wing .name-and-description .form-control.textarea {
  height: auto;
}
.left-wing .files {
  position: relative;
  margin-bottom: 50px;
}
.left-wing .files .file-upload {
  margin-bottom: 22px;
}
.left-wing .files .file-upload .btn-file {
  border-radius: 0px !important;
  background: #51c0e9;
  outline: none;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  border: 0px;
  left: 5px;
}
.left-wing .files .file-upload .input-group {
  font-family: 'Raleway', sans-serif;
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}
.left-wing .files .file-upload .form-control {
  border-radius: 0px !important;
  border-color: #e7e7e7;
  padding-top: 10px;
  background: #fcfcfc;
  border-color: e9e9e9;
  box-shadow: none;
}
.left-wing .category-attributes {
  position: relative;
  margin-bottom: 50px;
  /*************************************** CATEGORY **********************************************/
  /*************************************** LOOPED AUDIO **********************************************/
  /*************************************** AUDIO FILES INCLUDED **********************************************/
  /*************************************** INSTRUMENT ONLY **********************************************/
  /*************************************** BIT RATES **********************************************/
}
.left-wing .category-attributes .category {
  margin-bottom: 20px;
}
.left-wing .category-attributes .category .btn-default {
  color: #8c8c8c;
}
.left-wing .category-attributes .category .input-group .form-control {
  box-shadow: none;
  border-radius: 0px;
  background: #fcfcfc;
  border-color: #e9e9e9;
}
.left-wing .category-attributes .category .input-group .dropdown-toggle {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e9e9e9;
  background: #f0f0f0;
}
.left-wing .category-attributes .category .form-control {
  margin-top: 10px;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
  margin-top: 0px;
}
.left-wing .category-attributes .category .selectpicker {
  background: #fcfcfc;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border-color: #e9e9e9;
  margin-bottom: 20px;
}
.left-wing .category-attributes .category .selectpicker:focus {
  border-color: #e9e9e9;
  outline: none !important;
}
.left-wing .category-attributes .category .dropdown-menu {
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  border-color: #e9e9e9;
}
.left-wing .category-attributes .category .dropdown-menu li a {
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.left-wing .category-attributes .category .dropdown-menu .active a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #51c0e9 !important;
  padding: 10px;
}
.left-wing .category-attributes .category .dropdown-menu .active a .fa {
  font-size: 20px;
  margin-top: 0px !important;
}
.left-wing .category-attributes ul.looped-audio {
  font-family: 'Raleway', sans-serif;
  color: #555555;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 20px;
}
.left-wing .category-attributes ul.looped-audio li:first-child {
  padding-left: 0px;
}
.left-wing .category-attributes .selectize-input {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e7e7e7;
  height: 190px;
  background: #fcfcfc;
}
.left-wing .category-attributes ul.instrument-only {
  font-family: 'Raleway', sans-serif;
  color: #555555;
  font-weight: 600;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 20px;
}
.left-wing .category-attributes ul.instrument-only li:first-child {
  padding-left: 0px;
}
.left-wing .category-attributes .bit-rate {
  margin-bottom: 40px;
}
.left-wing .category-attributes .bit-rate .btn-default {
  color: #8c8c8c;
}
.left-wing .category-attributes .bit-rate .input-group .form-control {
  box-shadow: none;
  border-radius: 0px;
  background: #fcfcfc;
  border-color: #e9e9e9;
}
.left-wing .category-attributes .bit-rate .input-group .dropdown-toggle {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e9e9e9;
  background: #f0f0f0;
}
.left-wing .category-attributes .bit-rate .form-control {
  margin-top: 10px;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
  margin-top: 0px;
}
.left-wing .category-attributes .bit-rate .selectpicker {
  background: #fcfcfc;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border-color: #e9e9e9;
  margin-bottom: 20px;
}
.left-wing .category-attributes .bit-rate .selectpicker:focus {
  border-color: #e9e9e9;
  outline: none !important;
}
.left-wing .category-attributes .bit-rate .dropdown-menu {
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  border-color: #e9e9e9;
}
.left-wing .category-attributes .bit-rate .dropdown-menu li a {
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.left-wing .category-attributes .bit-rate .dropdown-menu .active a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #51c0e9 !important;
  padding: 10px;
}
.left-wing .category-attributes .bit-rate .dropdown-menu .active a .fa {
  font-size: 20px;
  margin-top: 0px !important;
}
.left-wing .tags {
  position: relative;
  margin-bottom: 50px;
}
.left-wing .tags .selectize-input {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e7e7e7;
  height: 190px;
}
.left-wing .btn-custom {
  outline: none;
  border-radius: 0px;
  border-color: #33b5e5;
  background: #33b5e5;
  color: #FFFFFF;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 20px 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.left-wing .btn-custom:hover {
  background: #FFFFFF;
  color: #33b5e5;
}
/**************************************** RIGHT WING **********************************************/
.right-wing .widget {
  border: 1px solid #e9e9e9;
  padding: 25px;
  margin-bottom: 30px;
}
.right-wing .widget h4.heading {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.right-wing .widget h5.sub-heading {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 10px;
}
.right-wing .widget p {
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
}
.right-wing .widget > ul {
  margin-left: 50px;
}
.right-wing .widget > h5.progress-bar-heading {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  letter-spacing: 1px;
}
.right-wing .widget .progress {
  height: 10px;
  border-radius: 0px;
  background: #8c8c8c;
  margin-bottom: 20px;
}
.right-wing .widget .progress .progress-bar {
  background: #33b5e5;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
.selectize-control.plugin-remove_button [data-value] .remove {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px !important;
  text-align: center;
  font-weight: bold;
  font-size: 18px !important;
  color: #FFFFFF !important;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 1px 0 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px !important;
  border-left: 1px solid #bdbcbc !important;
  padding-left: 5px !important;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 5px !important;
  padding: 5px 5px !important;
  background: #a9a9a9 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-size: 12px !important;
  font-family: 'Raleway', sans-serif !important;
  padding-left: 10px !important;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
