@purple: #9a6a9b;
@blue: #3b6472;
@red: #87364d;
@gold: #896b25;
@charcoal: #1c1c1c;
@yellow: #cc9817;
@charcoal2: #272727;
@dark-purple: #7b467b;
@cyan: #02e9fb;


@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);

@import "../css/selectize/selectize.bootstrap3.css";

@import "../css/jasny-bootstrap.min.css";

@import "../css/submission-page.css";

@import "../css/bootstrap-select.css";

@import "../css/contact.css";

@import "../css/about_us.css";

@import "../css/author_profile.css";

@import "../css/popular_author.css";

@import "../css/popular_files.css";

@import "../css/contact.css";

@import "../css/font-awesome.css";

@import "../css/bootstrap.css";

@import "../css/settings_and_profile_pages.css";

@import "../css/earningspage.css";

@import "../css/animate.min.css";

@import "../css/productspage.css";

@import "../css/orderpage.css";

@import "../css/checkout.css";

@import "../css/blog.css";

@import "../css/blog-two.css";

@import "../css/blog-three.css";

@import "../css/detail-product.css";

@import "../css/blog-detail.css";

/**********fonts included here***********/

/**********variables declared here***********/

/***********all styles imported here*****************/

body
{
    color: #888888;
    padding-bottom: 65px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type=checkbox]
{
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.topbar
{
    background-color: @charcoal2;
    color: #FFFFFF;
    width: 100%;
    display: block;
    line-height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

.topbar span
{
    letter-spacing: 1px;
}

.topbar .follow
{
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.topbar a
{
    color: #FFF;
    padding-left: 15px;
    font-size: 18px;
    text-decoration: none;
}

.topbar .search-box a:hover i
{
    color: #333;
}

.topbar .logo
{
    float: left;
    line-height: 50px;
}

.topbar .logo img
{
    width: 60px;
    opacity: 0.6;
    margin-top: -5px;
}

.topbar .logo ul
{
    display: inline-block;
    margin: 0px;
}

.topbar .logo img:hover
{
    opacity: 1;
}

.topbar .search-box
{
    margin-left: 10px;
}

#expandable-search-box input
{
    width: 50px;
    font-family: FontAwesome;
    font-size: 28px;
    text-align: center;
    outline: none;
    cursor: pointer;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    height: 48px;
    background: transparent;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

#expandable-search-box input::-webkit-search-decoration,
 #expandable-search-box input::-webkit-search-cancel-button
{
    display: none;
}

#expandable-search-box input:hover
{
    background-color: #0e0e0e;
}

#expandable-search-box input:focus
{
    background-color: #E0E0E0;
    width: 300px;
    padding-left: 20px;
    cursor: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: left;
}

.topbar .register-links
{
    float: right;
}

.topbar .upload
{
    border: none;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}

.topbar .upload:hover
{
    background: @purple;
}

.topbar nav img
{
    border-radius: 50%;
    height: 46px;
}

.topbar nav ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.topbar nav ul li
{
    display: inline-block;
    background-color: @charcoal2;
    line-height: 46px;
}

.topbar nav a
{
    display: block;
    padding: 0 10px;
    line-height: 55px;
    text-decoration: none;
    font-size: 15px;
}

.topbar nav a:hover
{
    background-color: @purple;
}

.topbar nav i
{
    display: inline-block;
    margin-right: 10px;
}

.topbar nav ul ul
{
    display: none;
    position: absolute;
    top: 50px;
}

.topbar nav ul li:hover > ul
{
    display: inherit;
    left: auto;
    right: 0;
    z-index: 9;
}

.topbar nav ul ul li
{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/*navbar breakpoint*/

@media (max-width: 992px)
{
    .navbar-default
    {
        margin-top: 60px !important;
    }
    .navbar-header
    {
        float: none;
    }
    .navbar-left,
 .navbar-right
    {
        float: none !important;
    }
    .navbar-toggle
    {
        display: block;
        margin-top: 15px;
    }
    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top
    {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse
    {
        display: none!important;
    }
    .navbar-nav > li
    {
        float: none;
    }
    .navbar-nav > li > a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in
    {
        display: block !important;
    }
    .navbar-nav
    {
        display: block;
        background: black;
        position: relative;
        z-index: 9999999999;
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav li a
    {
        color: #FFF !important;
    }
    .navbar-nav li a:hover
    {
        color: @purple                                                                                                                                                                                                                               !important;
    }
    .navbar-collapse
    {
        max-height: 600px !important;
        z-index: 9999 !important;
    }
    ul.dropdown-menu
    {
        position: relative !important;
        width: 100% !important;
        box-shadow: none !important;
    }
    .topbar
    {
        display: block !important;
        position: relative !important;
        z-index: 9999 !important;
    }
    .navbar-default .navbar-toggle
    {
        border-color: #ffffff;
        background-color: #FFFFFF !important;
        border-radius: 2px;
    }
}

/*navbarbreakpoint*/

.hero-unit
{
    min-height: 694px;
    position: relative;
    background: url(../images/background1.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-unit.hero-breadcrump
{
    min-height: 450px;
    position: relative;
    background: url(../images/blog.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-unit .header-bg
{
    opacity: 0.2;
    background-color: black;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.hero-unit .header-content
{
    position: absolute;
    display: block;
    width: 100%;
    z-index: 999;
}

.hero-unit .header-content .navbar-default .navbar-nav > .open > a,
 .hero-unit .header-content .navbar-default .navbar-nav > .open > a:hover,
 .hero-unit .header-content .navbar-default .navbar-nav > .open > a:focus
{
    background: transparent !important;
}

.hero-unit .header-content .dropdown-menu
{
    background: #F9F9F9;
}

.hero-unit .header-content .dropdown-menu li a
{
    color: #777777 !important;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
}

.hero-unit .header-content .dropdown-menu li a:hover
{
    color: #33B5E5 !important;
}

.hero-unit .header-content .navbar
{
    clear: both;
    background-color: transparent;
    min-height: 72px !important;
    border: 0px solid #48413c;
    border-radius: 0px;
    margin-top: 10px;
}

.hero-unit .header-content .navbar .navbar-header
{
    outline: none;
}

.hero-unit .header-content .navbar .navbar-collapse
{
    border-top: 0px;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav
{
    text-align: center;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li.dropdown.open > a
{
    color: #FFFFFF;
    background-color: transparent;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li > a
{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 35px !important;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li > a.search
{
    color: #FFFFFF;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li > a.cart
{
    color: #FFFFFF;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li > a.cart .amount
{
    padding-left: 10px;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li.active,
 .hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li:hover
{
    padding-bottom: 0px;
}

.hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li.active a,
 .hero-unit .header-content .navbar .navbar-collapse ul.navbar-nav > li:hover a
{
    background: transparent;
    color: #FFFFFF;
}

.hero-unit .header-content .banner-search
{
    width: 860px;
    text-align: center;
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 200px;
    left: 0;
}

.hero-unit .header-content .banner-search .main-text
{
    font-size: 44px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.hero-unit .header-content .banner-search .small-info
{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #d7d7d7;
    margin-bottom: 35px;
}

.hero-unit .header-content .banner-search .search-box input,
 .hero-unit .header-content .banner-search .search-box button
{
    height: 50px;
    border-radius: 0px;
    color: #adadad;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border-width: 0px;
    background: #ffffff;
    border-right: 2px solid #f0f0f0;
}

.hero-unit .header-content .banner-search .search-box button
{
    background-color: #fcfcfc;
    padding: 0px 35px;
    border-width: 0px;
}

.hero-unit .header-content .banner-search .search-box button:hover
{
    border-width: 0px !important;
}

.hero-unit .header-content .banner-search .search-box .search
{
    background-color: @purple;
    color: #ffffff;
}

.hero-unit .header-content .banner-search .search-box .dropdown-menu {
  border-radius: 0px;
  font-family: 'Roboto Slab', serif;
  color: #adadad;
  position: absolute !important;
  right: 0;
  color: #aaaaaa;
}

.hero-unit .header-content .banner-search .search-box .dropdown-menu li a {
  font-size: 12px;
  color: #aaaaaa !important;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 13px;
}

.hero-unit .header-content .banner-search .search-box .dropdown-menu li a:hover
{
    background: none !important;
    color: #33b5e5 !important;
}

.hero-unit .header-content .banner-search .two-btns
{
    margin-top: 30px;
}

.hero-unit .header-content .banner-search .two-btns a
{
    background: rgba(40, 30, 45, 0.5);
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    font-family: 'Roboto Slab', serif;
    border-radius: 0px;
    border: 0px solid #c5c5c5;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
}

.hero-unit .header-content .banner-search .two-btns a:hover
{
    border-color: @purple;
    background-color: @purple;
}

.hero-unit .breadcrump
{
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    z-index: 999;
    bottom: 5px;
    position: absolute;
    margin-left: 3%;
}

.hero-unit .breadcrump .location
{
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: lighter;
}

.hero-unit .breadcrump h2
{
    font-size: 44px;
}

.hero-unit .breadcrump ul li:after
{
    content: "/";
    position: absolute;
    color: #d7d7d7;
    top: 0;
    right: 0;
    margin-left: 10px;
}

.hero-unit .breadcrump ul li:last-child:after
{
    display: none;
}

.hero-unit .breadcrump .location i
{
    margin-right: 10px;
}

.bsg-player
{
    height: 65px;
    background-color: @charcoal;
    transition: position 500ms ease;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.bsg-player .container
{
    padding: 0px;
}

.bsg-player .player-buttons
{
    height: 65px;
    font-size: 13px;
    padding-top: 7px;
}

.bsg-player .player-buttons li
{
    padding: 0px;
}

.bsg-player .player-buttons .previous a,
 .bsg-player .player-buttons .next a
{
    display: inline-block;
    width: 30.15625px;
    height: 30.15625px;
    background-color: @purple;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    margin: 0px;
}

.bsg-player .player-buttons .next a
{
    margin-left: -5px;
}

.bsg-player .player-buttons .play a
{
    width: 50px;
    height: 50px;
    background-color: @purple;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    line-height: 50px;
    margin-left: -5px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    display: inline-block;
}

.bsg-player .album-details
{
    padding-top: 7px;
    padding-right: 10px;
    float: left;
    height: 65px;
    margin-left: 10px;
}

.bsg-player .album-details .album-art
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.bsg-player .album-details .album-art img
{
    height: 50px !important;
    width: 50px;
}

.bsg-player .album-details .album-info
{
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.bsg-player .album-details .album-info h4.title
{
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 0px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.bsg-player .album-details .album-info h4.title .js-marquee
{
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bsg-player .album-details .album-info .author
{
    color: #B6B6B6;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    width: 150px;
    height: 15px;
    overflow: hidden;
}

.bsg-player .player-seek
{
    height: 65px;
    padding-right: 5px;
}

.bsg-player .player-seek .progress
{
    float: left !important;
    height: 15px;
    background-color: #0e0e0e;
    border-radius: 0px;
    width: 100% !important;
    margin-top: 25px;
}

.bsg-player .player-seek .progress .progress-bar
{
    background-color: #33B5E5;
}

.bsg-player .player-seek .progress .jp-seek-bar
{
    background-color: #020202 !important;
    width: 0px;
    height: 100%;
    cursor: pointer;
}

.bsg-player .player-seek .progress .jp-play-bar
{
    background-color: @purple                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             !important;
    width: 0px;
    height: 100%;
}

.bsg-player .player-seek .progress .jp-seeking-bg
{
    background-color: yellow !important;
}

.bsg-player .player-seek .time
{
    line-height: 65px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.bsg-player .player-seek .time div
{
    display: inline-block;
}

.bsg-player .player-options
{
    line-height: 65px;
    display: inline-flex;
    height: 65px;
}

.bsg-player .player-options .playlist,
 .bsg-player .player-options .mute-toggle a
{
    padding-left: 25px;
    padding-right: 25px;
    color: #FFF;
    font-size: 14px;
    outline: none;
}

.bsg-player .player-options .playlist a,
 .bsg-player .player-options .mute-toggle a a
{
    color: #FFFFFF;
}

.bsg-player .player-options .playlist .cart-number
{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: @purple;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}

section.top-list
{
    padding-bottom: 90px;
}

section.top-list .title .bg-border
{
    width: 93%;
    height: 13.09375px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: -1;
    top: 22px;
}

section.top-list .title .title-text
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    float: left;
    margin-bottom: 26px;
}

section.top-list .top-authors-list .author-block
{
    clear: both;
    background: linear-gradient(to left, #ffffff 50%, #333333 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: all 500ms ease;
    margin-bottom: 34px;
    height: 84px;
}

section.top-list .top-authors-list .author-block .avatar-holder
{
    float: left;
    width: 84px;
    height: 84px;
}

section.top-list .top-authors-list .author-block .author-details
{
    margin-left: 100px;
}

section.top-list .top-authors-list .author-block .author-details .title
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 26px;
    transition: all 500ms ease;
}

section.top-list .top-authors-list .author-block .author-details .place
{
    color: #777;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 500ms ease;
}

section.top-list .top-authors-list .author-block .author-details .sales
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
    transition: all 500ms ease;
}

section.top-list .top-authors-list .author-block .author-details .sales .number
{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

section.top-list .top-authors-list .author-block:hover
{
    background-position: left top;
}

section.top-list .top-authors-list .author-block:hover .title,
 section.top-list .top-authors-list .author-block:hover .place,
 section.top-list .top-authors-list .author-block:hover .sales
{
    color: #FFF;
}

section.top-list .top-products .product-block
{
    clear: both;
    background: linear-gradient(to right, #ffffff 50%, #333333 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 500ms ease;
    margin-bottom: 30px;
    height: 120px;
}

section.top-list .top-products .product-block .product-image
{
    float: left;
    width: 120px;
    height: 120px;
    background-color: #000000;
}

section.top-list .top-products .product-block .product-image img
{
    width: 120px;
    height: 120px;
}

section.top-list .top-products .product-block .product-image .song
{
    width: 26.40625px;
    height: 26.21875px;
    background-color: #33B5E5;
    display: block;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    margin-top: -26px;
    margin-left: 58px;
    position: absolute;
    z-index: 1;
}

section.top-list .top-products .product-block .product-details
{
    float: left;
    margin-left: 20px;
}

section.top-list .top-products .product-block .product-details .title
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 26px;
    transition: all 500ms ease;
}

section.top-list .top-products .product-block .product-details .price
{
    color: #33B5E5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

section.top-list .top-products .product-block .product-details .author
{
    color: #777;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 500ms ease;
}

section.top-list .top-products .product-block .product-details .album-year
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    transition: all 500ms ease;
}

section.top-list .top-products .product-block .product-details .album-year .number
{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

section.top-list .top-products .product-block .detail-buttons
{
    float: right;
    height: 83.8125px;
    background-color: #252525;
    margin-left: 5px;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

section.top-list .top-products .product-block .detail-buttons .btn
{
    width: 92.3125px;
    height: 26.40625px;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: 11px;
    border-radius: 0px;
}

section.top-list .top-products .product-block .detail-buttons .btn.btn-buy
{
    background-color: #99CB00;
    border-color: #99CB00;
}

section.top-list .top-products .product-block .detail-buttons .btn.btn-details
{
    background-color: #33B5E5;
    border-color: #33B5E5;
}

section.top-list .top-products .product-block:hover
{
    background-position: right bottom;
}

section.top-list .top-products .product-block:hover .title,
 section.top-list .top-products .product-block:hover .price
{
    color: #FFF;
}

section.top-list .top-products .product-block:hover .album-year
{
    color: #B6B6B6;
}

section.top-list .top-products .product-block:hover .album-year .number
{
    color: #949494;
}

section.top-list .top-products .product-block:hover .detail-buttons
{
    opacity: 1;
}

@media (max-width: 1200px)
{
    .player-seek .progress
    {
        width: 160px;
    }
}

@media (max-width: 769px)
{
    .player-seek
    {
        padding-right: 0px !important;
    }
    .player-options
    {
        float: right !important;
    }
}

@media (max-width: 600px)
{
    .bsg-player .album-details
    {
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        margin-left: 50px;
    }
}

@media (max-width: 769px)
{
    .bsg-player .album-details .album-art img
    {
        width: 55px;
        height: 55px !important;
    }
}

.list-group li
{
    position: relative;
    display: block;
    padding: 20px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group li:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group li:last-child
{
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*modal overwrite*/

.modal .modal-footer
{
    padding: 15px 20px;
}

.modal .modal-content .page-header
{
    margin-top: 0px;
    font-size: 16px;
    color: #6cadd1;
    font-weight: bold;
}

.modal .modal-content .modal-header
{
    border-bottom: 0px solid transparent !important;
    text-align: center;
    padding: 0px;
}

.modal .modal-content .modal-header .close
{
    padding: 10px 20px;
}

.modal .modal-content .modal-header h4
{
    background: @purple                                                                                                                              !important;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    padding-left: 40px;
}

.modal-header .close
{
    height: 50px !important;
    margin: 0px;
}

.modal .modal-content .panel-collapse .panel-body
{
    max-height: 400px !important;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .modal-content .panel-collapse .panel-body .panel-collapse .panel-body
{
    height: 200px !important;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .modal-content .modal-body
{
    padding: 0px;
    padding-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

.modal .modal-content .modal-body #accordionVj
{
    border-radius: 0px !important;
}

/*shadow effect modal*/

.modal-footer
{
    border-top: 1px solid #f1f1f1;
}

.modal-footer button
{
    border-radius: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.modal-footer button.btn-default
{
    border: 1px solid #e7e7e7;
}

.modal-footer button.btn-primary
{
    background: @purple;
    color: #ffffff;
    border-color: @purple;
    text-transform: capitalize;
}

.modal-footer button.btn:focus
{
    outline: none !important;
    box-shadow: none;
}

.modal
{
    padding-top: 40px;
}

.modal-body
{
    font-family: 'Roboto Slab', serif;
}

.modal-body .list-retrieved
{
    padding: 20px;
}

.modal-body .list-retrieved li
{
    padding: 20px 0px;
    border-bottom: 1px solid #f1f1f1;
    clear: both;
    display: table;
    width: 100%;
}

.modal-body .list-retrieved li a.pull-left
{
    color: #777777;
    text-decoration: none;
}

.modal-body .list-retrieved li a.pull-left span
{
    color: @purple;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.modal-body .list-retrieved li a
{
    font-family: 'Roboto Slab', serif;
    float: right;
    font-size: 16px;
    color: #E74C3C;
    margin-top: 5px;
}

.modal-body .total
{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 50px;
}

.modal-body .total a
{
    text-decoration: none;
    color: @purple;
}

.modal-content
{
    border-radius: 0px;
    border-width: 0px;
    position: relative;
}

.modal-content:before,
 .modal-content:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 35px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 35px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 35px 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.modal-content:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

/*License agreement modal*/

/*styles added*/

.audiozy-heading
{
    font-family: 'Roboto Slab', serif;
    text-align: left;
}

.audiozy-heading .description
{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 1px;
    color: #999;
    padding-bottom: 8px;
}

.audiozy-heading .audiozy-line
{
    background-color: #999;
    height: 1px;
    width: 100%;
}

.audiozy-question
{
    min-height: 391px;
    background: url(../images/say.jpg) 50% 0 no-repeat fixed;
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.audiozy-question .overlay
{
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

.audiozy-question .small-info
{
    color: #fff;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.audiozy-question .heading
{
    z-index: 22;
    position: relative;
    line-height: 42px;
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.audiozy-question .audiozy-btn
{
    position: relative;
    margin-top: 40px;
}

.audiozy-question .audiozy-btn .btn
{
    height: 50px;
    background: transparent;
    border: 2px solid #c5c5c5;
    border-radius: 0px;
    line-height: 50px;
    padding: 0px 25px;
    font-size: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.audiozy-question .audiozy-btn .btn:hover
{
    border-color: @purple;
    background-color: @purple;
}

.audiozy-recent-products
{
    font-family: 'Roboto Slab', serif;
    position: relative;
    padding: 70px 10px 90px;
    background-image: -moz-radial-gradient(circle, #1c1c1c, #272727 80%); background-image: -webkit-radial-gradient(circle, #1c1c1c, #272727 80%); background-image: radial-gradient(circle, #1c1c1c, #272727 80%);
}

.audiozy-recent-products .filter-links
{
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.audiozy-recent-products .filter-links button
{
    height: 50px;
    line-height: 35px;
    padding: 0px 20px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #C5C5C5;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-width: 0px;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    border: 2px solid #999;
    margin-right: 20px;
    margin-bottom: 10px;
    background: none;
}

.audiozy-recent-products .filter-links button:hover
{
    background-color: @purple;
    color: #fff;
}

.audiozy-recent-products .recent-blocks
{
    position: relative;
    margin-bottom: 50px;
}

.audiozy-recent-products .recent-blocks .recent-over.show .content
{
    background-color: #333333;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.audiozy-recent-products .recent-blocks .recent-over.show .content .title a
{
    color: #FFF;
}

.audiozy-recent-products .recent-blocks .recent-over.show .buy-buttons
{
    visibility: visible;
}

.audiozy-recent-products .recent-blocks .recent-over.show .primary-info .genre li a
{
    color: white;
}

.audiozy-recent-products .recent-blocks .recent-image-holder
{
    position: relative;
    z-index: -1;
    background-color: #000;
}

.audiozy-recent-products .recent-blocks .recent-image-holder img
{
    width: 100%;
    height: auto;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.audiozy-recent-products .recent-blocks:hover .recent-image-holder img
{
    opacity: 0.6;
}

.audiozy-recent-products .recent-blocks .recent-image-holder a i:hover
{
    background: #7B467B;
}

.audiozy-recent-products .recent-blocks .content
{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: white;
    margin-top: -75px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding-left: 7px;
    padding-right: 7px;
}

.audiozy-recent-products .recent-blocks .recent-over .content a i
{
    background: @purple;
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #FFF;
    top: -15px;
    margin-top: -10px;
}

.audiozy-recent-products .recent-blocks .recent-over .content a i:hover
{
    background: #7B467B;
}

.audiozy-recent-products .recent-blocks .content .title
{
    color: #333333;
    position: relative;
}

.audiozy-recent-products .recent-blocks .content .title a
{
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #333333;
}

.audiozy-recent-products .recent-blocks .content .beatmaker
{
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #777777;
}

.audiozy-recent-products .recent-blocks .content .beatmaker img
{
    width: 30px;
    border-radius: 50%;
}

.audiozy-recent-products .recent-blocks .content .beatmaker a
{
    color: #777777;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.audiozy-recent-products .recent-blocks .content .beatmaker a:hover
{
    color: white;
    text-decoration: none;
}

.audiozy-recent-products .recent-blocks .content .primary-info
{
    display: inline-flex;
    width: 100%;
}

.audiozy-recent-products .recent-blocks .content .primary-info .attributes
{
    font-size: 16px;
    position: absolute;
    margin-top: 8px;
    margin-left: 3px;
}

.audiozy-recent-products .recent-blocks .content .primary-info .genre
{
    width: 100%;
    text-align: right;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 12px;
}

.audiozy-recent-products .recent-blocks .content .primary-info .genre li
{
    border: 1px solid #FFF;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 1px;
}

.audiozy-recent-products .recent-blocks .content .primary-info .genre li:hover
{
    border: 1px solid @purple;
}

.audiozy-recent-products .recent-blocks .content .primary-info .genre li a
{
    color: @purple;
    text-transform: capitalize;
    text-decoration: none;
}

.audiozy-recent-products .recent-blocks .buy-buttons
{
    height: auto;
    background-color: #333333;
    z-index: 99;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 10px 15px 20px -10px;
    -moz-box-shadow: 10px 15px 20px -10px;
    box-shadow: 10px 15px 20px -10px;
    position: absolute;
    left: 15px;
    right: 15px;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn
{
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 12px;
    width: 50%;
    position: relative;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-nfp
{
    background-color: @blue;
    border-color: @blue;
    float: left;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-non-exclusive
{
    background-color: @red;
    border-color: @red;
    width: 50%;
    float: right;
    margin-top: 0px;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-exclusive
{
    background-color: @gold;
    border-color: @gold;
    width: 50%;
    float: left;
    margin-top: 0px;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-nfp:hover
{
    background-color: #1986b1;
    border-color: #1986b1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-non-exclusive:hover
{
    background-color: #af1943;
    border-color: #af1943;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn.btn-exclusive:hover
{
    background-color: #c7910d;
    border-color: #c7910d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.audiozy-recent-products .recent-blocks .buy-buttons .btn .price
{
    font-size: 24px;
    font-weight: 600;
}

@media (min-width: 770px)
{
    .audiozy-recent-products .recent-blocks .buy-buttons .btn
    {
        font-size: 11px;
    }
}

@media (min-width: 1201px)
{
    .audiozy-recent-products .recent-blocks .buy-buttons .btn
    {
        font-size: 12px;
    }
}

.audiozy-waiting-quote
{
    min-height: 391px;
    background: url(../images/say2.jpg) 50% 0 no-repeat fixed;
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.audiozy-waiting-quote .overlay
{
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

.audiozy-waiting-quote .small-info
{
    color: #fff;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.audiozy-waiting-quote .heading
{
    z-index: 22;
    position: relative;
    line-height: 42px;
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.audiozy-waiting-quote .audiozy-btn
{
    position: relative;
    margin-top: 40px;
}

.audiozy-waiting-quote .audiozy-btn .btn
{
    height: 44px;
    background: transparent;
    border: 2px solid #c5c5c5;
    border-radius: 0px;
    line-height: 44px;
    padding: 0px 18px;
    font-size: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.audiozy-waiting-quote .audiozy-btn .btn:hover
{
    border-color: #33B5E5;
    background: #33B5E5;
}

.audiozy-blog
{
    padding-top: 72px;
    padding-bottom: 113px;
    background-color: white;
}

.audiozy-blog .blog
{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}

.audiozy-blog .blog .blog-parent-main
{
    background-color: #fff;
    display: inline-block;
    padding-bottom: 25px;
}

.audiozy-blog .blog .blog-parent-main:hover .image-holder img
{
    opacity: 0.6;
}

.audiozy-blog .blog .blog-parent-main:hover .icon-plus
{
    opacity: 1;
}

.audiozy-blog .blog .blog-parent-main .image-holder
{
    background: #000;
}

.audiozy-blog .blog .blog-parent-main .image-holder img
{
    width: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.audiozy-blog .blog .blog-parent-main .icon-plus
{
    position: absolute;
    top: 0;
    text-align: center;
    left: 15px;
    right: 15px;
    margin-top: 25%;
    opacity: 0;
    font-size: 28px;
}

.audiozy-blog .blog .blog-parent-main .icon-plus a
{
    color: #ffffff;
}

.audiozy-blog .blog .blog-parent-main hr
{
    margin: 0px;
    border-color: #eee;
}

.audiozy-blog .blog .blog-parent-main .info .date
{
    line-height: 22px;
    margin-top: 8px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
}

.audiozy-blog .blog .blog-parent-main .info .date a
{
    color: #aaaaaa;
    text-decoration: none;
}

.audiozy-blog .blog .blog-parent-main .info .date span
{
    color: @purple;
    font-weight: 700;
}

.audiozy-blog .blog .blog-parent-main .info .heading
{
    font-size: 16px;
    font-family: 600;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.audiozy-blog .blog .blog-parent-main .info .heading a
{
    color: #333333;
}

.audiozy-blog .blog .blog-parent-main .info p
{
    margin-top: 10px;
    font-size: 13px;
    color: #777777;
    line-height: 20px;
    margin-bottom: 18px;
}

.audiozy-blog .blog .blog-parent-main .blog-more
{
    font-weight: 600;
    text-transform: uppercase;
    color: @purple;
    font-size: 11px;
}

.footer
{
    background-color: #1c1c1c;
    padding-bottom: 30px;
}

.footer .about-us h6
{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 48px;
}

.footer .about-us .logo
{
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer .about-us .logo a
{
    text-decoration: none;
}

.footer .about-us .logo a img
{
}

.footer .about-us p
{
    color: #b6b6b6;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 6px;
}

.footer .resources-links h6
{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 48px;
}

.footer .resources-links ul
{
    padding-top: 4px;
}

.footer .resources-links ul li a
{
    color: #a7a7a7;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-transform: capitalize;
    text-decoration: none;
}

.footer .tags h6
{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 48px;
}

.footer .tags .tag
{
    padding-top: 14px;
    padding-bottom: 14px;
}

.footer .tags .social-icons li
{
    padding: 0;
}

.footer .tags .social-icons li a i
{
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.5px;
    height: 32px;
    width: 32px;
    background: #33b5e5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.footer .tags .social-icons li a i.fb-icon
{
    background-color: #3e5a99;
}

.footer .tags .social-icons li a i.twitter-icon
{
    background-color: #00aced;
}

.footer .tags .social-icons li a i.google-icon
{
    background-color: #ff4444;
}

.footer .tags .social-icons li a i.youtube-icon
{
    background-color: #cc181e;
}

.footer .tags .social-icons li a i.flickr-icon
{
    background-color: #fe0084;
}

.footer .tags .social-icons li a i:hover
{
    background: #FFFFFF;
}

.footer .tags .social-icons li a i:hover.fb-icon
{
    color: #3e5a99;
}

.footer .tags .social-icons li a i:hover.twitter-icon
{
    color: #00aced;
}

.footer .tags .social-icons li a i:hover.google-icon
{
    color: #ff4444;
}

.footer .tags .social-icons li a i:hover.youtube-icon
{
    color: #cc181e;
}

.footer .contact-info h6
{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
    padding-bottom: 6px;
    padding-top: 48px;
}

.footer .contact-info h5
{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 21px;
    letter-spacing: 0.25px;
    margin: 0;
}

.footer .contact-info p
{
    color: #b7b7b7;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 21px;
    letter-spacing: 0.25px;
}

.mini-footer
{
    background: #1c1c1c;
}

.mini-footer .seperator
{
    padding-top: 10px;
    border-top: 1px solid #353535;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    padding-bottom: 5px;
}

.mini-footer .seperator > .copyright
{
    color: #999999;
}

@media (max-width: 940px) and (min-width: 600px)
{
    .banner-search
    {
        width: 550px !important;
    }
    .banner-search .line-heading
    {
        width: 250px !important;
        margin: 0 auto;
    }
    .banner-search .line-heading .head-welcome
    {
        font-size: 11px !important;
    }
    .banner-search .line-heading .line1
    {
        width: 30px !important;
    }
    .banner-search .line-heading .line2
    {
        height: 9px;
        width: 30px !important;
    }
    .banner-search .main-text
    {
        font-size: 30px !important;
    }
    .banner-search .search-box input,
 .banner-search .search-box button
    {
        height: 50px;
        font-size: 10px !important;
        padding: 5px !important;
    }
    .banner-search .search-box button
    {
        padding: 0px 15px !important;
        border-width: 0px;
    }
    .banner-search .search-box button:hover
    {
        border-width: 0px !important;
    }
}

@media (max-width: 600px)
{
    .topbar .logo
    {
        border-bottom: 1px solid #60c5eb;
    }
    .topbar .social-icons,
 .topbar .register-links
    {
        text-align: center;
        float: none;
        margin: 0px auto;
    }
    .banner-search
    {
        width: 300px !important;
    }
    .banner-search .line-heading
    {
        width: 250px !important;
        margin: 0 auto;
    }
    .banner-search .line-heading .head-welcome
    {
        font-size: 11px !important;
    }
    .banner-search .line-heading .line1
    {
        width: 30px !important;
    }
    .banner-search .line-heading .line2
    {
        height: 9px;
        width: 30px !important;
    }
    .banner-search .main-text
    {
        font-size: 20px !important;
    }
    .banner-search .search-box input,
 .banner-search .search-box button
    {
        height: 50px;
        font-size: 10px !important;
        padding: 5px !important;
    }
    .banner-search .search-box button
    {
        padding: 0px 15px !important;
        border-width: 0px;
    }
    .banner-search .search-box button:hover
    {
        border-width: 0px !important;
    }
}

@media (min-width: 995px)
{
    .navbar-nav .dropdown-menu
    {
        margin-right: -30px;
        font-family: 'Roboto Slab', serif;
        padding-top: 10px;
        text-align: left;
        border-radius: 0px;
        text-transform: uppercase;
    }
    .navbar-nav .dropdown-menu a
    {
        line-height: 26px;
        font-size: 13px;
    }
    .navbar-nav .dropdown-menu:after
    {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -10px;
    }
}

.description-info-audiozy .heading
{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    letter-spacing: 1px;
    float: left;
    line-height: 22px;
}

.description-info-audiozy .heading i
{
    color: #33b5e5;
    font-size: 20px;
    padding-right: 10px;
}

.description-info-audiozy .content-info
{
    clear: both;
    margin-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    line-height: 26px;
    color: #777777;
}

.audiozy-heading-mini .title
{
    float: left;
}

.audiozy-heading-mini .title h3
{
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px !important;
    text-transform: uppercase;
    margin: 0px;
    margin-top: -5px;
}

/********************tabs menu *************************/

/***************************************** TABS MENU SECTION ***********************************************/

.fes-vendor-menu-bsg
{
    margin-bottom: 50px;
    margin-top: 30px;
}

.fes-vendor-menu-bsg > ul
{
    text-align: left;
}

.fes-vendor-menu-bsg > ul li
{
    background: #eeeeee;
    padding: 10px 0px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    margin: 2px auto;
}

.fes-vendor-menu-bsg > ul li > a
{
    padding: 25px 30px;
    text-decoration: none;
    color: #919191;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.fes-vendor-menu-bsg > ul li:hover
{
    background: @purple;
}

.fes-vendor-menu-bsg > ul li:hover a
{
    color: #FFFFFF;
}

.fes-vendor-menu-bsg > ul li.active
{
    background-color: @purple;
}

.fes-vendor-menu-bsg > ul li.active a
{
    color: #FFFFFF;
}

.vendor-line
{
    width: 100%;
    height: 5px;
    background: #ebebeb;
    margin-top: -16px;
    margin-bottom: 80px;
}

/** Author Profile **/

.product-block
{
    transition: all 500ms ease;
    margin-bottom: 30px;
    height: auto;
    clear: both;
}

.product-block:hover
{
    background-position: right bottom;
}

.product-block .product-image
{
    background-color: #000000;
    float: left;
    margin-right: 20px;
}

.product-block .product-image img
{
    width: 120px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.product-block .beat .song
{
    width: 55px;
    height: 55px;
    background-color: @purple;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 55px;
    z-index: 1;
    display: block;
}

.product-block .beat
{
    float: left;
    display: inline-flex;
    margin-bottom: 20px;
}

.product-block .beat .beat-details .title
{
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 24px;
    transition: all 500ms ease;
    text-decoration: none;
}

.product-block .beat .beat-details .attributes
{
    font-size: 16px;
    margin-top: 5px;
}

.product-block:hover .beat .beat-details .attributes
{
    color: #e5e3e5;
}

.product-block:hover .beat .beat-details .album-year
{
    color: #B6B6B6;
}

.product-block:hover .beat .beat-details .album-year .number
{
    color: #949494;
}

.product-block .buy-buttons
{
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.product-block:hover .buy-buttons
{
    opacity: 1;
}

.product-block .buy-buttons .btn
{
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0px;
    width: 110px;
    margin-right: 5px;
}

.product-block .buy-buttons .btn.btn-nfp
{
    background-color: transparent;
    border-color: @blue;
    position: relative;
}

.product-block .buy-buttons .btn.btn-non-exclusive
{
    background-color: transparent;
    border-color: @red;
    position: relative;
}

.product-block .buy-buttons .btn.btn-exclusive
{
    background-color: transparent;
    border-color: @gold;
    position: relative;
}

.product-block .buy-buttons .btn.btn-nfp:hover
{
    background-color: #197bb1;
    border-color: #1986b1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product-block .buy-buttons .btn.btn-non-exclusive:hover
{
    background-color: #af1943;
    border-color: #af1943;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product-block .buy-buttons .btn.btn-exclusive:hover
{
    background-color: #c7910d;
    border-color: #c7910d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product-block .buy-buttons .btn .price
{
    font-size: 24px;
}

/** End of Author Profile **/

.hero-unit .header-content .banner-search .small-info li
{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 600px)
{
    .audiozy-recent-products
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .hero-unit .header-content .banner-search .small-info
    {
        font-size: 12px;
    }
    .hero-unit .header-content .banner-search .small-info li
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer
    {
        text-align: center;
    }
}

.hero-unit .header-content .navbar .navbar-header .navbar-brand
{
    padding-top: 0px;
    margin-top: 10px;
}

@media (max-width: 600px)
{
    .audiozy-heading
    {
        text-align: center;
    }
    .audiozy-heading .description
    {
        font-size: 14px;
    }
}

.hero-unit .header-content .container .navbar
{
}

.audiozy-heading .description i
{
    margin-right: 8px;
}

.bsg-player .player-options .playlist,
 .bsg-player .player-options .mute-toggle
{
}

.bsg-player .buy-buttons .btn i
{
}

.bsg-player .buy-buttons .btn:hover
{
    background-color: #7B467B;
}

.footer .container
{
}

.bsg-player .time
{
    line-height: 65px;
}

.bsg-player .time div
{
}

@media (max-width: 600px)
{
    .bsg-player .player-seek
    {
        width: auto;
    }
}

.bsg-player .player-buttons .play a:hover
{
    background-color: @dark-purple;
}

.bsg-player .player-options
{
}

.bsg-player .player-options .playlist
{
    margin-right: -2px;
    border-left: 1px solid #3a3a3a;
}

.bsg-player .options
{
    width: 65px;
    height: 65px;
    z-index: 999;
    line-height: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #FFF;
    border-right: 1px solid #3a3a3a;
    border-left: 1px solid #3a3a3a;
    margin-left: 5px;
}

.bsg-player .search:hover
{
    background-position: left top;
}

.bsg-player .logo img:hover
{
    opacity: 1;
}

@media (max-width: 600px)
{
    .bsg-player .player-buttons
    {
        position: absolute;
    }
}

container.beatmaker
{
    background-color: #c11a1a;
}

.beat-details
{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}

.product-block:hover .product-image img
{
    opacity: 0.6;
}

.product-block .detail-buttons .btn.btn-non-exclusive
{
    background-color: @red;
    border-color: @red;
}

.product-block .detail-buttons .btn.btn-exclusive
{
    background-color: @gold;
    border-color: @gold;
}

h1
{
    margin-top: 40px;
    margin-bottom: 0px;
}

.modal .right-wing
{
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-left: 1px solid #999999;
    background-color: #e9e9e9;
}

.modal .right-wing h2
{
    font-size: 20px;
}

.modal-dialog
{
    width: 90%;
}

.content-about
{
    padding-left: 30px;
    padding-right: 20px;
}

.modal .right-wing .btn-primary
{
    background-color: @purple;
    border-color: @purple;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal .right-wing .title
{
    font-size: 18px;
    text-transform: capitalize;
}

.modal .right-wing .total
{
    margin-right: 0px;
}

.modal .right-wing .btn
{
    width: 100%;
    border-radius: 0%;
    text-transform: uppercase;
}

.modal .right-wing .btn-default
{
    margin-top: 10px;
}

.modal-body .list-retrieved li div
{
    color: @purple;
    font-size: 24px;
    margin-right: 20px;
}

.modal .right-wing div img
{
    width: 175px;
}

.modal .right-wing .agree-button
{
    margin-top: 20px;
    display: inline-flex;
}

.modal .right-wing .agree-button input
{
    display: block;
    margin-left: 5px;
    margin-right: 10px;
    width: 10%;
}

.modal .right-wing .agree-button label
{
    display: inline-block;
}

.list-options input
{
    margin-left: 5px;
    margin-right: 5px;
}

.product-block .content
{
    background: #333333;
    width: auto;
    overflow: hidden;
    padding: 8px 8px 8px 10px;
}

@media (max-width: 600px)
{
    .product-block .content
    {
        float: left;
    }
    .product-block .product-image img
    {
        width: 100%;
    }
    .product-block .buy-buttons .btn
    {
        width: 50%;
        margin-right: 0;
        margin-top: 0;
    }
}

.modal .right-wing .beatmaker
{
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}

.product-block .content .genre
{
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 34px;
    text-transform: capitalize;
}

.product-block .content .genre a
{
    color: #999;
}

.audiozy-recent-products .recent-blocks .buy-buttons .license-details
{
    width: 50%;
    text-align: center;
    float: right;
    padding-top: 12px;
}

.audiozy-recent-products .recent-blocks .buy-buttons .license-details a
{
    text-decoration: none;
    color: #999999;
}

.audiozy-recent-products .recent-blocks .buy-buttons .license-details:hover a
{
    color: #FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product-block .content .genre a:hover
{
    color: @purple;
    text-decoration: none;
}

@media (max-width: 601px)
{
    .product-block .buy-buttons
    {
        text-align: left;
    }
}

@media (max-width: 600px)
{
    .product-block .buy-buttons .btn.btn-non-exclusive
    {
        float: right;
        background-color: @red;
    }
    .product-block .buy-buttons .btn.btn-nfp
    {
        background-color: @blue;
    }
    .product-block .buy-buttons .btn.btn-exclusive
    {
        background-color: @gold;
    }
}

null
{
    color: #FFF;
}

