@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
/***************************************** TABS MENU SECTION ***********************************************/
.fes-vendor-menu-bsg {
  margin-top: 30px;
}
.fes-vendor-menu-bsg > ul {
  text-align: center;
}
.fes-vendor-menu-bsg > ul li {
  background: #eeeeee;
  padding: 10px 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 2px auto;
}
.fes-vendor-menu-bsg > ul li > a {
  padding: 25px 30px;
  text-decoration: none;
  color: #919191;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.fes-vendor-menu-bsg > ul li:hover {
  background: #9a6a9b;
}
.fes-vendor-menu-bsg > ul li:hover a {
  color: #FFFFFF;
}
.fes-vendor-menu-bsg > ul li.active {
  background-color: #9a6a9b;
}
.fes-vendor-menu-bsg > ul li.active a {
  color: #FFFFFF;
}
.vendor-line {
  width: 100%;
  height: 5px;
  background: #ebebeb;
  margin-top: -16px;
  margin-bottom: 80px;
}
/***************************************** HEADING STYLING ***********************************************/
.audiofy-heading {
  clear: both;
  height: 13.09375px;
  background-color: #F0F0F0;
}
.audiofy-heading .title {
  background-color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  padding-right: 20px;
  margin-bottom: 42px;
  margin-top: -4px;
  line-height: 26px;
}
.audiofy-heading .title h3 {
  margin: 0px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px !important;
  font-family: 'Roboto Slab', serif;
}
/******************************** GLOBAL STYLE *********************************/
.form-style {
  border-color: #e7e7e7;
  box-shadow: none !important;
  outline: 0px !important;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
  height: 45px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
}
.form-style:focus,
.form-style active {
  border-color: #e7e7e7;
  box-shadow: none !important;
  outline: 0px !important;
}
.form-style.textarea {
  height: auto;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  resize: none;
}
p.title {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 12px;
  color: #555555;
  margin-bottom: 10px;
  line-height: 26px;
  letter-spacing: 0.25px;
}
small.help-text {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  line-height: 26px;
  font-size: 12px;
  letter-spacing: 0.25px;
  text-transform: none;
}
.number {
  font-family: 'Open Sans', sans-serif;
}
/************************************************ LEFT WING ************************************************/
.name-and-description {
  position: relative;
  margin-bottom: 50px;
  margin-right: 30px;
}
.left-wing .files {
  margin-bottom: 50px;
}
.left-wing .files .btn-file {
  outline: none;
  box-shadow: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 12px;
  border: 2px dashed #9a6a9b;
  text-transform: none;
  background: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #9a6a9b;
}
.left-wing .files .input-group {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #555555;
}
.left-wing .files .file-upload .form-control {
  border-radius: 0px !important;
  border-color: #e7e7e7;
  padding-top: 10px;
  background: #fcfcfc;
  border-color: e9e9e9;
  box-shadow: none;
}
.left-wing .category-attributes {
  margin-bottom: 50px;
}
.name-and-description .category {
  margin-bottom: 20px;
}
.category-attributes .category .btn-default {
  color: #8c8c8c;
}
.category-attributes .category .input-group .form-control {
  box-shadow: none;
  border-radius: 0px;
  background: #fcfcfc;
  border-color: #e9e9e9;
}
.category-attributes .category .input-group .dropdown-toggle {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e9e9e9;
  background: #f0f0f0;
}
.category-attributes .category .form-control {
  margin-top: 10px;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
  margin-top: 0px;
}
.name-and-description .category .selectpicker {
  background: #fcfcfc;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border-color: #e9e9e9;
  margin-bottom: 20px;
  height: 45px;
}
.category-attributes .category .selectpicker:focus {
  border-color: #e9e9e9;
  outline: none !important;
}
.category-attributes .category .dropdown-menu {
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  border-color: #e9e9e9;
}
.category-attributes .category .dropdown-menu li a {
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.category-attributes .category .dropdown-menu .active a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #51c0e9 !important;
  padding: 10px;
}
.category-attributes .category .dropdown-menu .active a .fa {
  font-size: 20px;
  margin-top: 0px !important;
}
.category-attributes ul.looped-audio {
  margin: 0px;
  margin-bottom: 20px;
}
.category-attributes ul.looped-audio li label {
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
  color: #555555;
  font-size: 12px;
}
.category-attributes ul.looped-audio li:first-child {
  padding-left: 0px;
}
.category-attributes .selectize-input {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e7e7e7;
  height: auto;
  background: #fcfcfc;
}
.category-attributes ul.instrument-only {
  margin: 0px;
  margin-bottom: 20px;
}
.category-attributes ul.instrument-only li label {
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
  color: #555555;
  font-size: 12px;
}
.category-attributes ul.instrument-only li:first-child {
  padding-left: 0px;
}
.category-attributes .bit-rate {
  margin-bottom: 40px;
}
.category-attributes .bit-rate .btn-default {
  color: #8c8c8c;
}
.category-attributes .bit-rate .input-group .form-control {
  box-shadow: none;
  border-radius: 0px;
  background: #fcfcfc;
  border-color: #e9e9e9;
}
.category-attributes .bit-rate .input-group .dropdown-toggle {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e9e9e9;
  background: #f0f0f0;
}
.category-attributes .bit-rate .form-control {
  margin-top: 10px;
  border-color: #e7e7e7;
  box-shadow: none;
  outline: 0px;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  background: #fcfcfc;
  margin-top: 0px;
}
.category-attributes .bit-rate .selectpicker {
  background: #fcfcfc;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border-color: #e9e9e9;
  margin-bottom: 20px;
  height: 45px;
}
.category-attributes .bit-rate .selectpicker:focus {
  border-color: #e9e9e9;
  outline: none !important;
}
.category-attributes .bit-rate .dropdown-menu {
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  border-color: #e9e9e9;
}
.category-attributes .bit-rate .dropdown-menu li a {
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.category-attributes .bit-rate .dropdown-menu .active a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #51c0e9 !important;
  padding: 10px;
}
.category-attributes .bit-rate .dropdown-menu .active a .fa {
  font-size: 20px;
  margin-top: 0px !important;
}
.tags {
  margin-bottom: 50px;
  margin-right: 30px;
}
.tags .selectize-input {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  border-color: #e7e7e7;
  height: 190px;
}
.btn-custom {
  outline: none;
  border-radius: 0px;
  border-color: #9a6a9b;
  color: #FFFFFF;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  line-height: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
  background-color: #9a6a9b;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-custom:hover {
  background: #FFFFFF;
  color: #9a6a9b;
}
/**************************************** RIGHT WING **********************************************/
.widget {
  border: 0px solid #e9e9e9;
  margin-top: 10px;
}
.widget h4.heading {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 20px;
  letter-spacing: 1px;
  text-align: center;
}
.widget h5.sub-heading {
  font-size: 16px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 500;
}
.widget p {
  font-size: 14px;
  line-height: 26px;
  color: #8c8c8c;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0px;
}
.widget > h5.progress-bar-heading {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  letter-spacing: 1px;
}
.widget .progress {
  height: 10px;
  border-radius: 0px;
  background: #8c8c8c;
  margin-bottom: 20px;
}
.widget .progress .progress-bar {
  background: #9a6a9b;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
.selectize-control.plugin-remove_button [data-value] .remove {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px !important;
  text-align: center;
  font-weight: bold;
  font-size: 18px !important;
  color: #FFFFFF !important;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 1px 0 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px !important;
  border-left: 1px solid #bdbcbc !important;
  padding-left: 5px !important;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 5px !important;
  padding: 5px 5px !important;
  background: #a9a9a9 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-size: 12px !important;
  font-family: 'Roboto Slab', serif !important;
  padding-left: 10px !important;
}
/******************************************** STYLES FOR SELECTIZE TAGS *****************************************/
@media (max-width: 480px) {
  .fes-vendor-menu-bsg {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .fes-vendor-menu-bsg > ul {
    text-align: center;
  }
  .fes-vendor-menu-bsg > ul li {
    display: block;
  }
  .vendor-line {
    display: none;
  }
}
.upload-page {
  background-color: #FFF;
}
.licenses .not-for-profit {
  background-color: rgba(88, 156, 181, 0.11);
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 20px;
}
.licenses .item {
  width: 80%;
  padding-left: 10px;
}
.licenses .price {
  float: right;
  width: 20%;
  padding-right: 8px;
}
.licenses .license {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 10px;
  display: inline-flex;
}
.licenses .wave-files {
  display: inline-flex;
  padding-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  width: 100%;
}
.licenses .wave-files .item {
  font-size: 14px;
  color: #555;
  width: 80%;
  padding-left: 42px;
}
.licenses .item label p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 5px;
  padding-left: 34px;
}
.licenses .license .item input[type=checkbox] {
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  clip: rect(0 0 0 0);
  margin: 0 -2.5rem -2.5rem 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  opacity: 0.001;
}
.topcoat-checkbox {
  position: relative;
  display: inline-block;
  line-height: 2.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topcoat-checkbox__checkmark {
  display: inline-block;
  vertical-align: top;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topcoat-checkbox__checkmark:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  background: #e5e9e9;
  border: 1px solid #a5a8a8;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
}
.topcoat-checkbox__checkmark:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 28px;
  height: 11px;
  background: transparent;
  border: 7px solid #666666;
  border-top: none;
  border-right: none;
  border-radius: 2px;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
:checked + .topcoat-checkbox__checkmark:after {
  opacity: 1;
}
:focus + .topcoat-checkbox__checkmark:before {
  border: 1px solid #0940fd;
  -webkit-box-shadow: 0 0 0 2px #6fb5f1;
  box-shadow: 0 0 0 2px #6fb5f1;
}
:disabled + .topcoat-checkbox__checkmark:before {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.licenses .non-exclusive {
  background-color: rgba(187, 60, 84, 0.11);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
}
.licenses .exclusive {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(231, 188, 14, 0.19);
  margin-top: 20px;
}
.name-and-description .file-upload .input-group {
  font-family: 'Roboto Slab', serif;
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}
.name-and-description .file-upload .form-control {
  border-radius: 0px !important;
  border-color: #e7e7e7;
  padding-top: 10px;
  background: #fcfcfc;
  border-color: e9e9e9;
  box-shadow: none;
}
.name-and-description .file-upload .btn-file {
  border-radius: 0px !important;
  outline: none;
  box-shadow: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  border: 0px;
  background-color: #9a6a9b;
}
.left-wing .files .btn-file i {
  font-size: 2000%;
  color: rgba(154, 106, 155, 0.56);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.widget h5.sub-heading span {
  font-weight: 700;
}
.left-wing .files .btn-file:hover i {
  color: #9a6a9b;
}
.category-attributes {
  margin-right: 30px;
}
.licenses {
  margin-bottom: 50px;
}
.left-wing {
  margin-right: 30px;
  margin-top: 40px;
}
.upload-status {
  margin-bottom: 50px;
  margin-right: 30px;
}
.disclaimer p {
  padding-top: 30px;
}
.topcoat-checkbox span {
  font-size: 20px;
  padding-left: 5px;
  color: #333;
}
