<!DOCTYPE HTML>
<html>
    <head>
        <title>ADDNEWTRACK</title>
    </head>
    <body>
        <header class="container"></header>

        <div class="container">
        	<div class="row-fluid dashboard">
                <div class="span9">
            		<div class="d_right">
                    	<div class="row-fluid top_h">
                            <div class="span12"> <h2><%= image_tag ("add_ico.png") %> Add New Track</h2></div>
                        </div>
                       <div class="row-fluid add_track">
                       		<div class="span3"></div>
                            <div class="span3 upload"><%= image_tag ("upload.png") %><h4>Select beat to upload <span>Select beat to upload</span></h4></div>
                            <div class="span1"></div>
                            <div class="span5">
                            	<ul class="create_cat">
                                	<li>WAV format only</li>
                                    <li>Disable all FX on master bus</li>
                                    <li>Make sure beat is free of sound tag</li>
                                    <li>Make sure beat is free of sound tag</li>
                                    <li>If you wanna upload your Track outs: Wait a bit, there will be a spot for that in a couple seconds</li>
                                </ul>
                            </div>
                        </div>
                   </div>
            	</div>
            </div>
        </div>

    </body>

</html>