<%= render :partial => 'layouts/user_sidebar' %>
<%= form_for Beatpack.new do |f| %>
  <% if @beatpack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beatpack.errors.count, "error") %> prohibited this track from being saved:</h2>
      <ul>
        <% @beatpack.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="span9">
  <div class="container">
    <div class="row-fluid dashboard">
      <div class="span9">
        <div class="d_right">
          <div class="row-fluid top_h">
                <div class="span9"> <h3><%= image_tag "2beat.png" %> <span>Beat Packs /</span> Create Beat Pack</h3></div>
                <div class="span3">
                  <a href="#" class="save">Save</a>
                    <a href="#" class="save">cancel</a>
                </div>
          </div>
          
          <div class="fm_sec">
            <h3>BASIC INFO</h3>
            <div class="row-fluid raw_sec">
              <div class="span2">Title</div>
              <div class="span10"><input type="text" /></div>
              </div>
              <div class="row-fluid raw_sec"><!--raw section!-->
                <div class="span6">
                  <div class="row-fluid raw_sec">
                    <div class="span4"> </div>
                    <div class="span8"> </div>
                  </div>
                  <div class="row-fluid raw_sec">
                    <div class="span4">Image</div>
                    <div class="span8"><input type="text" value="Browse featured image.." class="browse" /></div>
                  </div>
                </div>
                <div class="span6">
                  <div class="row-fluid raw_sec">
                    <div class="span4"> </div>
                    <div class="span8"> </div>
                  </div>
                  <div class="row-fluid raw_sec">
                    <div class="span4"> </div>
                    <div class="span8"> </div>
                  </div>
                </div>
              </div>
            </div>

            <h3>SELECT FEATURED TRACKS</h3>
            <div class="row-fluid s_track">
              <div class="span2"></div>
                <div class="span4">
                  <h3>Your tracks</h3>
                </div>
                <div class="span2 a_btn">
                  <a href="#" class="add">Add</a>
                  <a href="#" class="add">Remove</a>
                </div>
                <div class="span4">
                  <h3>Beat Pack track list</h3>
                    <ul>
                      <li>Themata</li>
                        <li>The Lone Ranger</li>
                        <li>Microfire</li>
                        <li>Lulalby of Birdland</li>
                        <li>Soliloquy</li>
                        <li>Quiet Night</li>
                      </ul>
                </div>
              </div>

              <div class="fm_sec no_bdr">
                <h3>LICENSE<span>(s)</span></h3>
                  <div class="row-fluid">
                    <div class="span6">
                        <div class="linces_sec">
                            <div class="row-fluid">
                                <div class="span1"><%= image_tag "checked.png" %></div>
                                  <div class="span11">
                                    <h3>Promotion only</h3>
                                      <p>Customer does not make money with the beat.*</p>
                                      <div class="row-fluid">
                                        <div class="span5">
                                          <label>License price</label>
                                          <input type="text" />
                                        </div>
                                        <div class="span2"></div>
                                        <div class="span5">
                                          <label>TPT Price</label>
                                          <input type="text" />
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="linces_sec">
                              <div class="row-fluid">
                                  <div class="span1"><%= image_tag "checked.png" %></div>
                                  <div class="span11">
                                    <h3>For profit</h3>
                                      <p>Customer makes money with the beat.</p>
                                      <div class="row-fluid">
                                        <div class="span5">
                                          <label>License price</label>
                                          <input type="text" />
                                        </div>
                                        <div class="span2"></div>
                                        <div class="span5">
                                          <label>TPT Price</label>
                                          <input type="text" />
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        
                        
                        <div class="span6">
                          <div class="linces_sec">
                            <div class="row-fluid">
                                <div class="span1"><%= image_tag "checked.png" %></div>
                                  <div class="span11">
                                    <h3>Exclusive</h3>
                                      <p>Customer has a lifetime exclusive right to make money from this beat.  Beat has never been sold before, nor will after***.</p>
                                      <div class="row-fluid"><!--row section!-->
                                        <div class="span5">
                                            <label>License price</label>
                                              <input type="text" />
                                          </div>
                                           <div class="span2"></div>
                                          <div class="span5">
                                            <label>TPT Price</label>
                                              <input type="text" />
                                          </div>
                                         
                                      </div><!--row section!-->
                                  </div>
                              </div>
                            </div><!--lincess section!-->
                            
                            <h6>* except from performance royalties due to statutory usage like when aired on the radio or on some non-interactive streaming services.</h6>
                            <h6><em>** The amount will be applied IN ADDITION to license price.</em></h6>
                            <h6><em>*** Therefore, if this license is bought, the beat will be remove.  In the event that any other license is sold, the Exclusive license selection will be removed and won't be available anymore for this beat (in order to respect the plrinciple of exclusivity; a beat is not exclusive if 2 different persons have the right to use it).</em></h6>
                          
                        </div>
                      </div>
                      <div class="span12 save_btn"> <%= f.submit "I'M DONE" %> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
 
 

 





 


<% end %>
 
