<h1>Listing B</h1>
<table>
  <thead>
    <tr>
      <th>Mp3 File</th>
      <th>Track File</th>
      <th>TPT File</th>
      <th>TPT Files Count</th>
      <th>Title</th>
      <th>Bpm</th>
      <th>Genere</th>
      <th>Subgenere</th>
      <th>Tags</th>
      <th>Key</th>
      <th>Mood1</th>
      <th>Mood2</th>
      <th>Comment</th>
      <th>Promotion licence price</th>
      <th>Promotion tpt price</th>
      <th>Exclusive licence price</th>
      <th>Exclusive tpt price</th>
      <th>Profit licence price</th>
      <th>Profit tpt price</th>
      <th>User</th>
      <th>Download count</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @beatpacks.each do |track| %>
      <tr>
        <td>
          <% if track.mp3_track_file? %>
            <%= link_to 'Download', mp3_download_track_path(track) %>
          <% end %>
        </td>
        <td>
          <% if track.track_file? %>
            <%= link_to 'Download', download_track_path(track) %>
          <% end %>
        </td>
        <td>
          <% if track.tpt? %>
            <%= link_to 'Download', track.tpt.url %>
          <% end %>
        </td>
        <td><%= track.tpt_files_count %></td>
        <td><%= track.title %></td>
        <td><%= track.bpm %></td>
        <td><%= track.genere %></td>
        <td><%= track.subgenere %></td>
        <td><%= track.tags %></td>
        <td><%= track.key %></td>
        <td><%= track.mood1 %></td>
        <td><%= track.mood2 %></td>
        <td><%= track.comment %></td>
        <td><%= track.promotion_licence_price %></td>
        <td><%= track.promotion_tpt_price %></td>
        <td><%= track.exclusive_licence_price %></td>
        <td><%= track.exclusive_tpt_price %></td>
        <td><%= track.profit_licence_price %></td>
        <td><%= track.profit_tpt_price %></td>
        <td><%= track.user_id %></td>
        <td><%= track.download_count %></td>
        <td><%= track.active %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= image_tag ("plus.png") %>
<%= link_to 'ADD NEW TRACK', new_track_path %>


