    
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to(image_tag("logo2.png"), root_path, :class => "navbar-brand navtitle") %>
                <ul class="nav navbar-left top-nav">
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle browse" data-toggle="dropdown">BROWSE<b class="caret1"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/users/edit"><i class="fa fa-fw fa-user"></i> Profile</a>
                            
                        </li>
                       
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"fa fa-fw fa-power-off" )%>     
                        </li>
                    </ul>
                </li>
                
            </ul>
            </div>
            
            <!-- Top Menu Item left-->
            <div class="col-lg-5 col-sm-3 col-md-5 hidden-xs">
                     <div class="sidebar-search">
                            <div class="input-group custom-search-form topSearch">
                                <input type="text" placeholder="Search Beats, Beat Packs, Beatmakers or Tags" class="form-control form-control2">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                      </div>
                </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                 
                 <li>
                    <%= link_to image_tag('upload1.png'), new_track_path %>
                </li>
                 <li>
                   <a href="#" class="userIpic"><%= image_tag "userimage.png" %></a>
                  </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle browse" data-toggle="dropdown"> 

                        <%= current_user.Firstname %> 

                         <i class="fa fa-chevron-down downarrow"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                             <%= link_to 'dashboard', dashbord_path, :class =>"fa fa-fw fa-user" %>
                        </li>
                      
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Inbox </a>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"fa fa-fw fa-power-off" )%>
                        </li>
                    </ul>   
                </li>
                
                <li>
                    <a href="<%= current_user.present? ? billing_payments2_carts_path : billing_payments_carts_path %>"><%= image_tag "dolorbucket2.png" %></a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
         
        </nav>