  

<div id="page-wrapper2">
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->

          <div class="navbar-header searchareaspace">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
              <%= link_to(image_tag("logo2.png"), root_path, :class => "navbar-brand navtitle") %>
            <ul class="nav navbar-right top-nav">
              <li> <%#= link_to "SELL", root_path, :class => "browse" %></li>
              <li class="dropdown">
          </ul>
        </div>
        
        
        
    <!-- Top Menu Item left-->
        <div class="col-lg-5 col-sm-3 col-md-5 hidden-xs">
          <div class="sidebar-search">
            <div class="input-group custom-search-form topSearch">
              <input type="text" placeholder="Search Beats, Beat Packs, Beatmakers or Tags" class="form-control form-control2 searchareabg">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default searchareabg">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
                <!-- /input-group -->
          </div>
        </div>
    
         
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
            <ul class="nav navbar-right top-nav">
              <li>
                <%#= link_to('LOGIN',"#",:class => 'browse') %> 
                <%= link_to('Login',"#",:id =>"login")%>
              </li>
              <li> 
                <a href= "/users/sign_up" class="browse logincolor" >Join</a>
              </li>    
              <li>
                <a href="<%= current_user.present? ? billing_payments2_carts_path : billing_payments_carts_path %>"><%= image_tag "dolorbucket2.png" %></a>
                  
              </li>
          </ul>
        </ul>
      </nav>
    </div>
  </div>
</div>


 <script>
$('#login').colorbox({href:"/users/sign_in"});
</script>