


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav listItemtyphography">
                  
                    <li class="navlistborder">
                     <%= link_to 'Dashboard', dashbord_path ,:remote => true, :i => "fa fa-fw fa-asterisk"%>
                         <!-- <a href="/dashbord"><i class="fa fa-fw fa-asterisk"></i> Dashboard</a>  -->
                    </li>
                    <li class="navlistborder">
                        <a href="/users/edit"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li class="navlistborder">
                        <a href="/tracks"><i class="fa fa-fw fa-stop"></i> Tracks</a>
                    </li>
                    <!-- <li class="navlistborder">
                        <a href="/beatpacks"><i class="fa fa-fw fa-book"></i> Beatt Packs</a>
                    </li> 
                    <li class="navlistborder">
                        <a href="#"><i class="fa fa-fw fa-play-circle"></i> Widget</a>
                    </li>
                    <li class="navlistborder">
                        <a href="#"><i class="fa fa-fw fa-signal"></i> Reports</a>
                    </li>
                    <li>-->
                     <li class="navlistborder">
                        <%= link_to 'Settings', settings_path ,:remote => true, :i => "fa fa-fw fa-certificate"%>
                    </li>
                </ul>
            </div>