<!DOCTYPE html>
<html>
  <title>
    <% if content_for?(:title) %>
    <%= yield(:title) %>
    <% else %>
    <%= "Boombond" %>
    <%end%>
  </title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

  </head>


  <body>
    
    <%= yield %>
    
  </body>
  
</html>

