<!DOCTYPE html>
<html><title>Boombond</title>
<head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link rel="stylesheet" href="http://www.jacklmoore.com/colorbox/example2/colorbox.css" />
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    
    <%= csrf_meta_tags %>

    </head>

<body>
  <div id="wrapper">
    <% if user_signed_in? %> 
      <% if current_user.has_role?(:producer_or_beat_maker_or_composer) %>
          <%= render :partial => 'layouts/logged' %>
      <% else %>
          <%= render :partial => 'layouts/loggednon' %>
      <% end %>
    <% else %>
      <%= render :partial => 'layouts/navigation' %>
    <% end %>

           <div id="page-wrapper">
                <%= yield %>

            </div>
      </div><!--container part-->
    </body>

    




</html>

<script type="text/javascript">
      $(document).ready(function(){


         $('.pmi').click(function(){

          $('.nav').toggle(1000);


        }).click();
          


        $(".role").change(function(){
          $( "select option:selected").each(function(){
            if($(this).attr("value")=="Producer or beat maker or composer"){
              window.alert ("You should be a Producer OR BeatMaker OR Composer" )
                $(".Artist").show();
                $(".lft_part").show();
              }
            if($(this).attr("value")=="Music lover"){
              $(".Artist").hide();
              $(".lft_part").hide();
                 
            }
            if($(this).attr("value")=="Dj"){
              $(".Artist").hide();
              $(".lft_part").hide();
                
            }
            if($(this).attr("value")=="Singer"){
              $(".Artist").hide();
              $(".lft_part").hide();
                
            }
            if($(this).attr("value")=="Others"){
              $(".Artist").hide();
              $(".lft_part").hide();
                
            }
          });
        }).change();
      
    });

</script>